@charset "utf-8";
table.tb-skin {
    border-radius: .5em .5em 0 0;    -webkit-border-radius: .5em .5em 0 0;	overflow: hidden;	border:none;box-shadow: 0 0 0 1px #ddd inset;
}
table.tb-skin>thead {
    background: #AAADC0;
    color: #fff;
    font-weight: 400;
    border-radius: .5em .5em 0 0;
    overflow: hidden;
}
table.tb-skin>thead>tr>*{font-weight: 300;font-size: 14px}
table.tb-skin > * > tr > :first-child {
    border-left: none !important;
}
table.tb-skin > * > tr > :last-child {
    border-right: none !important;
}
table.tb-skin > thead > tr > th[align="center"]{vertical-align: middle!important}
table.tb-skin td{font-size: 12px;color: #343434}
table.tb-skin > tbody > tr > td{vertical-align: middle}
.card-header .card-title.active i{ transform: rotate(180deg);-webkit-transform: rotate(180deg);transition: .2s all ease-in-out;-webkit-transition: .2s all ease-in-out}
/*responsive*/
@media (max-width:1024px){

}
@media (max-width:991px){

}

@media (max-width:480px){

}
@media (max-width:414px){

}
@media (max-width:360px){

}
@media (max-width:320px){

}
