@charset "utf-8";html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
h1{margin:.67em 0;font-size:2em}
mark{color:#000;background:#ff0}
small{font-size:80%}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{height:0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{margin:0;font:inherit;color:inherit}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:none;margin:0;padding:0}
legend{padding:0;border:0}
textarea{overflow:auto}
optgroup{font-weight:bold}
table{border-spacing:0;border-collapse:collapse}
td,th{padding:0}
@media print {
*,*:before,*:after{color:#000 !important;text-shadow:none !important;background:transparent !important;-webkit-box-shadow:none !important;box-shadow:none !important}
a,a:visited{text-decoration:underline}
a[href]:after{content:" (" attr(href) ")"}
abbr[title]:after{content:" (" attr(title) ")"}
a[href^="#"]:after,a[href^="javascript:"]:after{content:""}
pre,blockquote{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group}
tr,img{page-break-inside:avoid}
img{max-width:100% !important}
p,h2,h3{orphans:3;widows:3}
h2,h3{page-break-after:avoid}
.navbar{display:none}
.btn>.caret,.dropup>.btn>.caret{border-top-color:#000 !important}
.label{border:1px solid #000}
.table{border-collapse:collapse !important}
.table td,.table th{background-color:#fff !important}
.table-bordered th,.table-bordered td{border:1px solid #ddd !important}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html{/*font-size:10px;*/-webkit-tap-highlight-color:rgba(0,0,0,0)}
body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff}
input,button,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit;max-width:100%}
a{color:#337ab7;text-decoration:none}
a:hover,a:focus{color:#23527c;text-decoration:underline}
a:focus{outline:none}
figure{margin:0}
img{vertical-align:middle}
.img-responsive,.thumbnail>img,.thumbnail a>img,.carousel-inner>.item>img,.carousel-inner>.item>a>img{display:block;max-width:100%;height:auto}
.img-rounded{border-radius:6px}
.img-thumbnail{display:inline-block;max-width:100%;height:auto;padding:4px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.img-circle{border-radius:50%}
.sq-img{position:relative;padding:0;margin:0}
.sq-img:before{content:"";display:block;padding:100% 0 0;overflow:hidden}
.sq-img>img{display:block;position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;object-position:50% 50%}
.sq-img>figcaption:before{content:"";display:block;position:absolute;left:0;right:0;bottom:0;height:100px;background:linear-gradient(-180deg, rgba(0,0,0, 0) 53%, #000 100%);z-index:1}
.sq-img>figcaption{position:absolute;left:0;bottom:0;right:0;color:#fff;padding:10px;z-index:2}
.sq-img>figcaption *{color:#fff;font-size:16px;position:relative;z-index:2;margin:0}
hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee}
[role="button"]{cursor:pointer}
blockquote{padding:10px 20px;margin:0 0 20px;border-left:5px solid #eeeeee}
blockquote p{font-size:17.5px;font-weight:300;line-height:1.25}
blockquote p:last-child{margin-bottom:0}
blockquote small{display:block;line-height:1.428571429;color:#999999}
blockquote small:before{content:'\2014 \00A0'}
blockquote[class*="pull-right"]{padding-right:10px;padding-left:0;border-right:5px solid #eeeeee;border-left:0}
blockquote[class*="pull-right"] p,
blockquote[class*="pull-right"] small{text-align:right}
blockquote[class*="pull-right"] small:before{content:''}
blockquote[class*="pull-right"] small:after,
blockquote[class*="pull-right"] .small:after{content:'\00A0 \2014'}
blockquote:before,
blockquote:after{content:""}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:inherit;font-weight:500;line-height:1.1;color:inherit}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small,h1 .small,h2 .small,h3 .small,h4 .small,h5 .small,h6 .small,.h1 .small,.h2 .small,.h3 .small,.h4 .small,.h5 .small,.h6 .small{font-weight:normal;line-height:1;color:#777}
h1,.h1,h2,.h2,h3,.h3{margin-top:20px;margin-bottom:10px}
h1 small,.h1 small,h2 small,.h2 small,h3 small,.h3 small,h1 .small,.h1 .small,h2 .small,.h2 .small,h3 .small,.h3 .small{font-size:65%}
h4,.h4,h5,.h5,h6,.h6{margin-top:10px;margin-bottom:10px}
h4 small,.h4 small,h5 small,.h5 small,h6 small,.h6 small,h4 .small,.h4 .small,h5 .small,.h5 .small,h6 .small,.h6 .small{font-size:75%}
h1,.h1{font-size:36px}
h2,.h2{font-size:30px}
h3,.h3{font-size:24px}
h4,.h4{font-size:18px}
h5,.h5{font-size:14px}
h6,.h6{font-size:12px}
p{margin:0 0 10px}
small,.small{font-size:85%}
[hidden],[class*="_hidden"],.hid,.js-img{display:none !important}
.cb{clear:both}
.cb-af{content:"";display:block;clear:both}
/*header*/
[class*="logo"]{padding:0;margin:0;position:relative;max-width:250px;max-height:100px}
[class*="logo"] a,
[class*="logo"] a span,
[class*="logo-ft"] a,
[class*="logo-ft"] a span{position:relative;display:block;width:100%;height:100%;text-indent:-9999px;z-index:2}
[class*="logo"] a{position:absolute;top:0;left:0;right:0;bottom:0;z-index:2}
[class*="logo"] img{position:relative;z-index:1;max-height:100px}
[id*="stattruehits"]{ position:absolute;top:0;right:5px;opacity:0}
.btn-nv-m{ display:none}
@media (max-width:800px) {
[id="header"] [class*="logo"]{ float:left}
[class*="logo"] img{display:block;max-height:50px}
.btn-nv-m{ display:block}
}
/* flexbox grid. */
.container-fluid{margin-right:auto;margin-left:auto;padding-right:1rem;padding-left:1rem}
.container{margin-right:auto;margin-left:auto}
.row,[class*="_chd"][class*="-cl"],[class*="_flex"]{box-sizing:border-box;display:-ms-flexbox;display:-webkit-box;display:flex;-ms-flex:0 1 auto;-webkit-box-flex:0;flex:0 1 auto;-ms-flex-direction:row;-webkit-box-orient:horizontal;-webkit-box-direction:normal;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap}
.d-flex{display:flex}
.d-block{display:block}
.d-inline{display:inline-block}
.flex-nowrap,.nowrap{flex-wrap:nowrap;white-space:nowrap}
.flex-column{flex-direction: column}
.row{margin-right:-0.5rem;margin-left:-0.5rem}
.row.reverse{-ms-flex-direction:row-reverse;-webkit-box-orient:horizontal;-webkit-box-direction:reverse;flex-direction:row-reverse}
.col.reverse{-ms-flex-direction:column-reverse;-webkit-box-orient:vertical;-webkit-box-direction:reverse;flex-direction:column-reverse}
[class*="_self"][class*="-cl"][class*="-xs"],[class*="_chd"][class*="-cl"][class*="-xs"]>*,
.col-xs,.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{box-sizing:border-box;-ms-flex:0 0 auto;-webkit-box-flex:0;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem}
[class~="_chd-cl-xs"]>*,.col-xs{-webkit-flex-grow:1!important;-ms-flex-positive:1!important;-webkit-box-flex:1!important;flex-grow:1!important;-ms-flex-preferred-size:0!important;flex-basis:0!important;max-width:100%}
[class*="_chd"][class*="-cl"][class*="-xs-01"]>*,.col-xs-1{-ms-flex-preferred-size:8.333%;flex-basis:8.333%;max-width:8.333%}
[class*="_chd"][class*="-cl"][class*="-xs-02"]>*,.col-xs-2{-ms-flex-preferred-size:16.667%;flex-basis:16.667%;max-width:16.667%}
[class*="_chd"][class*="-cl"][class*="-xs-25"]>*,.col-xs-25{-ms-flex-preferred-size:20%;flex-basis:20%;max-width:20%}
[class*="_chd"][class*="-cl"][class*="-xs-03"]>*,.col-xs-3{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}
[class*="_chd"][class*="-cl"][class*="-xs-04"]>*,.col-xs-4{-ms-flex-preferred-size:33.333%;flex-basis:33.333%;max-width:33.333%}
[class*="_chd"][class*="-cl"][class*="-xs-05"]>*,.col-xs-5{-ms-flex-preferred-size:41.667%;flex-basis:41.667%;max-width:41.667%}
[class*="_chd"][class*="-cl"][class*="-xs-06"]>*,.col-xs-6{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}
[class*="_chd"][class*="-cl"][class*="-xs-07"]>*,.col-xs-7{-ms-flex-preferred-size:58.333%;flex-basis:58.333%;max-width:58.333%}
[class*="_chd"][class*="-cl"][class*="-xs-08"]>*,.col-xs-8{-ms-flex-preferred-size:66.667%;flex-basis:66.667%;max-width:66.667%}
[class*="_chd"][class*="-cl"][class*="-xs-09"]>*,.col-xs-9{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}
[class*="_chd"][class*="-cl"][class*="-xs-10"]>*,.col-xs-10{-ms-flex-preferred-size:83.333%;flex-basis:83.333%;max-width:83.333%}
[class*="_chd"][class*="-cl"][class*="-xs-11"]>*,.col-xs-11{-ms-flex-preferred-size:91.667%;flex-basis:91.667%;max-width:91.667%}
[class*="_chd"][class*="-cl"][class*="-xs-12"]>*,.col-xs-12{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}
[class~="_self-cl-xs"]{-webkit-flex-grow:1!important;-ms-flex-positive:1!important;-webkit-box-flex:1!important;flex-grow:1!important;-ms-flex-preferred-size:0!important;flex-basis:0!important;max-width:100%}
[class*="_self"][class*="-cl"][class*="-xs-01"]{-ms-flex-preferred-size:8.333%;flex-basis:8.333%;max-width:8.333%}
[class*="_self"][class*="-cl"][class*="-xs-02"]{-ms-flex-preferred-size:16.667%;flex-basis:16.667%;max-width:16.667%}
[class*="_self"][class*="-cl"][class*="-xs-25"]{-ms-flex-preferred-size:20%;flex-basis:20%;max-width:20%}
[class*="_self"][class*="-cl"][class*="-xs-03"]{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}
[class*="_self"][class*="-cl"][class*="-xs-04"]{-ms-flex-preferred-size:33.333%;flex-basis:33.333%;max-width:33.333%}
[class*="_self"][class*="-cl"][class*="-xs-05"]{-ms-flex-preferred-size:41.667%;flex-basis:41.667%;max-width:41.667%}
[class*="_self"][class*="-cl"][class*="-xs-06"]{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}
[class*="_self"][class*="-cl"][class*="-xs-07"]{-ms-flex-preferred-size:58.333%;flex-basis:58.333%;max-width:58.333%}
[class*="_self"][class*="-cl"][class*="-xs-08"]{-ms-flex-preferred-size:66.667%;flex-basis:66.667%;max-width:66.667%}
[class*="_self"][class*="-cl"][class*="-xs-09"]{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}
[class*="_self"][class*="-cl"][class*="-xs-10"]{-ms-flex-preferred-size:83.333%;flex-basis:83.333%;max-width:83.333%}
[class*="_self"][class*="-cl"][class*="-xs-11"]{-ms-flex-preferred-size:91.667%;flex-basis:91.667%;max-width:91.667%}
[class*="_self"][class*="-cl"][class*="-xs-12"]{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;width:100%}
[class*="_chd"][class*="-cl"][class*="-xs-offset-01"]>*,.col-xs-offset-1{margin-left:8.333%}
[class*="_chd"][class*="-cl"][class*="-xs-offset-02"]>*,.col-xs-offset-2{margin-left:16.667%}
[class*="_chd"][class*="-cl"][class*="-xs-offset-25"]>*,.col-xs-offset-25{margin-left:20%}
[class*="_chd"][class*="-cl"][class*="-xs-offset-03"]>*,.col-xs-offset-3{margin-left:25%}
[class*="_chd"][class*="-cl"][class*="-xs-offset-04"]>*,.col-xs-offset-4{margin-left:33.333%}
[class*="_chd"][class*="-cl"][class*="-xs-offset-05"]>*,.col-xs-offset-5{margin-left:41.667%}
[class*="_chd"][class*="-cl"][class*="-xs-offset-06"]>*,.col-xs-offset-6{margin-left:50%}
[class*="_chd"][class*="-cl"][class*="-xs-offset-07"]>*,.col-xs-offset-7{margin-left:58.333%}
[class*="_chd"][class*="-cl"][class*="-xs-offset-08"]>*,.col-xs-offset-8{margin-left:66.667%}
[class*="_chd"][class*="-cl"][class*="-xs-offset-09"]>*,.col-xs-offset-9{margin-left:75%}
[class*="_chd"][class*="-cl"][class*="-xs-offset-10"]>*,.col-xs-offset-10{margin-left:83.333%}
[class*="_chd"][class*="-cl"][class*="-xs-offset-11"]>*,.col-xs-offset-11{margin-left:91.667%}
[class*="_self"][class*="-cl"][class*="-xs-offset-01"]{margin-left:8.333%}
[class*="_self"][class*="-cl"][class*="-xs-offset-02"]{margin-left:16.667%}
[class*="_self"][class*="-cl"][class*="-xs-offset-25"]{margin-left:20%}
[class*="_self"][class*="-cl"][class*="-xs-offset-03"]{margin-left:25%}
[class*="_self"][class*="-cl"][class*="-xs-offset-04"]{margin-left:33.333%}
[class*="_self"][class*="-cl"][class*="-xs-offset-05"]{margin-left:41.667%}
[class*="_self"][class*="-cl"][class*="-xs-offset-06"]{margin-left:50%}
[class*="_self"][class*="-cl"][class*="-xs-offset-07"]{margin-left:58.333%}
[class*="_self"][class*="-cl"][class*="-xs-offset-08"]{margin-left:66.667%}
[class*="_self"][class*="-cl"][class*="-xs-offset-09"]{margin-left:75%}
[class*="_self"][class*="-cl"][class*="-xs-offset-10"]{margin-left:83.333%}
[class*="_self"][class*="-cl"][class*="-xs-offset-11"]{margin-left:91.667%}
.start-xs{-ms-flex-pack:start;-webkit-box-pack:start;justify-content:flex-start;text-align:start}
.center-xs{-ms-flex-pack:center;-webkit-box-pack:center;justify-content:center;text-align:center}
.end-xs{-ms-flex-pack:end;-webkit-box-pack:end;justify-content:flex-end;text-align:end}
.top-xs{-ms-flex-align:start;-webkit-box-align:start;align-items:flex-start}
.middle-xs{-ms-flex-align:center;-webkit-box-align:center;align-items:center}
.bottom-xs{-ms-flex-align:end;-webkit-box-align:end;align-items:flex-end}
.around-xs{-ms-flex-pack:distribute;justify-content:space-around}
.between-xs{-ms-flex-pack:justify;-webkit-box-pack:justify;justify-content:space-between}
.first-xs{-ms-flex-order:-1;-webkit-box-ordinal-group:0;order:-1}
.last-xs{-ms-flex-order:1;-webkit-box-ordinal-group:2;order:1}
.w-100{width:100% !important}
.h-100{height:100% !important}
.pa5-xs{padding:5px}
.pa10-xs{padding:10px}
.pa15-xs{padding:15px}
.pa20-xs{padding:20px}
.pa25-xs{padding:25px}
.pa30-xs{padding:30px}
.pt0-xs{padding-top:0}
.pt5-xs{padding-top:5px}
.pt10-xs{padding-top:10px}
.pt15-xs{padding-top:15px}
.pt20-xs{padding-top:20px}
.pt25-xs{padding-top:25px}
.pt30-xs{padding-top:30px}
.pb0-xs{padding-bottom:0}
.pb5-xs{padding-bottom:5px}
.pb10-xs{padding-bottom:10px}
.pb15-xs{padding-bottom:15px}
.pb20-xs{padding-bottom:20px}
.pb25-xs{padding-bottom:25px}
.pb30-xs{padding-bottom:30px}
.pr0-xs{padding-right:0!important}
.pr5-xs{padding-right:5px}
.pr10-xs{padding-right:10px}
.pr15-xs{padding-right:15px}
.pr20-xs{padding-right:20px}
.pr25-xs{padding-right:25px}
.pr30-xs{padding-right:30px}
.pl0-xs{padding-left:0!important}
.pl5-xs{padding-left:5px}
.pl10-xs{padding-left:10px}
.pl15-xs{padding-left:15px}
.pl20-xs{padding-left:20px}
.pl25-xs{padding-left:25px}
.pl30-xs{padding-left:30px}
.pd0-xs,.pa0-xs{padding:0!important}
.ma5-xs{margin:5px}
.ma10-xs{margin:10px}
.ma15-xs{margin:15px}
.ma20-xs{margin:20px}
.ma25-xs{margin:25px}
.ma30-xs{margin:30px}
.mt0-xs{margin-top:0}
.mt5-xs{margin-top:5px}
.mt10-xs{margin-top:10px}
.mt15-xs{margin-top:15px}
.mt20-xs{margin-top:20px}
.mt25-xs{margin-top:25px}
.mt30-xs{margin-top:30px}
.mb0-xs{margin-bottom:0}
.mb5-xs{margin-bottom:5px}
.mb10-xs{margin-bottom:10px}
.mb15-xs{margin-bottom:15px}
.mb20-xs{margin-bottom:20px}
.mb25-xs{margin-bottom:25px}
.mb30-xs{margin-bottom:30px}
.mr0-xs{margin-right:0}
.mr5-xs{margin-right:5px}
.mr10-xs{margin-right:10px}
.mr15-xs{margin-right:15px}
.mr20-xs{margin-right:20px}
.mr25-xs{margin-right:25px}
.mr30-xs{margin-right:30px}
.ml0-xs{margin-left:0}
.ml5-xs{margin-left:5px}
.ml10-xs{margin-left:10px}
.ml15-xs{margin-left:15px}
.ml20-xs{margin-left:20px}
.ml25-xs{margin-left:25px}
.ml30-xs{margin-left:30px}
.mg0-xs,.ma0-xs{margin:0!important}
@media only screen and (min-width:567px) {
.container{width:100%;max-width:100%}
[class*="_self"][class*="-cl"][class*="-xsh"],[class*="_chd"][class*="-cl"][class*="-xsh"]>*,
.col-xsh,.col-xsh-1,.col-xsh-2,.col-xsh-3,.col-xsh-4,.col-xsh-5,.col-xsh-6,.col-xsh-7,.col-xsh-8,.col-xsh-9,.col-xsh-10,.col-xsh-11,.col-xsh-12{box-sizing:border-box;-ms-flex:0 0 auto;-webkit-box-flex:0;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem}
[class~="_chd-cl-xsh"]>*,.col-xsh{-webkit-flex-grow:1!important;-ms-flex-positive:1!important;-webkit-box-flex:1!important;flex-grow:1!important;-ms-flex-preferred-size:0!important;flex-basis:0!important;max-width:100%}
[class*="_chd"][class*="-cl"][class*="-xsh-01"]>*,.col-xsh-1{-ms-flex-preferred-size:8.333%;flex-basis:8.333%;max-width:8.333%}
[class*="_chd"][class*="-cl"][class*="-xsh-02"]>*,.col-xsh-2{-ms-flex-preferred-size:16.667%;flex-basis:16.667%;max-width:16.667%}
[class*="_chd"][class*="-cl"][class*="-xsh-25"]>*,.col-xsh-25{-ms-flex-preferred-size:20%;flex-basis:20%;max-width:20%}
[class*="_chd"][class*="-cl"][class*="-xsh-03"]>*,.col-xsh-3{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}
[class*="_chd"][class*="-cl"][class*="-xsh-04"]>*,.col-xsh-4{-ms-flex-preferred-size:33.333%;flex-basis:33.333%;max-width:33.333%}
[class*="_chd"][class*="-cl"][class*="-xsh-05"]>*,.col-xsh-5{-ms-flex-preferred-size:41.667%;flex-basis:41.667%;max-width:41.667%}
[class*="_chd"][class*="-cl"][class*="-xsh-06"]>*,.col-xsh-6{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}
[class*="_chd"][class*="-cl"][class*="-xsh-07"]>*,.col-xsh-7{-ms-flex-preferred-size:58.333%;flex-basis:58.333%;max-width:58.333%}
[class*="_chd"][class*="-cl"][class*="-xsh-08"]>*,.col-xsh-8{-ms-flex-preferred-size:66.667%;flex-basis:66.667%;max-width:66.667%}
[class*="_chd"][class*="-cl"][class*="-xsh-09"]>*,.col-xsh-9{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}
[class*="_chd"][class*="-cl"][class*="-xsh-10"]>*,.col-xsh-10{-ms-flex-preferred-size:83.333%;flex-basis:83.333%;max-width:83.333%}
[class*="_chd"][class*="-cl"][class*="-xsh-11"]>*,.col-xsh-11{-ms-flex-preferred-size:91.667%;flex-basis:91.667%;max-width:91.667%}
[class*="_chd"][class*="-cl"][class*="-xsh-12"]>*,.col-xsh-12{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}
[class~="_self-cl-xsh"]{-webkit-flex-grow:1!important;-ms-flex-positive:1!important;-webkit-box-flex:1!important;flex-grow:1!important;-ms-flex-preferred-size:0!important;flex-basis:0!important;max-width:100%}
[class*="_self"][class*="-cl"][class*="-xsh-01"]{-ms-flex-preferred-size:8.333%;flex-basis:8.333%;max-width:8.333%}
[class*="_self"][class*="-cl"][class*="-xsh-02"]{-ms-flex-preferred-size:16.667%;flex-basis:16.667%;max-width:16.667%}
[class*="_self"][class*="-cl"][class*="-xsh-25"]{-ms-flex-preferred-size:20%;flex-basis:20%;max-width:20%}
[class*="_self"][class*="-cl"][class*="-xsh-03"]{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}
[class*="_self"][class*="-cl"][class*="-xsh-04"]{-ms-flex-preferred-size:33.333%;flex-basis:33.333%;max-width:33.333%}
[class*="_self"][class*="-cl"][class*="-xsh-05"]{-ms-flex-preferred-size:41.667%;flex-basis:41.667%;max-width:41.667%}
[class*="_self"][class*="-cl"][class*="-xsh-06"]{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}
[class*="_self"][class*="-cl"][class*="-xsh-07"]{-ms-flex-preferred-size:58.333%;flex-basis:58.333%;max-width:58.333%}
[class*="_self"][class*="-cl"][class*="-xsh-08"]{-ms-flex-preferred-size:66.667%;flex-basis:66.667%;max-width:66.667%}
[class*="_self"][class*="-cl"][class*="-xsh-09"]{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}
[class*="_self"][class*="-cl"][class*="-xsh-10"]{-ms-flex-preferred-size:83.333%;flex-basis:83.333%;max-width:83.333%}
[class*="_self"][class*="-cl"][class*="-xsh-11"]{-ms-flex-preferred-size:91.667%;flex-basis:91.667%;max-width:91.667%}
[class*="_self"][class*="-cl"][class*="-xsh-12"]{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;width:100%}
[class*="_chd"][class*="-cl"][class*="-xsh-offset-01"]>*,.col-xsh-offset-1{margin-left:8.333%}
[class*="_chd"][class*="-cl"][class*="-xsh-offset-02"]>*,.col-xsh-offset-2{margin-left:16.667%}
[class*="_chd"][class*="-cl"][class*="-xsh-offset-25"]>*,.col-xsh-offset-25{margin-left:20%}
[class*="_chd"][class*="-cl"][class*="-xsh-offset-03"]>*,.col-xsh-offset-3{margin-left:25%}
[class*="_chd"][class*="-cl"][class*="-xsh-offset-04"]>*,.col-xsh-offset-4{margin-left:33.333%}
[class*="_chd"][class*="-cl"][class*="-xsh-offset-05"]>*,.col-xsh-offset-5{margin-left:41.667%}
[class*="_chd"][class*="-cl"][class*="-xsh-offset-06"]>*,.col-xsh-offset-6{margin-left:50%}
[class*="_chd"][class*="-cl"][class*="-xsh-offset-07"]>*,.col-xsh-offset-7{margin-left:58.333%}
[class*="_chd"][class*="-cl"][class*="-xsh-offset-08"]>*,.col-xsh-offset-8{margin-left:66.667%}
[class*="_chd"][class*="-cl"][class*="-xsh-offset-09"]>*,.col-xsh-offset-9{margin-left:75%}
[class*="_chd"][class*="-cl"][class*="-xsh-offset-10"]>*,.col-xsh-offset-10{margin-left:83.333%}
[class*="_chd"][class*="-cl"][class*="-xsh-offset-11"]>*,.col-xsh-offset-11{margin-left:91.667%}
[class*="_self"][class*="-cl"][class*="-xsh-offset-01"]{margin-left:8.333%}
[class*="_self"][class*="-cl"][class*="-xsh-offset-02"]{margin-left:16.667%}
[class*="_self"][class*="-cl"][class*="-xsh-offset-25"]{margin-left:20%}
[class*="_self"][class*="-cl"][class*="-xsh-offset-03"]{margin-left:25%}
[class*="_self"][class*="-cl"][class*="-xsh-offset-04"]{margin-left:33.333%}
[class*="_self"][class*="-cl"][class*="-xsh-offset-05"]{margin-left:41.667%}
[class*="_self"][class*="-cl"][class*="-xsh-offset-06"]{margin-left:50%}
[class*="_self"][class*="-cl"][class*="-xsh-offset-07"]{margin-left:58.333%}
[class*="_self"][class*="-cl"][class*="-xsh-offset-08"]{margin-left:66.667%}
[class*="_self"][class*="-cl"][class*="-xsh-offset-09"]{margin-left:75%}
[class*="_self"][class*="-cl"][class*="-xsh-offset-10"]{margin-left:83.333%}
[class*="_self"][class*="-cl"][class*="-xsh-offset-11"]{margin-left:91.667%}
.start-xsh{-ms-flex-pack:start;-webkit-box-pack:start;justify-content:flex-start;text-align:start}
.center-xsh{-ms-flex-pack:center;-webkit-box-pack:center;justify-content:center;text-align:center}
.end-xsh{-ms-flex-pack:end;-webkit-box-pack:end;justify-content:flex-end;text-align:end}
.top-xsh{-ms-flex-align:start;-webkit-box-align:start;align-items:flex-start}
.middle-xsh{-ms-flex-align:center;-webkit-box-align:center;align-items:center}
.bottom-xsh{-ms-flex-align:end;-webkit-box-align:end;align-items:flex-end}
.around-xsh{-ms-flex-pack:distribute;justify-content:space-around}
.between-xsh{-ms-flex-pack:justify;-webkit-box-pack:justify;justify-content:space-between}
.first-xsh{-ms-flex-order:-1;-webkit-box-ordinal-group:0;order:-1}
.last-xsh{-ms-flex-order:1;-webkit-box-ordinal-group:2;order:1}
}
@media only screen and (min-width:768px) {
.container{width:100%;max-width:100%}
[class*="_self"][class*="-cl"][class*="-sm"],[class*="_chd"][class*="-cl"][class*="-sm"]>*,
.col-sm,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{box-sizing:border-box;-ms-flex:0 0 auto;-webkit-box-flex:0;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem}
[class~="_chd-cl-sm"]>*,.col-sm{-webkit-flex-grow:1!important;-ms-flex-positive:1!important;-webkit-box-flex:1!important;flex-grow:1!important;-ms-flex-preferred-size:0!important;flex-basis:0!important;max-width:100%}
[class*="_chd"][class*="-cl"][class*="-sm-01"]>*,.col-sm-1{-ms-flex-preferred-size:8.333%;flex-basis:8.333%;max-width:8.333%}
[class*="_chd"][class*="-cl"][class*="-sm-02"]>*,.col-sm-2{-ms-flex-preferred-size:16.667%;flex-basis:16.667%;max-width:16.667%}
[class*="_chd"][class*="-cl"][class*="-sm-25"]>*,.col-sm-25{-ms-flex-preferred-size:20%;flex-basis:20%;max-width:20%}
[class*="_chd"][class*="-cl"][class*="-sm-03"]>*,.col-sm-3{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}
[class*="_chd"][class*="-cl"][class*="-sm-04"]>*,.col-sm-4{-ms-flex-preferred-size:33.333%;flex-basis:33.333%;max-width:33.333%}
[class*="_chd"][class*="-cl"][class*="-sm-05"]>*,.col-sm-5{-ms-flex-preferred-size:41.667%;flex-basis:41.667%;max-width:41.667%}
[class*="_chd"][class*="-cl"][class*="-sm-06"]>*,.col-sm-6{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}
[class*="_chd"][class*="-cl"][class*="-sm-07"]>*,.col-sm-7{-ms-flex-preferred-size:58.333%;flex-basis:58.333%;max-width:58.333%}
[class*="_chd"][class*="-cl"][class*="-sm-08"]>*,.col-sm-8{-ms-flex-preferred-size:66.667%;flex-basis:66.667%;max-width:66.667%}
[class*="_chd"][class*="-cl"][class*="-sm-09"]>*,.col-sm-9{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}
[class*="_chd"][class*="-cl"][class*="-sm-10"]>*,.col-sm-10{-ms-flex-preferred-size:83.333%;flex-basis:83.333%;max-width:83.333%}
[class*="_chd"][class*="-cl"][class*="-sm-11"]>*,.col-sm-11{-ms-flex-preferred-size:91.667%;flex-basis:91.667%;max-width:91.667%}
[class*="_chd"][class*="-cl"][class*="-sm-12"]>*,.col-sm-12{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}
[class~="_self-cl-sm"]{-webkit-flex-grow:1!important;-ms-flex-positive:1!important;-webkit-box-flex:1!important;flex-grow:1!important;-ms-flex-preferred-size:0!important;flex-basis:0!important;max-width:100%}
[class*="_self"][class*="-cl"][class*="-sm-01"]{-ms-flex-preferred-size:8.333%;flex-basis:8.333%;max-width:8.333%}
[class*="_self"][class*="-cl"][class*="-sm-02"]{-ms-flex-preferred-size:16.667%;flex-basis:16.667%;max-width:16.667%}
[class*="_self"][class*="-cl"][class*="-sm-25"]{-ms-flex-preferred-size:20%;flex-basis:20%;max-width:20%}
[class*="_self"][class*="-cl"][class*="-sm-03"]{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}
[class*="_self"][class*="-cl"][class*="-sm-04"]{-ms-flex-preferred-size:33.333%;flex-basis:33.333%;max-width:33.333%}
[class*="_self"][class*="-cl"][class*="-sm-05"]{-ms-flex-preferred-size:41.667%;flex-basis:41.667%;max-width:41.667%}
[class*="_self"][class*="-cl"][class*="-sm-06"]{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}
[class*="_self"][class*="-cl"][class*="-sm-07"]{-ms-flex-preferred-size:58.333%;flex-basis:58.333%;max-width:58.333%}
[class*="_self"][class*="-cl"][class*="-sm-08"]{-ms-flex-preferred-size:66.667%;flex-basis:66.667%;max-width:66.667%}
[class*="_self"][class*="-cl"][class*="-sm-09"]{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}
[class*="_self"][class*="-cl"][class*="-sm-10"]{-ms-flex-preferred-size:83.333%;flex-basis:83.333%;max-width:83.333%}
[class*="_self"][class*="-cl"][class*="-sm-11"]{-ms-flex-preferred-size:91.667%;flex-basis:91.667%;max-width:91.667%}
[class*="_self"][class*="-cl"][class*="-sm-12"]{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;width:100%}
[class*="_chd"][class*="-cl"][class*="-sm-offset-01"]>*,.col-sm-offset-1{margin-left:8.333%}
[class*="_chd"][class*="-cl"][class*="-sm-offset-02"]>*,.col-sm-offset-2{margin-left:16.667%}
[class*="_chd"][class*="-cl"][class*="-sm-offset-25"]>*,.col-sm-offset-25{margin-left:20%}
[class*="_chd"][class*="-cl"][class*="-sm-offset-03"]>*,.col-sm-offset-3{margin-left:25%}
[class*="_chd"][class*="-cl"][class*="-sm-offset-04"]>*,.col-sm-offset-4{margin-left:33.333%}
[class*="_chd"][class*="-cl"][class*="-sm-offset-05"]>*,.col-sm-offset-5{margin-left:41.667%}
[class*="_chd"][class*="-cl"][class*="-sm-offset-06"]>*,.col-sm-offset-6{margin-left:50%}
[class*="_chd"][class*="-cl"][class*="-sm-offset-07"]>*,.col-sm-offset-7{margin-left:58.333%}
[class*="_chd"][class*="-cl"][class*="-sm-offset-08"]>*,.col-sm-offset-8{margin-left:66.667%}
[class*="_chd"][class*="-cl"][class*="-sm-offset-09"]>*,.col-sm-offset-9{margin-left:75%}
[class*="_chd"][class*="-cl"][class*="-sm-offset-10"]>*,.col-sm-offset-10{margin-left:83.333%}
[class*="_chd"][class*="-cl"][class*="-sm-offset-11"]>*,.col-sm-offset-11{margin-left:91.667%}
[class*="_self"][class*="-cl"][class*="-sm-offset-01"]{margin-left:8.333%}
[class*="_self"][class*="-cl"][class*="-sm-offset-02"]{margin-left:16.667%}
[class*="_self"][class*="-cl"][class*="-sm-offset-25"]{margin-left:20%}
[class*="_self"][class*="-cl"][class*="-sm-offset-03"]{margin-left:25%}
[class*="_self"][class*="-cl"][class*="-sm-offset-04"]{margin-left:33.333%}
[class*="_self"][class*="-cl"][class*="-sm-offset-05"]{margin-left:41.667%}
[class*="_self"][class*="-cl"][class*="-sm-offset-06"]{margin-left:50%}
[class*="_self"][class*="-cl"][class*="-sm-offset-07"]{margin-left:58.333%}
[class*="_self"][class*="-cl"][class*="-sm-offset-08"]{margin-left:66.667%}
[class*="_self"][class*="-cl"][class*="-sm-offset-09"]{margin-left:75%}
[class*="_self"][class*="-cl"][class*="-sm-offset-10"]{margin-left:83.333%}
[class*="_self"][class*="-cl"][class*="-sm-offset-11"]{margin-left:91.667%}
.start-sm{-ms-flex-pack:start;-webkit-box-pack:start;justify-content:flex-start;text-align:start}
.center-sm{-ms-flex-pack:center;-webkit-box-pack:center;justify-content:center;text-align:center}
.end-sm{-ms-flex-pack:end;-webkit-box-pack:end;justify-content:flex-end;text-align:end}
.top-sm{-ms-flex-align:start;-webkit-box-align:start;align-items:flex-start}
.middle-sm{-ms-flex-align:center;-webkit-box-align:center;align-items:center}
.bottom-sm{-ms-flex-align:end;-webkit-box-align:end;align-items:flex-end}
.around-sm{-ms-flex-pack:distribute;justify-content:space-around}
.between-sm{-ms-flex-pack:justify;-webkit-box-pack:justify;justify-content:space-between}
.first-sm{-ms-flex-order:-1;-webkit-box-ordinal-group:0;order:-1}
.last-sm{-ms-flex-order:1;-webkit-box-ordinal-group:2;order:1}
.pa10-sm{padding:10px}
.pa15-sm{padding:15px}
.pa20-sm{padding:20px}
.pa25-sm{padding:25px}
.pa30-sm{padding:30px}
.pt0-sm{padding-top:0}
.pt10-sm{padding-top:10px}
.pt15-sm{padding-top:15px}
.pt20-sm{padding-top:20px}
.pt25-sm{padding-top:25px}
.pt30-sm{padding-top:30px}
.pb0-sm{padding-bottom:0}
.pb10-sm{padding-bottom:10px}
.pb15-sm{padding-bottom:15px}
.pb20-sm{padding-bottom:20px}
.pb25-sm{padding-bottom:25px}
.pb30-sm{padding-bottom:30px}
.pr0-sm{padding-right:0!important}
.pr10-sm{padding-right:10px}
.pr15-sm{padding-right:15px}
.pr20-sm{padding-right:20px}
.pr25-sm{padding-right:25px}
.pr30-sm{padding-right:30px}
.pl0-sm{padding-left:0!important}
.pl10-sm{padding-left:10px}
.pl15-sm{padding-left:15px}
.pl20-sm{padding-left:20px}
.pl25-sm{padding-left:25px}
.pl30-sm{padding-left:30px}
.pd0-sm,.pa0-sm{padding:0!important}
.ma10-sm{margin:10px}
.ma15-sm{margin:15px}
.ma20-sm{margin:20px}
.ma25-sm{margin:25px}
.ma30-sm{margin:30px}
.mt0-sm{margin-top:0}
.mt10-sm{margin-top:10px}
.mt15-sm{margin-top:15px}
.mt20-sm{margin-top:20px}
.mt25-sm{margin-top:25px}
.mt30-sm{margin-top:30px}
.mb0-sm{margin-bottom:0}
.mb10-sm{margin-bottom:10px}
.mb15-sm{margin-bottom:15px}
.mb20-sm{margin-bottom:20px}
.mb25-sm{margin-bottom:25px}
.mb30-sm{margin-bottom:30px}
.mr0-sm{margin-right:0}
.mr10-sm{margin-right:10px}
.mr15-sm{margin-right:15px}
.mr20-sm{margin-right:20px}
.mr25-sm{margin-right:25px}
.mr30-sm{margin-right:30px}
.ml0-sm{margin-left:0}
.ml10-sm{margin-left:10px}
.ml15-sm{margin-left:15px}
.ml20-sm{margin-left:20px}
.ml25-sm{margin-left:25px}
.ml30-sm{margin-left:30px}
.mg0-sm,.ma0-sm{margin:0!important}
}
@media only screen and (min-width:992px) {
.container{width:980px}
[class*="_self"][class*="-cl"][class*="-md"],[class*="_chd"][class*="-cl"][class*="-md"]>*,
.col-md,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{box-sizing:border-box;-ms-flex:0 0 auto;-webkit-box-flex:0;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem}
[class~="_chd-cl-md"]>*,.col-md{-webkit-flex-grow:1!important;-ms-flex-positive:1!important;-webkit-box-flex:1!important;flex-grow:1!important;-ms-flex-preferred-size:0!important;flex-basis:0!important;max-width:100%}
[class*="_chd"][class*="-cl"][class*="-md-01"]>*,.col-md-1{-ms-flex-preferred-size:8.333%;flex-basis:8.333%;max-width:8.333%}
[class*="_chd"][class*="-cl"][class*="-md-02"]>*,.col-md-2{-ms-flex-preferred-size:16.667%;flex-basis:16.667%;max-width:16.667%}
[class*="_chd"][class*="-cl"][class*="-md-25"]>*,.col-md-25{-ms-flex-preferred-size:20%;flex-basis:20%;max-width:20%}
[class*="_chd"][class*="-cl"][class*="-md-03"]>*,.col-md-3{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}
[class*="_chd"][class*="-cl"][class*="-md-04"]>*,.col-md-4{-ms-flex-preferred-size:33.333%;flex-basis:33.333%;max-width:33.333%}
[class*="_chd"][class*="-cl"][class*="-md-05"]>*,.col-md-5{-ms-flex-preferred-size:41.667%;flex-basis:41.667%;max-width:41.667%}
[class*="_chd"][class*="-cl"][class*="-md-06"]>*,.col-md-6{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}
[class*="_chd"][class*="-cl"][class*="-md-07"]>*,.col-md-7{-ms-flex-preferred-size:58.333%;flex-basis:58.333%;max-width:58.333%}
[class*="_chd"][class*="-cl"][class*="-md-08"]>*,.col-md-8{-ms-flex-preferred-size:66.667%;flex-basis:66.667%;max-width:66.667%}
[class*="_chd"][class*="-cl"][class*="-md-09"]>*,.col-md-9{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}
[class*="_chd"][class*="-cl"][class*="-md-10"]>*,.col-md-10{-ms-flex-preferred-size:83.333%;flex-basis:83.333%;max-width:83.333%}
[class*="_chd"][class*="-cl"][class*="-md-11"]>*,.col-md-11{-ms-flex-preferred-size:91.667%;flex-basis:91.667%;max-width:91.667%}
[class*="_chd"][class*="-cl"][class*="-md-12"]>*,.col-md-12{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}
[class~="_self-cl-md"]{-webkit-flex-grow:1!important;-ms-flex-positive:1!important;-webkit-box-flex:1!important;flex-grow:1!important;-ms-flex-preferred-size:0!important;flex-basis:0!important;max-width:100%}
[class*="_self"][class*="-cl"][class*="-md-01"]{-ms-flex-preferred-size:8.333%;flex-basis:8.333%;max-width:8.333%}
[class*="_self"][class*="-cl"][class*="-md-02"]{-ms-flex-preferred-size:16.667%;flex-basis:16.667%;max-width:16.667%}
[class*="_self"][class*="-cl"][class*="-md-25"]{-ms-flex-preferred-size:20%;flex-basis:20%;max-width:20%}
[class*="_self"][class*="-cl"][class*="-md-03"]{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}
[class*="_self"][class*="-cl"][class*="-md-04"]{-ms-flex-preferred-size:33.333%;flex-basis:33.333%;max-width:33.333%}
[class*="_self"][class*="-cl"][class*="-md-05"]{-ms-flex-preferred-size:41.667%;flex-basis:41.667%;max-width:41.667%}
[class*="_self"][class*="-cl"][class*="-md-06"]{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}
[class*="_self"][class*="-cl"][class*="-md-07"]{-ms-flex-preferred-size:58.333%;flex-basis:58.333%;max-width:58.333%}
[class*="_self"][class*="-cl"][class*="-md-08"]{-ms-flex-preferred-size:66.667%;flex-basis:66.667%;max-width:66.667%}
[class*="_self"][class*="-cl"][class*="-md-09"]{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}
[class*="_self"][class*="-cl"][class*="-md-10"]{-ms-flex-preferred-size:83.333%;flex-basis:83.333%;max-width:83.333%}
[class*="_self"][class*="-cl"][class*="-md-11"]{-ms-flex-preferred-size:91.667%;flex-basis:91.667%;max-width:91.667%}
[class*="_self"][class*="-cl"][class*="-md-12"]{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;width:100%}
[class*="_chd"][class*="-cl"][class*="-md-offset-01"]>*,.col-md-offset-1{margin-left:8.333%}
[class*="_chd"][class*="-cl"][class*="-md-offset-02"]>*,.col-md-offset-2{margin-left:16.667%}
[class*="_chd"][class*="-cl"][class*="-md-offset-25"]>*,.col-md-offset-25{margin-left:20%}
[class*="_chd"][class*="-cl"][class*="-md-offset-03"]>*,.col-md-offset-3{margin-left:25%}
[class*="_chd"][class*="-cl"][class*="-md-offset-04"]>*,.col-md-offset-4{margin-left:33.333%}
[class*="_chd"][class*="-cl"][class*="-md-offset-05"]>*,.col-md-offset-5{margin-left:41.667%}
[class*="_chd"][class*="-cl"][class*="-md-offset-06"]>*,.col-md-offset-6{margin-left:50%}
[class*="_chd"][class*="-cl"][class*="-md-offset-07"]>*,.col-md-offset-7{margin-left:58.333%}
[class*="_chd"][class*="-cl"][class*="-md-offset-08"]>*,.col-md-offset-8{margin-left:66.667%}
[class*="_chd"][class*="-cl"][class*="-md-offset-09"]>*,.col-md-offset-9{margin-left:75%}
[class*="_chd"][class*="-cl"][class*="-md-offset-10"]>*,.col-md-offset-10{margin-left:83.333%}
[class*="_chd"][class*="-cl"][class*="-md-offset-11"]>*,.col-md-offset-11{margin-left:91.667%}
[class*="_self"][class*="-cl"][class*="-md-offset-01"]{margin-left:8.333%}
[class*="_self"][class*="-cl"][class*="-md-offset-02"]{margin-left:16.667%}
[class*="_self"][class*="-cl"][class*="-md-offset-25"]{margin-left:20%}
[class*="_self"][class*="-cl"][class*="-md-offset-03"]{margin-left:25%}
[class*="_self"][class*="-cl"][class*="-md-offset-04"]{margin-left:33.333%}
[class*="_self"][class*="-cl"][class*="-md-offset-05"]{margin-left:41.667%}
[class*="_self"][class*="-cl"][class*="-md-offset-06"]{margin-left:50%}
[class*="_self"][class*="-cl"][class*="-md-offset-07"]{margin-left:58.333%}
[class*="_self"][class*="-cl"][class*="-md-offset-08"]{margin-left:66.667%}
[class*="_self"][class*="-cl"][class*="-md-offset-09"]{margin-left:75%}
[class*="_self"][class*="-cl"][class*="-md-offset-10"]{margin-left:83.333%}
[class*="_self"][class*="-cl"][class*="-md-offset-11"]{margin-left:91.667%}
.start-md{-ms-flex-pack:start;-webkit-box-pack:start;justify-content:flex-start;text-align:start}
.center-md{-ms-flex-pack:center;-webkit-box-pack:center;justify-content:center;text-align:center}
.end-md{-ms-flex-pack:end;-webkit-box-pack:end;justify-content:flex-end;text-align:end}
.top-md{-ms-flex-align:start;-webkit-box-align:start;align-items:flex-start}
.middle-md{-ms-flex-align:center;-webkit-box-align:center;align-items:center}
.bottom-md{-ms-flex-align:end;-webkit-box-align:end;align-items:flex-end}
.around-md{-ms-flex-pack:distribute;justify-content:space-around}
.between-md{-ms-flex-pack:justify;-webkit-box-pack:justify;justify-content:space-between}
.first-md{-ms-flex-order:-1;-webkit-box-ordinal-group:0;order:-1}
.last-md{-ms-flex-order:1;-webkit-box-ordinal-group:2;order:1}
.pa10-md{padding:10px}
.pa15-md{padding:15px}
.pa20-md{padding:20px}
.pa25-md{padding:25px}
.pa30-md{padding:30px}
.pt0-md{padding-top:0}
.pt10-md{padding-top:10px}
.pt15-md{padding-top:15px}
.pt20-md{padding-top:20px}
.pt25-md{padding-top:25px}
.pt30-md{padding-top:30px}
.pb0-md{padding-bottom:0}
.pb10-md{padding-bottom:10px}
.pb15-md{padding-bottom:15px}
.pb20-md{padding-bottom:20px}
.pb25-md{padding-bottom:25px}
.pb30-md{padding-bottom:30px}
.pr0-md{padding-right:0!important}
.pr10-md{padding-right:10px}
.pr15-md{padding-right:15px}
.pr20-md{padding-right:20px}
.pr25-md{padding-right:25px}
.pr30-md{padding-right:30px}
.pl0-md{padding-left:0!important}
.pl10-md{padding-left:10px}
.pl15-md{padding-left:15px}
.pl20-md{padding-left:20px}
.pl25-md{padding-left:25px}
.pl30-md{padding-left:30px}
.pd0-md,.pa0-md{padding:0!important}
.ma10-md{margin:10px}
.ma15-md{margin:15px}
.ma20-md{margin:20px}
.ma25-md{margin:25px}
.ma30-md{margin:30px}
.mt0-md{margin-top:0}
.mt10-md{margin-top:10px}
.mt15-md{margin-top:15px}
.mt20-md{margin-top:20px}
.mt25-md{margin-top:25px}
.mt30-md{margin-top:30px}
.mb0-md{margin-bottom:0}
.mb10-md{margin-bottom:10px}
.mb15-md{margin-bottom:15px}
.mb20-md{margin-bottom:20px}
.mb25-md{margin-bottom:25px}
.mb30-md{margin-bottom:30px}
.mr0-md{margin-right:0}
.mr10-md{margin-right:10px}
.mr15-md{margin-right:15px}
.mr20-md{margin-right:20px}
.mr25-md{margin-right:25px}
.mr30-md{margin-right:30px}
.ml0-md{margin-left:0}
.ml10-md{margin-left:10px}
.ml15-md{margin-left:15px}
.ml20-md{margin-left:20px}
.ml25-md{margin-left:25px}
.ml30-md{margin-left:30px}
.mg0-md,.ma0-md{margin:0!important}
}
@media only screen and (min-width:1170px) {/*edit-default:1170*/
.container-fluid{padding-right:2rem;padding-left:2rem}
.container{width:1170px}
[class*="_self"][class*="-cl"][class*="-lg"],[class*="_chd"][class*="-cl"][class*="-lg"]>*,
.col-lg,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{box-sizing:border-box;-ms-flex:0 0 auto;-webkit-box-flex:0;flex:0 0 auto;padding-right:0.5rem;padding-left:0.5rem}
[class~="_chd-cl-lg"]>*,.col-lg{-webkit-flex-grow:1!important;-ms-flex-positive:1!important;-webkit-box-flex:1!important;flex-grow:1!important;-ms-flex-preferred-size:0!important;flex-basis:0!important;max-width:100%}
[class*="_chd"][class*="-cl"][class*="-lg-01"]>*,.col-lg-1{-ms-flex-preferred-size:8.333%;flex-basis:8.333%;max-width:8.333%}
[class*="_chd"][class*="-cl"][class*="-lg-02"]>*,.col-lg-2{-ms-flex-preferred-size:16.667%;flex-basis:16.667%;max-width:16.667%}
[class*="_chd"][class*="-cl"][class*="-lg-25"]>*,.col-lg-25{-ms-flex-preferred-size:20%;flex-basis:20%;max-width:20%}
[class*="_chd"][class*="-cl"][class*="-lg-03"]>*,.col-lg-3{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}
[class*="_chd"][class*="-cl"][class*="-lg-04"]>*,.col-lg-4{-ms-flex-preferred-size:33.333%;flex-basis:33.333%;max-width:33.333%}
[class*="_chd"][class*="-cl"][class*="-lg-05"]>*,.col-lg-5{-ms-flex-preferred-size:41.667%;flex-basis:41.667%;max-width:41.667%}
[class*="_chd"][class*="-cl"][class*="-lg-06"]>*,.col-lg-6{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}
[class*="_chd"][class*="-cl"][class*="-lg-07"]>*,.col-lg-7{-ms-flex-preferred-size:58.333%;flex-basis:58.333%;max-width:58.333%}
[class*="_chd"][class*="-cl"][class*="-lg-08"]>*,.col-lg-8{-ms-flex-preferred-size:66.667%;flex-basis:66.667%;max-width:66.667%}
[class*="_chd"][class*="-cl"][class*="-lg-09"]>*,.col-lg-9{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}
[class*="_chd"][class*="-cl"][class*="-lg-10"]>*,.col-lg-10{-ms-flex-preferred-size:83.333%;flex-basis:83.333%;max-width:83.333%}
[class*="_chd"][class*="-cl"][class*="-lg-11"]>*,.col-lg-11{-ms-flex-preferred-size:91.667%;flex-basis:91.667%;max-width:91.667%}
[class*="_chd"][class*="-cl"][class*="-lg-12"]>*,.col-lg-12{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}
[class~="_self-cl-lg"]{-webkit-flex-grow:1!important;-ms-flex-positive:1!important;-webkit-box-flex:1!important;flex-grow:1!important;-ms-flex-preferred-size:0!important;flex-basis:0!important;max-width:100%}
[class*="_self"][class*="-cl"][class*="-lg-01"]{-ms-flex-preferred-size:8.333%;flex-basis:8.333%;max-width:8.333%}
[class*="_self"][class*="-cl"][class*="-lg-02"]{-ms-flex-preferred-size:16.667%;flex-basis:16.667%;max-width:16.667%}
[class*="_self"][class*="-cl"][class*="-lg-25"]{-ms-flex-preferred-size:20%;flex-basis:20%;max-width:20%}
[class*="_self"][class*="-cl"][class*="-lg-03"]{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}
[class*="_self"][class*="-cl"][class*="-lg-04"]{-ms-flex-preferred-size:33.333%;flex-basis:33.333%;max-width:33.333%}
[class*="_self"][class*="-cl"][class*="-lg-05"]{-ms-flex-preferred-size:41.667%;flex-basis:41.667%;max-width:41.667%}
[class*="_self"][class*="-cl"][class*="-lg-06"]{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}
[class*="_self"][class*="-cl"][class*="-lg-07"]{-ms-flex-preferred-size:58.333%;flex-basis:58.333%;max-width:58.333%}
[class*="_self"][class*="-cl"][class*="-lg-08"]{-ms-flex-preferred-size:66.667%;flex-basis:66.667%;max-width:66.667%}
[class*="_self"][class*="-cl"][class*="-lg-09"]{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}
[class*="_self"][class*="-cl"][class*="-lg-10"]{-ms-flex-preferred-size:83.333%;flex-basis:83.333%;max-width:83.333%}
[class*="_self"][class*="-cl"][class*="-lg-11"]{-ms-flex-preferred-size:91.667%;flex-basis:91.667%;max-width:91.667%}
[class*="_self"][class*="-cl"][class*="-lg-12"]{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;width:100%}
[class*="_chd"][class*="-cl"][class*="-lg-offset-01"]>*,.col-lg-offset-1{margin-left:8.333%}
[class*="_chd"][class*="-cl"][class*="-lg-offset-02"]>*,.col-lg-offset-2{margin-left:16.667%}
[class*="_chd"][class*="-cl"][class*="-lg-offset-25"]>*,.col-lg-offset-25{margin-left:20%}
[class*="_chd"][class*="-cl"][class*="-lg-offset-03"]>*,.col-lg-offset-3{margin-left:25%}
[class*="_chd"][class*="-cl"][class*="-lg-offset-04"]>*,.col-lg-offset-4{margin-left:33.333%}
[class*="_chd"][class*="-cl"][class*="-lg-offset-05"]>*,.col-lg-offset-5{margin-left:41.667%}
[class*="_chd"][class*="-cl"][class*="-lg-offset-06"]>*,.col-lg-offset-6{margin-left:50%}
[class*="_chd"][class*="-cl"][class*="-lg-offset-07"]>*,.col-lg-offset-7{margin-left:58.333%}
[class*="_chd"][class*="-cl"][class*="-lg-offset-08"]>*,.col-lg-offset-8{margin-left:66.667%}
[class*="_chd"][class*="-cl"][class*="-lg-offset-09"]>*,.col-lg-offset-9{margin-left:75%}
[class*="_chd"][class*="-cl"][class*="-lg-offset-10"]>*,.col-lg-offset-10{margin-left:83.333%}
[class*="_chd"][class*="-cl"][class*="-lg-offset-11"]>*,.col-lg-offset-11{margin-left:91.667%}
[class*="_self"][class*="-cl"][class*="-lg-offset-01"]{margin-left:8.333%}
[class*="_self"][class*="-cl"][class*="-lg-offset-02"]{margin-left:16.667%}
[class*="_self"][class*="-cl"][class*="-lg-offset-25"]{margin-left:20%}
[class*="_self"][class*="-cl"][class*="-lg-offset-03"]{margin-left:25%}
[class*="_self"][class*="-cl"][class*="-lg-offset-04"]{margin-left:33.333%}
[class*="_self"][class*="-cl"][class*="-lg-offset-05"]{margin-left:41.667%}
[class*="_self"][class*="-cl"][class*="-lg-offset-06"]{margin-left:50%}
[class*="_self"][class*="-cl"][class*="-lg-offset-07"]{margin-left:58.333%}
[class*="_self"][class*="-cl"][class*="-lg-offset-08"]{margin-left:66.667%}
[class*="_self"][class*="-cl"][class*="-lg-offset-09"]{margin-left:75%}
[class*="_self"][class*="-cl"][class*="-lg-offset-10"]{margin-left:83.333%}
[class*="_self"][class*="-cl"][class*="-lg-offset-11"]{margin-left:91.667%}
.start-lg{-ms-flex-pack:start;-webkit-box-pack:start;justify-content:flex-start;text-align:start}
.center-lg{-ms-flex-pack:center;-webkit-box-pack:center;justify-content:center;text-align:center}
.end-lg{-ms-flex-pack:end;-webkit-box-pack:end;justify-content:flex-end;text-align:end}
.top-lg{-ms-flex-align:start;-webkit-box-align:start;align-items:flex-start}
.middle-lg{-ms-flex-align:center;-webkit-box-align:center;align-items:center}
.bottom-lg{-ms-flex-align:end;-webkit-box-align:end;align-items:flex-end}
.around-lg{-ms-flex-pack:distribute;justify-content:space-around}
.between-lg{-ms-flex-pack:justify;-webkit-box-pack:justify;justify-content:space-between}
.first-lg{-ms-flex-order:-1;-webkit-box-ordinal-group:0;order:-1}
.last-lg{-ms-flex-order:1;-webkit-box-ordinal-group:2;order:1}
.pa10-lg{padding:10px}
.pa15-lg{padding:15px}
.pa20-lg{padding:20px}
.pa25-lg{padding:25px}
.pa30-lg{padding:30px}
.pt0-lg{padding-top:0}
.pt10-lg{padding-top:10px}
.pt15-lg{padding-top:15px}
.pt20-lg{padding-top:20px}
.pt25-lg{padding-top:25px}
.pt30-lg{padding-top:30px}
.pb0-lg{padding-bottom:0}
.pb10-lg{padding-bottom:10px}
.pb15-lg{padding-bottom:15px}
.pb20-lg{padding-bottom:20px}
.pb25-lg{padding-bottom:25px}
.pb30-lg{padding-bottom:30px}
.pr0-lg{padding-right:0!important}
.pr10-lg{padding-right:10px}
.pr15-lg{padding-right:15px}
.pr20-lg{padding-right:20px}
.pr25-lg{padding-right:25px}
.pr30-lg{padding-right:30px}
.pl0-lg{padding-left:0!important}
.pl10-lg{padding-left:10px}
.pl15-lg{padding-left:15px}
.pl20-lg{padding-left:20px}
.pl25-lg{padding-left:25px}
.pl30-lg{padding-left:30px}
.pd0-lg,.pa0-lg{padding:0!important}
.ma10-lg{margin:10px}
.ma15-lg{margin:15px}
.ma20-lg{margin:20px}
.ma25-lg{margin:25px}
.ma30-lg{margin:30px}
.mt0-lg{margin-top:0}
.mt10-lg{margin-top:10px}
.mt15-lg{margin-top:15px}
.mt20-lg{margin-top:20px}
.mt25-lg{margin-top:25px}
.mt30-lg{margin-top:30px}
.mb0-lg{margin-bottom:0}
.mb10-lg{margin-bottom:10px}
.mb15-lg{margin-bottom:15px}
.mb20-lg{margin-bottom:20px}
.mb25-lg{margin-bottom:25px}
.mb30-lg{margin-bottom:30px}
.mr0-lg{margin-right:0}
.mr10-lg{margin-right:10px}
.mr15-lg{margin-right:15px}
.mr20-lg{margin-right:20px}
.mr25-lg{margin-right:25px}
.mr30-lg{margin-right:30px}
.ml0-lg{margin-left:0}
.ml10-lg{margin-left:10px}
.ml15-lg{margin-left:15px}
.ml20-lg{margin-left:20px}
.ml25-lg{margin-left:25px}
.ml30-lg{margin-left:30px}
.mg0-lg,.ma0-lg{margin:0!important}
}
@media only screen and (min-width:1601px) {
.container-fluid{padding-right:2rem;padding-left:2rem}
/*.container{width:1440px}*/
.container.full{width:90%}
/*.row{margin-right:-1rem;margin-left:-1rem}*/
[class*="_self"][class*="-cl"],[class*="_chd"][class*="-cl"]>*,
.col-xl,.col-xl-1,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-10,.col-xl-11,.col-xl-12{box-sizing:border-box;-ms-flex:0 0 auto;-webkit-box-flex:0;flex:0 0 auto;/*padding-right:1rem;padding-left:1rem*/}
[class~="_chd-cl-xl"]>*,.col-xl{-webkit-flex-grow:1!important;-ms-flex-positive:1!important;-webkit-box-flex:1!important;flex-grow:1!important;-ms-flex-preferred-size:0!important;flex-basis:0!important;max-width:100%}
[class*="_chd"][class*="-cl"][class*="-xl-01"]>*,.col-xl-1{-ms-flex-preferred-size:8.333%;flex-basis:8.333%;max-width:8.333%}
[class*="_chd"][class*="-cl"][class*="-xl-02"]>*,.col-xl-2{-ms-flex-preferred-size:16.667%;flex-basis:16.667%;max-width:16.667%}
[class*="_chd"][class*="-cl"][class*="-xl-25"]>*,.col-xl-25{-ms-flex-preferred-size:20%;flex-basis:20%;max-width:20%}
[class*="_chd"][class*="-cl"][class*="-xl-03"]>*,.col-xl-3{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}
[class*="_chd"][class*="-cl"][class*="-xl-04"]>*,.col-xl-4{-ms-flex-preferred-size:33.333%;flex-basis:33.333%;max-width:33.333%}
[class*="_chd"][class*="-cl"][class*="-xl-05"]>*,.col-xl-5{-ms-flex-preferred-size:41.667%;flex-basis:41.667%;max-width:41.667%}
[class*="_chd"][class*="-cl"][class*="-xl-06"]>*,.col-xl-6{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}
[class*="_chd"][class*="-cl"][class*="-xl-07"]>*,.col-xl-7{-ms-flex-preferred-size:58.333%;flex-basis:58.333%;max-width:58.333%}
[class*="_chd"][class*="-cl"][class*="-xl-08"]>*,.col-xl-8{-ms-flex-preferred-size:66.667%;flex-basis:66.667%;max-width:66.667%}
[class*="_chd"][class*="-cl"][class*="-xl-09"]>*,.col-xl-9{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}
[class*="_chd"][class*="-cl"][class*="-xl-10"]>*,.col-xl-10{-ms-flex-preferred-size:83.333%;flex-basis:83.333%;max-width:83.333%}
[class*="_chd"][class*="-cl"][class*="-xl-11"]>*,.col-xl-11{-ms-flex-preferred-size:91.667%;flex-basis:91.667%;max-width:91.667%}
[class*="_chd"][class*="-cl"][class*="-xl-12"]>*,.col-xl-12{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%}
[class~="_self-cl-xl"]{-webkit-flex-grow:1!important;-ms-flex-positive:1!important;-webkit-box-flex:1!important;flex-grow:1!important;-ms-flex-preferred-size:0!important;flex-basis:0!important;max-width:100%}
[class*="_self"][class*="-cl"][class*="-xl-01"]{-ms-flex-preferred-size:8.333%;flex-basis:8.333%;max-width:8.333%}
[class*="_self"][class*="-cl"][class*="-xl-02"]{-ms-flex-preferred-size:16.667%;flex-basis:16.667%;max-width:16.667%}
[class*="_self"][class*="-cl"][class*="-xl-25"]{-ms-flex-preferred-size:20%;flex-basis:20%;max-width:20%}
[class*="_self"][class*="-cl"][class*="-xl-03"]{-ms-flex-preferred-size:25%;flex-basis:25%;max-width:25%}
[class*="_self"][class*="-cl"][class*="-xl-04"]{-ms-flex-preferred-size:33.333%;flex-basis:33.333%;max-width:33.333%}
[class*="_self"][class*="-cl"][class*="-xl-05"]{-ms-flex-preferred-size:41.667%;flex-basis:41.667%;max-width:41.667%}
[class*="_self"][class*="-cl"][class*="-xl-06"]{-ms-flex-preferred-size:50%;flex-basis:50%;max-width:50%}
[class*="_self"][class*="-cl"][class*="-xl-07"]{-ms-flex-preferred-size:58.333%;flex-basis:58.333%;max-width:58.333%}
[class*="_self"][class*="-cl"][class*="-xl-08"]{-ms-flex-preferred-size:66.667%;flex-basis:66.667%;max-width:66.667%}
[class*="_self"][class*="-cl"][class*="-xl-09"]{-ms-flex-preferred-size:75%;flex-basis:75%;max-width:75%}
[class*="_self"][class*="-cl"][class*="-xl-10"]{-ms-flex-preferred-size:83.333%;flex-basis:83.333%;max-width:83.333%}
[class*="_self"][class*="-cl"][class*="-xl-11"]{-ms-flex-preferred-size:91.667%;flex-basis:91.667%;max-width:91.667%}
[class*="_self"][class*="-cl"][class*="-xl-12"]{-ms-flex-preferred-size:100%;flex-basis:100%;max-width:100%;width:100%}
[class*="_chd"][class*="-cl"][class*="-xl-offset-01"]>*,.col-xl-offset-1{margin-left:8.333%}
[class*="_chd"][class*="-cl"][class*="-xl-offset-02"]>*,.col-xl-offset-2{margin-left:16.667%}
[class*="_chd"][class*="-cl"][class*="-xl-offset-25"]>*,.col-xl-offset-25{margin-left:20%}
[class*="_chd"][class*="-cl"][class*="-xl-offset-03"]>*,.col-xl-offset-3{margin-left:25%}
[class*="_chd"][class*="-cl"][class*="-xl-offset-04"]>*,.col-xl-offset-4{margin-left:33.333%}
[class*="_chd"][class*="-cl"][class*="-xl-offset-05"]>*,.col-xl-offset-5{margin-left:41.667%}
[class*="_chd"][class*="-cl"][class*="-xl-offset-06"]>*,.col-xl-offset-6{margin-left:50%}
[class*="_chd"][class*="-cl"][class*="-xl-offset-07"]>*,.col-xl-offset-7{margin-left:58.333%}
[class*="_chd"][class*="-cl"][class*="-xl-offset-08"]>*,.col-xl-offset-8{margin-left:66.667%}
[class*="_chd"][class*="-cl"][class*="-xl-offset-09"]>*,.col-xl-offset-9{margin-left:75%}
[class*="_chd"][class*="-cl"][class*="-xl-offset-10"]>*,.col-xl-offset-10{margin-left:83.333%}
[class*="_chd"][class*="-cl"][class*="-xl-offset-11"]>*,.col-xl-offset-11{margin-left:91.667%}
[class*="_self"][class*="-cl"][class*="-xl-offset-01"]{margin-left:8.333%}
[class*="_self"][class*="-cl"][class*="-xl-offset-02"]{margin-left:16.667%}
[class*="_self"][class*="-cl"][class*="-xl-offset-25"]{margin-left:20%}
[class*="_self"][class*="-cl"][class*="-xl-offset-03"]{margin-left:25%}
[class*="_self"][class*="-cl"][class*="-xl-offset-04"]{margin-left:33.333%}
[class*="_self"][class*="-cl"][class*="-xl-offset-05"]{margin-left:41.667%}
[class*="_self"][class*="-cl"][class*="-xl-offset-06"]{margin-left:50%}
[class*="_self"][class*="-cl"][class*="-xl-offset-07"]{margin-left:58.333%}
[class*="_self"][class*="-cl"][class*="-xl-offset-08"]{margin-left:66.667%}
[class*="_self"][class*="-cl"][class*="-xl-offset-09"]{margin-left:75%}
[class*="_self"][class*="-cl"][class*="-xl-offset-10"]{margin-left:83.333%}
[class*="_self"][class*="-cl"][class*="-xl-offset-11"]{margin-left:91.667%}
.start-xl{-ms-flex-pack:start;-webkit-box-pack:start;justify-content:flex-start;text-align:start}
.center-xl{-ms-flex-pack:center;-webkit-box-pack:center;justify-content:center;text-align:center}
.end-xl{-ms-flex-pack:end;-webkit-box-pack:end;justify-content:flex-end;text-align:end}
.top-xl{-ms-flex-align:start;-webkit-box-align:start;align-items:flex-start}
.middle-xl{-ms-flex-align:center;-webkit-box-align:center;align-items:center}
.bottom-xl{-ms-flex-align:end;-webkit-box-align:end;align-items:flex-end}
.around-xl{-ms-flex-pack:distribute;justify-content:space-around}
.between-xl{-ms-flex-pack:justify;-webkit-box-pack:justify;justify-content:space-between}
.first-xl{-ms-flex-order:-1;-webkit-box-ordinal-group:0;order:-1}
.last-xl{-ms-flex-order:1;-webkit-box-ordinal-group:2;order:1}
.pa10-xl{padding:10px}
.pa15-xl{padding:15px}
.pa20-xl{padding:20px}
.pa25-xl{padding:25px}
.pa30-xl{padding:30px}
.pt0-xl{padding-top:0}
.pt10-xl{padding-top:10px}
.pt15-xl{padding-top:15px}
.pt20-xl{padding-top:20px}
.pt25-xl{padding-top:25px}
.pt30-xl{padding-top:30px}
.pb0-xl{padding-bottom:0}
.pb10-xl{padding-bottom:10px}
.pb15-xl{padding-bottom:15px}
.pb20-xl{padding-bottom:20px}
.pb25-xl{padding-bottom:25px}
.pb30-xl{padding-bottom:30px}
.pr0-xl{padding-right:0!important}
.pr10-xl{padding-right:10px}
.pr15-xl{padding-right:15px}
.pr20-xl{padding-right:20px}
.pr25-xl{padding-right:25px}
.pr30-xl{padding-right:30px}
.pl0-xl{padding-left:0!important}
.pl10-xl{padding-left:10px}
.pl15-xl{padding-left:15px}
.pl20-xl{padding-left:20px}
.pl25-xl{padding-left:25px}
.pl30-xl{padding-left:30px}
.pd0-xl,.pa0-xl{padding:0!important}
.ma10-xl{margin:10px}
.ma15-xl{margin:15px}
.ma20-xl{margin:20px}
.ma25-xl{margin:25px}
.ma30-xl{margin:30px}
.mt0-xl{margin-top:0}
.mt10-xl{margin-top:10px}
.mt15-xl{margin-top:15px}
.mt20-xl{margin-top:20px}
.mt25-xl{margin-top:25px}
.mt30-xl{margin-top:30px}
.mb0-xl{margin-bottom:0}
.mb10-xl{margin-bottom:10px}
.mb15-xl{margin-bottom:15px}
.mb20-xl{margin-bottom:20px}
.mb25-xl{margin-bottom:25px}
.mb30-xl{margin-bottom:30px}
.mr0-xl{margin-right:0}
.mr10-xl{margin-right:10px}
.mr15-xl{margin-right:15px}
.mr20-xl{margin-right:20px}
.mr25-xl{margin-right:25px}
.mr30-xl{margin-right:30px}
.ml0-xl{margin-left:0}
.ml10-xl{margin-left:10px}
.ml15-xl{margin-left:15px}
.ml20-xl{margin-left:20px}
.ml25-xl{margin-left:25px}
.ml30-xl{margin-left:30px}
.mg0-xl,.ma0-xl{margin:0!important}
}
@media only screen and (max-width:992px) {
.row0-xs{margin-right:0;margin-left:0}
.container-fluid .row0-xs{margin-right:-0.5rem;margin-left:-0.5rem} 
.container{overflow:hidden}
}
[class*="_chd"][class*="-pa10"]>*{padding:10px}
[class*="_chd"][class*="-pa15"]>*{padding:15px}
[class*="_chd"][class*="-pa20"]>*{padding:20px}
[class*="_chd"][class*="-pa25"]>*{padding:25px}
[class*="_chd"][class*="-pa30"]>*{padding:30px}
[class*="_chd"][class*="-pv10"]>*{padding:10px 0}
[class*="_chd"][class*="-pv15"]>*{padding:15px 0}
[class*="_chd"][class*="-pv20"]>*{padding:20px 0}
[class*="_chd"][class*="-pv25"]>*{padding:25px 0}
[class*="_chd"][class*="-pv30"]>*{padding:30px 0}
[class*="_chd"][class*="-ph10"]>*{padding:0 10px}
[class*="_chd"][class*="-ph15"]>*{padding:0 15px}
[class*="_chd"][class*="-ph20"]>*{padding:0 20px}
[class*="_chd"][class*="-ph25"]>*{padding:0 25px}
[class*="_chd"][class*="-ph30"]>*{padding:0 30px}
[class*="_chd"][class*="-pt0"]{padding-top:0}
[class*="_chd"][class*="-pt10"]>*{padding-top:10px}
[class*="_chd"][class*="-pt15"]>*{padding-top:15px}
[class*="_chd"][class*="-pt20"]>*{padding-top:20px}
[class*="_chd"][class*="-pt25"]>*{padding-top:25px}
[class*="_chd"][class*="-pt30"]>*{padding-top:30px}
[class*="_chd"][class*="-pb0"]{padding-bottom:0}
[class*="_chd"][class*="-pb10"]>*{padding-bottom:10px}
[class*="_chd"][class*="-pb15"]>*{padding-bottom:15px}
[class*="_chd"][class*="-pb20"]>*{padding-bottom:20px}
[class*="_chd"][class*="-pb25"]>*{padding-bottom:25px}
[class*="_chd"][class*="-pb30"]>*{padding-bottom:30px}
[class*="_chd"][class*="-pr0"]{padding-right:0}
[class*="_chd"][class*="-pr10"]>*{padding-right:10px}
[class*="_chd"][class*="-pr15"]>*{padding-right:15px}
[class*="_chd"][class*="-pr20"]>*{padding-right:20px}
[class*="_chd"][class*="-pr25"]>*{padding-right:25px}
[class*="_chd"][class*="-pr30"]>*{padding-right:30px}
[class*="_chd"][class*="-pl0"]{padding-left:0}
[class*="_chd"][class*="-pl10"]>*{padding-left:10px}
[class*="_chd"][class*="-pl15"]>*{padding-left:15px}
[class*="_chd"][class*="-pl20"]>*{padding-left:20px}
[class*="_chd"][class*="-pl25"]>*{padding-left:25px}
[class*="_chd"][class*="-pl30"]>*{padding-left:30px}
[class*="_chd"][class*="-pd0"]>*,[class*="_chd"][class*="-pa0"]{padding:0!important}
[class*="_self"][class*="-pa10"]{padding:10px}
[class*="_self"][class*="-pa15"]{padding:15px}
[class*="_self"][class*="-pa20"]{padding:20px}
[class*="_self"][class*="-pa25"]{padding:25px}
[class*="_self"][class*="-pa30"]{padding:30px}
[class*="_self"][class*="-pv10"]{padding:10px 0}
[class*="_self"][class*="-pv15"]{padding:15px 0}
[class*="_self"][class*="-pv20"]{padding:20px 0}
[class*="_self"][class*="-pv25"]{padding:25px 0}
[class*="_self"][class*="-pv30"]{padding:30px 0}
[class*="_self"][class*="-ph10"]{padding:0 10px}
[class*="_self"][class*="-ph15"]{padding:0 15px}
[class*="_self"][class*="-ph20"]{padding:0 20px}
[class*="_self"][class*="-ph25"]{padding:0 25px}
[class*="_self"][class*="-ph30"]{padding:0 30px}
[class*="_self"][class*="-pt0"]{padding-top:0}
[class*="_self"][class*="-pt10"]{padding-top:10px}
[class*="_self"][class*="-pt15"]{padding-top:15px}
[class*="_self"][class*="-pt20"]{padding-top:20px}
[class*="_self"][class*="-pt25"]{padding-top:25px}
[class*="_self"][class*="-pt30"]{padding-top:30px}
[class*="_self"][class*="-pb0"]{padding-bottom:0}
[class*="_self"][class*="-pb10"]{padding-bottom:10px}
[class*="_self"][class*="-pb15"]{padding-bottom:15px}
[class*="_self"][class*="-pb20"]{padding-bottom:20px}
[class*="_self"][class*="-pb25"]{padding-bottom:25px}
[class*="_self"][class*="-pb30"]{padding-bottom:30px}
[class*="_self"][class*="-pr0"]{padding-right:0!important}
[class*="_self"][class*="-pr10"]{padding-right:10px}
[class*="_self"][class*="-pr15"]{padding-right:15px}
[class*="_self"][class*="-pr20"]{padding-right:20px}
[class*="_self"][class*="-pr25"]{padding-right:25px}
[class*="_self"][class*="-pr30"]{padding-right:30px}
[class*="_self"][class*="-pl0"]{padding-left:0!important}
[class*="_self"][class*="-pl10"]{padding-left:10px}
[class*="_self"][class*="-pl15"]{padding-left:15px}
[class*="_self"][class*="-pl20"]{padding-left:20px}
[class*="_self"][class*="-pl25"]{padding-left:25px}
[class*="_self"][class*="-pl30"]{padding-left:30px}
[class*="_self"][class*="-pd0"],[class*="_self"][class*="-pa0"]{padding:0!important}
[class*="_chd"][class*="-ma10"]>*{margin:10px}
[class*="_chd"][class*="-ma15"]>*{margin:15px}
[class*="_chd"][class*="-ma20"]>*{margin:20px}
[class*="_chd"][class*="-ma25"]>*{margin:25px}
[class*="_chd"][class*="-ma30"]>*{margin:30px}
[class*="_chd"][class*="-mv10"]>*{margin:10px 0}
[class*="_chd"][class*="-mv15"]>*{margin:15px 0}
[class*="_chd"][class*="-mv20"]>*{margin:20px 0}
[class*="_chd"][class*="-mv25"]>*{margin:25px 0}
[class*="_chd"][class*="-mv30"]>*{margin:30px 0}
[class*="_chd"][class*="-mh10"]>*{margin:0 10px}
[class*="_chd"][class*="-mh15"]>*{margin:0 15px}
[class*="_chd"][class*="-mh20"]>*{margin:0 20px}
[class*="_chd"][class*="-mh25"]>*{margin:0 25px}
[class*="_chd"][class*="-mh30"]>*{margin:0 30px}
[class*="_chd"][class*="-mt0"]>*{margin-top:0}
[class*="_chd"][class*="-mt10"]>*{margin-top:10px}
[class*="_chd"][class*="-mt15"]>*{margin-top:15px}
[class*="_chd"][class*="-mt20"]>*{margin-top:20px}
[class*="_chd"][class*="-mt25"]>*{margin-top:25px}
[class*="_chd"][class*="-mt30"]>*{margin-top:30px}
[class*="_chd"][class*="-mb0"]>*{margin-bottom:0}
[class*="_chd"][class*="-mb10"]>*{margin-bottom:10px}
[class*="_chd"][class*="-mb15"]>*{margin-bottom:15px}
[class*="_chd"][class*="-mb20"]>*{margin-bottom:20px}
[class*="_chd"][class*="-mb25"]>*{margin-bottom:25px}
[class*="_chd"][class*="-mb30"]>*{margin-bottom:30px}
[class*="_chd"][class*="-mr10"]>*{margin-right:10px}
[class*="_chd"][class*="-mr15"]>*{margin-right:15px}
[class*="_chd"][class*="-mr20"]>*{margin-right:20px}
[class*="_chd"][class*="-mr25"]>*{margin-right:25px}
[class*="_chd"][class*="-mr30"]>*{margin-right:30px}
[class*="_chd"][class*="-ml10"]>*{margin-left:10px}
[class*="_chd"][class*="-ml15"]>*{margin-left:15px}
[class*="_chd"][class*="-ml20"]>*{margin-left:20px}
[class*="_chd"][class*="-ml25"]>*{margin-left:25px}
[class*="_chd"][class*="-ml30"]>*{margin-left:30px}
[class*="_chd"][class*="-mg0"]>*{margin:0}
[class*="_self"][class*="-ma10"]{margin:10px}
[class*="_self"][class*="-ma15"]{margin:15px}
[class*="_self"][class*="-ma20"]{margin:20px}
[class*="_self"][class*="-ma25"]{margin:25px}
[class*="_self"][class*="-ma30"]{margin:30px}
[class*="_self"][class*="-mv10"]{margin:10px 0}
[class*="_self"][class*="-mv15"]{margin:15px 0}
[class*="_self"][class*="-mv20"]{margin:20px 0}
[class*="_self"][class*="-mv25"]{margin:25px 0}
[class*="_self"][class*="-mv30"]{margin:30px 0}
[class*="_self"][class*="-mh10"]{margin:0 10px}
[class*="_self"][class*="-mh15"]{margin:0 15px}
[class*="_self"][class*="-mh20"]{margin:0 20px}
[class*="_self"][class*="-mh25"]{margin:0 25px}
[class*="_self"][class*="-mh30"]{margin:0 30px}
[class*="_self"][class*="-mt0"]{margin-top:0}
[class*="_self"][class*="-mt10"]{margin-top:10px}
[class*="_self"][class*="-mt15"]{margin-top:15px}
[class*="_self"][class*="-mt20"]{margin-top:20px}
[class*="_self"][class*="-mt25"]{margin-top:25px}
[class*="_self"][class*="-mt30"]{margin-top:30px}
[class*="_self"][class*="-mb0"]{margin-bottom:0}
[class*="_self"][class*="-mb10"]{margin-bottom:10px}
[class*="_self"][class*="-mb15"]{margin-bottom:15px}
[class*="_self"][class*="-mb20"]{margin-bottom:20px}
[class*="_self"][class*="-mb25"]{margin-bottom:25px}
[class*="_self"][class*="-mb30"]{margin-bottom:30px}
[class*="_self"][class*="-mr0"]{margin-right:0}
[class*="_self"][class*="-mr10"]{margin-right:10px}
[class*="_self"][class*="-mr15"]{margin-right:15px}
[class*="_self"][class*="-mr20"]{margin-right:20px}
[class*="_self"][class*="-mr25"]{margin-right:25px}
[class*="_self"][class*="-mr30"]{margin-right:30px}
[class*="_self"][class*="-ml0"]{margin-left:0}
[class*="_self"][class*="-ml10"]{margin-left:10px}
[class*="_self"][class*="-ml15"]{margin-left:15px}
[class*="_self"][class*="-ml20"]{margin-left:20px}
[class*="_self"][class*="-ml25"]{margin-left:25px}
[class*="_self"][class*="-ml30"]{margin-left:30px}
[class*="_self"][class*="-mg0"]{margin:0}
[class*="_self"][class*="_ps"][class*="-rlt"]{position:relative}
[class*="_self"][class*="_ps"][class*="-abl"]{position:absolute}
[class*="_self"][class*="_ps"][class*="-fxd"],.fixed{position:fixed}
[class*="_self"][class*="_ps"][class*="-stc"]{position:static}
[class*="_chd"][class*="_ps"][class*="-rlt"]>*{position:relative}
[class*="_chd"][class*="_ps"][class*="-abl"]>*{position:absolute}
[class*="_chd"][class*="_ps"][class*="-fxd"]>*{position:fixed}
[class*="_chd"][class*="_ps"][class*="-stc"]>*{position:static}
[class*="_self"][class*="_fl"]{float:left}
[class*="_self"][class*="_fr"]{float:right}
[class*="_self"][class*="_fn"]{float:none!important}
[class*="_chd"][class*="_fl"]>*{float:left}
[class*="_chd"][class*="_fr"]>*{float:right}
[class*="_chd"][class*="_fn"]>*{float:none!important}
[class*="txt-c"]{text-align:center}
[class*="txt-l"]{text-align:left}
[class*="txt-r"]{text-align:right}
[class*="txt-j"]{text-align:justify}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg{display:none !important}
@media (max-width:767px){
.visible-xs{display:block !important}
table.visible-xs{display:table}
tr.visible-xs{display:table-row !important}
th.visible-xs,
td.visible-xs{display:table-cell !important}
}
@media (min-width:768px) and (max-width:991px){
.visible-sm{display:block !important}
table.visible-sm{display:table}
tr.visible-sm{display:table-row !important}
th.visible-sm,
td.visible-sm{display:table-cell !important}
}
@media (min-width:992px) and (max-width:1199px){
.visible-md{display:block !important}
table.visible-md{display:table}
tr.visible-md{display:table-row !important}
th.visible-md,
td.visible-md{display:table-cell !important}
}
@media (min-width:1200px){
.visible-lg{display:block !important}
table.visible-lg{display:table}
tr.visible-lg{display:table-row !important}
th.visible-lg,
td.visible-lg{display:table-cell !important}
}
@media (max-width:767px){.hidden-xs{display:none !important}}
@media (min-width:768px) and (max-width:991px){.hidden-sm{display:none !important}}
@media (min-width:992px) and (max-width:1199px){.hidden-md{display:none !important}}
@media (min-width:1200px){.hidden-lg{display:none !important}}
table{max-width:100%;background-color:transparent}
table[class*="table"]{width:100%;margin-bottom:20px}
table[class*="table"]>thead>tr>th,
table[class*="table"]>tbody>tr>th,
table[class*="table"]>tfoot>tr>th,
table[class*="table"]>thead>tr>td,
table[class*="table"]>tbody>tr>td,
table[class*="table"]>tfoot>tr>td{padding:8px;line-height:1.428571429;vertical-align:top;border-top:1px solid #dddddd}
table[class*="table"]>thead>tr>th{vertical-align:bottom;border-bottom:2px solid #dddddd}
table[class*="table"]>caption+thead>tr:first-child>th,
table[class*="table"]>colgroup+thead>tr:first-child>th,
table[class*="table"]>thead:first-child>tr:first-child>th,
table[class*="table"]>caption+thead>tr:first-child>td,
table[class*="table"]>colgroup+thead>tr:first-child>td,
table[class*="table"]>thead:first-child>tr:first-child>td{border-top:0}
table[class*="table"]>tbody+tbody{border-top:2px solid #dddddd}
table[class*="tb-condensed"]>thead>tr>th,
table[class*="tb-condensed"]>tbody>tr>th,
table[class*="tb-condensed"]>tfoot>tr>th,
table[class*="tb-condensed"]>thead>tr>td,
table[class*="tb-condensed"]>tbody>tr>td,
table[class*="tb-condensed"]>tfoot>tr>td{padding:5px}
table[class*="tb-bordered"]{border:1px solid #dddddd}
table[class*="tb-bordered"]>thead>tr>th,
table[class*="tb-bordered"]>tbody>tr>th,
table[class*="tb-bordered"]>tfoot>tr>th,
table[class*="tb-bordered"]>thead>tr>td,
table[class*="tb-bordered"]>tbody>tr>td,
table[class*="tb-bordered"]>tfoot>tr>td{border:1px solid #dddddd}
table[class*="tb-bordered"]>thead>tr>th,
table[class*="tb-bordered"]>thead>tr>td{border-bottom-width:2px}
table[class*="tb-striped"]>tbody>tr:nth-child(odd)>td,
table[class*="tb-striped"]>tbody>tr:nth-child(odd)>th{background-color:#eee}
table[class*="tb-hover"]>tbody>tr:hover>td,
table[class*="tb-hover"]>tbody>tr:hover>th{background-color:#f5f5f5}
table col[class*="col-"]{position:static;display:table-column;float:none}
table td[class*="col-"],
table th[class*="col-"]{display:table-cell;float:none}
table[class*="table"]>thead>tr>[class*="active"],
table[class*="table"]>tbody>tr>[class*="active"],
table[class*="table"]>tfoot>tr>[class*="active"],
table[class*="table"]>thead>[class*="active"]>td,
table[class*="table"]>tbody>[class*="active"]>td,
table[class*="table"]>tfoot>[class*="active"]>td,
table[class*="table"]>thead>[class*="active"]>th,
table[class*="table"]>tbody>[class*="active"]>th,
table[class*="table"]>tfoot>[class*="active"]>th{background-color:#f5f5f5}
table[class*="tb-hover"]>tbody>tr>[class*="active"]:hover,
table[class*="tb-hover"]>tbody>[class*="active"]:hover>td,
table[class*="tb-hover"]>tbody>[class*="active"]:hover>th{background-color:#e8e8e8}
table[class*="table"]>thead>tr>[class*="success"],
table[class*="table"]>tbody>tr>[class*="success"],
table[class*="table"]>tfoot>tr>[class*="success"],
table[class*="table"]>thead>[class*="success"]>td,
table[class*="table"]>tbody>[class*="success"]>td,
table[class*="table"]>tfoot>[class*="success"]>td,
table[class*="table"]>thead>[class*="success"]>th,
table[class*="table"]>tbody>[class*="success"]>th,
table[class*="table"]>tfoot>[class*="success"]>th{background-color:#dff0d8}
table[class*="tb-hover"]>tbody>tr>[class*="success"]:hover,
table[class*="tb-hover"]>tbody>[class*="success"]:hover>td,
table[class*="tb-hover"]>tbody>[class*="success"]:hover>th{background-color:#d0e9c6}
table[class*="table"]>thead>tr>[class*="danger"],
table[class*="table"]>tbody>tr>[class*="danger"],
table[class*="table"]>tfoot>tr>[class*="danger"],
table[class*="table"]>thead>[class*="danger"]>td,
table[class*="table"]>tbody>[class*="danger"]>td,
table[class*="table"]>tfoot>[class*="danger"]>td,
table[class*="table"]>thead>[class*="danger"]>th,
table[class*="table"]>tbody>[class*="danger"]>th,
table[class*="table"]>tfoot>[class*="danger"]>th{background-color:#f2dede}
table[class*="tb-hover"]>tbody>tr>[class*="danger"]:hover,
table[class*="tb-hover"]>tbody>[class*="danger"]:hover>td,
table[class*="tb-hover"]>tbody>[class*="danger"]:hover>th{background-color:#ebcccc}
table[class*="table"]>thead>tr>[class*="warning"],
table[class*="table"]>tbody>tr>[class*="warning"],
table[class*="table"]>tfoot>tr>[class*="warning"],
table[class*="table"]>thead>[class*="warning"]>td,
table[class*="table"]>tbody>[class*="warning"]>td,
table[class*="table"]>tfoot>[class*="warning"]>td,
table[class*="table"]>thead>[class*="warning"]>th,
table[class*="table"]>tbody>[class*="warning"]>th,
table[class*="table"]>tfoot>[class*="warning"]>th{background-color:#fcf8e3}
table[class*="tb-hover"]>tbody>tr>[class*="warning"]:hover,
table[class*="tb-hover"]>tbody>[class*="warning"]:hover>td,
table[class*="tb-hover"]>tbody>[class*="warning"]:hover>th{background-color:#faf2cc}
@media (max-width:767px){[class*="table-resp"]{width:100%;margin-bottom:15px;overflow-x:scroll;overflow-y:hidden;border:1px solid #dddddd;-ms-overflow-style:-ms-autohiding-scrollbar;-webkit-overflow-scrolling:touch}
[class*="table-resp"]>[class*="table"]{margin-bottom:0}
[class*="table-resp"]>[class*="table"]>thead>tr>th,
[class*="table-resp"]>[class*="table"]>tbody>tr>th,
[class*="table-resp"]>[class*="table"]>tfoot>tr>th,
[class*="table-resp"]>[class*="table"]>thead>tr>td,
[class*="table-resp"]>[class*="table"]>tbody>tr>td,
[class*="table-resp"]>[class*="table"]>tfoot>tr>td{white-space:nowrap}
[class*="table-resp"]>[class*="tb-bordered"]{border:0}
[class*="table-resp"]>[class*="tb-bordered"]>thead>tr>th:first-child,
[class*="table-resp"]>[class*="tb-bordered"]>tbody>tr>th:first-child,
[class*="table-resp"]>[class*="tb-bordered"]>tfoot>tr>th:first-child,
[class*="table-resp"]>[class*="tb-bordered"]>thead>tr>td:first-child,
[class*="table-resp"]>[class*="tb-bordered"]>tbody>tr>td:first-child,
[class*="table-resp"]>[class*="tb-bordered"]>tfoot>tr>td:first-child{border-left:0}
[class*="table-resp"]>[class*="tb-bordered"]>thead>tr>th:last-child,
[class*="table-resp"]>[class*="tb-bordered"]>tbody>tr>th:last-child,
[class*="table-resp"]>[class*="tb-bordered"]>tfoot>tr>th:last-child,
[class*="table-resp"]>[class*="tb-bordered"]>thead>tr>td:last-child,
[class*="table-resp"]>[class*="tb-bordered"]>tbody>tr>td:last-child,
[class*="table-resp"]>[class*="tb-bordered"]>tfoot>tr>td:last-child{border-right:0}
[class*="table-resp"]>[class*="tb-bordered"]>tbody>tr:last-child>th,
[class*="table-resp"]>[class*="tb-bordered"]>tfoot>tr:last-child>th,
[class*="table-resp"]>[class*="tb-bordered"]>tbody>tr:last-child>td,
[class*="table-resp"]>[class*="tb-bordered"]>tfoot>tr:last-child>td{border-bottom:0}
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
[class*="radio"][disabled],
[class*="radio-inline"][disabled],
[class*="checkbox"][disabled],
[class*="checkbox-inline"][disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] [class*="radio"],
fieldset[disabled] [class*="radio-inline"],
fieldset[disabled] [class*="checkbox"],
fieldset[disabled] [class*="checkbox-inline"]{cursor:not-allowed}
input[type="text"][disabled],
input[type="password"][disabled],
input[type="number"][disabled],
textarea[disabled],
select[disabled],
fieldset[disabled] input[type="text"],
fieldset[disabled] input[type="password"],
fieldset[disabled] input[type="number"],
fieldset[disabled] textarea,
fieldset[disabled] select{background-color:#EEEEEE;cursor:not-allowed}
[class*="form-control"] input[type="text"].form-inline,
[class*="form-control"] input[type="password"].form-inline,
[class*="form-control"] input[type="number"].form-inline,
[class*="form-control"] select.form-inline,
[class*="form-control"] textarea.form-inline{width:auto;display:inline-block;vertical-align:middle}
[class*="ui-btn"][class*="btn-lg"]{padding:10px 16px;font-size:18px;line-height:1.33}
[class*="ui-btn"][class*="btn-md"]{padding:5px 10px;font-size:16px;line-height:1.35}
[class*="ui-btn"][class*="btn-sm"]{padding:5px 10px;font-size:12px;line-height:1.5}
[class*="ui-btn"][class*="btn-xs"]{padding:1px 5px;font-size:12px;line-height:1.5}
[class*="ui-btn"][class*="btn-block"]{display:block;width:100%;padding-right:0;padding-left:0}
[class*="ui-btn"][class*="btn-block"]+[class*="ui-btn"][class*="btn-block"]{margin-top:5px}
input[type="submit"][class*="btn-block"],
input[type="reset"][class*="btn-block"],
input[type="button"][class*="btn-block"]{width:100%;-webkit-appearance:none;appearance:none}
[class*="ui-btn"]{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:normal;line-height:1.428571429;background:#eaeaea;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;background:url(../di/effect-button.png) 100% 60% no-repeat;background-size:100%;transition:.3s all ease-in-out;-webkit-transition:.3s all ease-in-out;border:1px solid transparent;border-radius:.3em;-webkit-border-radius:.3em;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none}
[class*="ui-btn"][class*="-sq"]{border-radius:0;-webkit-border-radius:0}
[class*="ui-btn"][class*="-cr"]{border-radius:5em;-webkit-border-radius:05em}
[class*="ui-btn"]:hover{color:#333;text-decoration:none}
[class*="ui-btn"]:active,[class*="ui-btn"][class*="active"]{background-image:none;outline:0}
[class*="ui-btn"][class*="gray"]{background-color:#707070;color:#fff}
[class*="ui-btn"][class*="gray2"]{background-color:#ccc;color:#454545}
[class*="ui-btn"][class*="trans"]{background-color:none;color:#666}
[class*="ui-btn"][class*="orange"]{background-color:#fe5a01;color:#fff}
[class*="ui-btn"][class*="yellow"]{background-color:#fe9901;color:#fff}
[class*="ui-btn"][class*="gold"]{background-color:#CE9200;color:#fff}
[class*="ui-btn"][class*="blue"]{background-color:#3FBECF;color:#fff}
[class*="ui-btn"][class*="red"]{background-color:#E12A18;color:#fff;background-image:none}
[class*="ui-btn"][class*="green"]{background-color:#3fbecf;color:#fff}
[class*="ui-btn"][class*="green2"]{background-color:#87c656}
[class*="ui-btn"][class*="black"]{background-color:#212121;color:#fff}
[class*="ui-btn"][class*="white"]{background-color:#fff;color:#212121}
[class*="ui-btn"][class*="-border"]{background-color:transparent;border:1px solid #dcdcde;color:#fc7a08}
[class*="ui-btn"][class*="disable"]{background:#eaeaea;color:#ccc;cursor:not-allowed}
[class*="ui-btn"][class*="border"]:hover{background-color:#fe5a01;color:#fff;background-position:100% 50%;}
#toc [class*="ui-btn"][class*="border"].t-balck:hover,#toc [class*="ui-btn"][class*="border"].t-gray:hover{color:#fff!important}
[class*="ui-btn"]:hover{box-shadow:0 -2px 0 rgba(0,0,0,0.1) inset;background-position:100% 50%;border-color:transparent}
#toc .t-green,.t-green{color:#99ca3c!important}
#toc .t-green2,.t-green2{color:#17a05e!important}
#toc .t-red,.t-red{color:#eb1c24!important}
#toc .t-blue,.t-blue{color:#1680c0!important}
#toc .t-black,.t-black{color:#000!important}
#toc .t-white,.t-white{color:#fff!important}
#toc .t-gray,.t-gray{color:#454545!important}
/*image*/
.image{display:block;position:relative}
.image img{display:block;height:auto;width:100%}
.image.is-square img, .image.is-1by1 img, .image.is-4by3 img, .image.is-3by2 img, .image.is-16by9 img, .image.is-2by1 img{bottom:0;left:0;position:absolute;right:0;top:0;height:100%;width:100%}
.image.is-square, .image.is-1by1{padding-top:100%}
.image.is-4by3{padding-top:75%}
.image.is-3by2{padding-top:66.6666%}
.image.is-16by9{padding-top:56.25%}
.image.is-2by1{padding-top:50%}
.image.is-16x16{height:16px;width:16px}
.image.is-24x24{height:24px;width:24px}
.image.is-32x32{height:32px;width:32px}
.image.is-48x48{height:48px;width:48px}
.image.is-64x64{height:64px;width:64px}
.image.is-96x96{height:96px;width:96px}
.image.is-128x128{height:128px;width:128px}
/*embed*/
.embed-resp{position:relative;display:block;height:0;padding:0;padding-bottom:56.25%;overflow:hidden}
.embed-resp .embed-resp-item, .embed-resp iframe, .embed-resp embed, .embed-resp object, .embed-resp video{position:absolute;top:0;bottom:0;left:0;width:100%;height:100%;border:0}
.embed-resp[class*="16by9"]{padding-bottom:56.25%}
.embed-resp[class*="4by3"]{padding-bottom:75%}
/*paging*/
[class*=pagination]{display:inline-block;border-radius:4px;-webkit-border-radius:4px}
[class*=pager] li,[class*=pagination]>li{display:inline}
[class*=pagination]>li>*,[class*=pagination]>li>a{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.428571429;text-decoration:none;background-color:#fff}
[class*=pagination][class*=-border]>li>*,[class*=pagination][class*=-border]>li>a{border:1px solid #ddd}
[class*=pagination]>li:first-child>*,[class*=pagination]>li:first-child>a{margin-left:0;border-bottom-left-radius:4px;border-top-left-radius:4px}
[class*=pagination]>li:last-child>*,[class*=pagination]>li:last-child>a{border-top-right-radius:4px;border-bottom-right-radius:4px}
[class*=pagination]>li>:focus,[class*=pagination]>li>:hover,[class*=pagination]>li>a:focus,[class*=pagination]>li>a:hover{background-color:#eee}
[class*=pagination]>[class*=active]>*,[class*=pagination]>[class*=active]>:focus,[class*=pagination]>[class*=active]>:hover,[class*=pagination]>[class*=active]>a,[class*=pagination]>[class*=active]>a:focus,[class*=pagination]>[class*=active]>a:hover{z-index:2;color:#fff;cursor:default;background-color:#428bca;border-color:#428bca}
[class*=pagination]>[class*=disabled]>*,[class*=pagination]>[class*=disabled]>:focus,[class*=pagination]>[class*=disabled]>:hover,[class*=pagination]>[class*=disabled]>a,[class*=pagination]>[class*=disabled]>a:focus,[class*=pagination]>[class*=disabled]>a:hover{color:#999;cursor:not-allowed;background-color:#fff;border-color:#ddd}
[class*=pagination][class*=-lg]>li>*,[class*=pagination][class*=-lg]>li>a{padding:10px 16px;font-size:18px}
[class*=pagination][class*=-lg]>li:first-child>*,[class*=pagination][class*=-lg]>li:first-child>a{border-bottom-left-radius:6px;border-top-left-radius:6px}
[class*=pagination][class*=-lg]>li:last-child>*,[class*=pagination][class*=-lg]>li:last-child>a{border-top-right-radius:6px;border-bottom-right-radius:6px}
[class*=pagination][class*=-sm]>li>*,[class*=pagination][class*=-sm]>li>a{padding:5px 10px;font-size:12px}
[class*=pagination][class*=-sm]>li:first-child>*,[class*=pagination][class*=-sm]>li:first-child>a{border-bottom-left-radius:3px;border-top-left-radius:3px}
[class*=pagination][class*=-sm]>li:last-child>*,[class*=pagination][class*=-sm]>li:last-child>a{border-top-right-radius:3px;border-bottom-right-radius:3px}