@charset "utf-8";
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{background:#f3f3f3;font:14px "Prompt";color:#333;padding: 0; margin: 0}
body>.container{position: relative;max-width:100%;width:980px;min-height:100vh;box-shadow:0 0 10px rgba(0,0,0,0.3);background:#fff;padding:15px;margin: 0 auto}
img{max-width:100%}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:inherit;font-weight:400;line-height:1.1;color:inherit}
a{text-decoration: none; outline: none}
ul,ol{padding: 0;margin: 0}
li{list-style-type: none;padding: 0; margin: 0}

.head-bar{display: none; position: relative;padding:0 5px;text-align:center;background:#3db996;margin:0 0 15px}
[id="toc"]>.head-bar{margin:-15px -15px 15px}
.head-bar img{display:block;margin:0 auto;max-height:50px;padding-top: 3px;}
.head-bar.title{padding: 0}
.head-bar.title>[class*="btn"]{ position: absolute;top: 0; left: 0;background: rgba(0,0,0,0);transition: .2s all ease}
.head-bar.title>[class*="btn"]:hover{background: rgba(0,0,0,0.3)}
.head-bar.title>[class*="btn"]>i{display: block;width: 50px; height: 50px; text-align: center; line-height: 50px;}
.head-bar.title>[class*="btn"]>i[class*="ic-back"]:before{content: "";display:block;position: absolute;top: 50%;left: 50%; width: 20px; height: 20px; border-left: 2px solid #fff; border-bottom: 2px solid #fff; transform:rotate(45deg) translate(-60%,-20%);-webkit-transform:rotate(45deg) translate(-60%,-20%)}
.head-bar.title .head{font-size: 18px; height: 50px; display: flex; align-content: center; align-items: center;justify-content: center;font-weight: 200; color: #fff; text-align: center; margin: 0 60px}
.head-bar.title .head .logo{display: inline-block;vertical-align: middle; width:90px; height:45px; background: url("../di/logo.png") 50% 50% no-repeat;background-size: auto 100%;margin-right: 10px;filter: invert(1) brightness(100);-webkit-filter: invert(1) brightness(100)}
[class*="ui-btn"]{padding:10px}
.close-page{position: absolute; top: 10px; right: 10px; width: 30px; height: 30px; z-index: 99;display: none}
.close-page>a{display: block; height: 30px; background: url("../di/btn-close.png") 50% 50% no-repeat; background-size: 100% auto;text-indent: -9999px;}
/*.flexslider{margin:0 0 10px}
.flexslider .slides>li>a{display:block;position:relative}
.flexslider .slides>li>a img{display:block}
.flexslider .slides>li>a i[class*="fa"]{display:block;width:48px;height:48px;font-size:48px;line-height:48px;text-align:center;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);color:rgba(255,255,255,0.75)}
.flexslider .slides>li>a:hover i[class*="fa"]{color:rgba(255,255,255,0.95)}
.flexslider .slides>li .detail{position:absolute;left:0;bottom:-100%;right:0;padding:10px;background:rgba(255,255,255,0.5);color:#353535;transition:.2s all ease-in-out;-webkit-transition:.2s all ease-in-out}
.flexslider .slides>li>a:hover .detail{bottom:0}
.flexslider .slides>li .detail>*{margin:0;font-size:14px;text-align:center}
.flexslider .flex-control-nav{position:relative;top:auto;bottom:auto;margin-top:5px;height:10px}
.flex-control-nav li{margin:0 3px}
.flex-control-paging li a{width:7px;height:7px;background:#d1d3d4;border:none;box-shadow:none}
.flex-control-paging li a.flex-active{background:#5cb700;box-shadow:0 0 0 1px #5cb700}*/
/*all*/
[class*="ic-"]{display: inline-block;position: relative;vertical-align: middle}
[class*="ic-"]:before{content: "";display: block;width: 64px; height: 64px; text-align: center; background-position: 50% 50%; background-repeat: no-repeat;background-size: 100% auto}
[class*="ic-"][class*="-edit"]:before{width: 32px; height: 32px; background-image: url("../di/btn-edit.png");background-size: 60% auto}
[class*="ic-"][class*="-search"]:before{width: 24px; height: 24px; background-image: url("../di/btn-search.png")}
[class*="ic-"][class*="-add"]:before{width: 32px; height: 32px; background-image: url("../di/btn-add.png")}
[class*="ic-"][class*="main"]{max-width: 100%;background: url("../di/nav-main-icon.png") 50% 0 no-repeat;background-size: 100% auto}
[class*="ic-"][class*="main"]:before{width: 100%; height: 100%; padding: 100% 0 0}
[class*="ic-"][class*="main"][class*="-calendar"]{background-position: 50% 0}
[class*="ic-"][class*="main"][class*="-switch"]{background-position: 50% 100%}
.h-text{font-size: 21px; line-height: 120%; margin-bottom: 15px; margin-top: 0}
.txt-c{text-align: center}
.txt-l{text-align: left}
.txt-r{text-align: right}
.c-red{color: #c00}
.c-green{color:#195d51}
.c-black{color: #000}
.c-white{color: #fff}
/*button*/
[class*="ui-btn"]{display:inline-block;padding:5px 15px;margin-bottom:0;font-size:14px;min-width:130px;font-weight:normal;line-height:20px;background:#eaeaea;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;transition:.3s all ease-in-out;-webkit-transition:.3s all ease-in-out;border:1px solid transparent;border-radius:.3em;-webkit-border-radius:.3em;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none}
[class*="ui-btn"][class*="-sq"]{border-radius:0;-webkit-border-radius:0}
[class*="ui-btn"][class*="-cr"]{border-radius:5em;-webkit-border-radius:5em}
[class*="ui-btn"][class*="btn-block"]{width: 100%}
[class*="ui-btn"][class*="-mini"]{min-width:inherit}
[class*="ui-btn"][class*="gray"]{background-color:#707070;color:#fff}
[class*="ui-btn"][class*="trans"]{background-color:none;color:#666}
[class*="ui-btn"][class*="blue"]{background-color:#6b9dc2;color:#fff}
[class*="ui-btn"][class*="red"]{background-color:#F15A29;color:#fff}
[class*="ui-btn"][class*="green"]{background-color:#195d51;color: #fff}
[class*="ui-btn"][class*="green2"]{background-color:#3db996;color: #fff}
[class*="ui-btn"][class*="black"]{background-color:#212121;color:#fff}
[class*="ui-btn"][class*="white"]{background-color:#fff;color:#0160b9}
[class*="ui-btn"][class*="white"] *{color:#0160b9!important}
[class*="ui-btn"][class*="-border"]{background-color:transparent;border:1px solid #dcdcde;color:#fff}
[class*="ui-btn"][class*="disable"]{background:#eaeaea;color:#ccc;cursor:not-allowed}
[class*="ui-btn"][class*="border"]:hover{border-color:#0165c3;color:#fff;background-position:100% 50%;}
/*form*/
form *{font-family: "Prompt"; font-size: 14px}
.form-keep .wr label,.wr .txt-box,.wr .line{-moz-transition:all .25s cubic-bezier(.53,.01,.35,1.5);-o-transition:all .25s cubic-bezier(.53,.01,.35,1.5);-webkit-transition:all .25s cubic-bezier(.53,.01,.35,1.5);transition:all .25s cubic-bezier(.53,.01,.35,1.5)}
form .wr{position:relative;margin-top:20px}
form .wr label{transform-origin:left center;box-sizing:border-box;z-index:2;pointer-events:none;position:absolute;top:1px;bottom:1px;left:15px;right:10px;font-size:16px;text-align:left;font-weight:200;padding:0;line-height:40px;color:#aaa;background:#fff}
form .wr .txt-box{appearance:none;-webkit-appearance:none;box-sizing:border-box;display:block;width:100%;border:1px solid #a6a6a6;background:transparent;padding:10px 15px;font-size:16px;font-weight:200; line-height: 20px; position:relative;z-index:1;outline:none;border-radius: .5em;-webkit-border-radius: .5em}
form .wr .txt-box::-webkit-input-placeholder{color:#aaa}
form .wr .txt-box:-ms-input-placeholder{color:#aaa}
form .wr .txt-box::placeholder {color:#aaa}
form .wr .txt-box[type="date"]{background-color:#fff;outline:none;}
form .wr .txt-box:focus~label{font-size:11px;color:#212121;font-weight:400;line-height:15px;left: 5px; top:-15px;bottom:auto;right:auto;padding:0;background:none}
form .wr .txt-box:valid~label,form .wr.valid .txt-box~label{text-transform:uppercase;font-style:italic;font-size:11px;color:#aaa;line-height:15px;left: 5px; top:-15px;bottom:auto;right:auto;padding:0;background:none}
form .wr .txt-box:focus~label i,form .wr .txt-box:valid~label i,form .wr.valid .txt-box~label i{display: none}
form .wr .line{display:block;position:absolute;bottom:-1px;left:.4em;right:.4em;height:2px;background:#999;z-index:3;transform:scaleX(0);-webkit-transform:scaleX(0)}
form .wr .txt-box:focus~.line{transform:scaleX(1);-webkit-transform:scaleX(1)}
form .wr .hid{display:none}
/*upload AR photo*/
.file-upload-ar {position:relative;width:100%;height:42px;}
.file-upload-ar .hid{display:none}
.file-upload-ar:after {content:attr(data-text);font-size:14px;position:absolute;top:0;left:0;background:#fff;border: 1px solid #a6a6a6;padding:0 15px;display:block;width:calc(100% - 40px);pointer-events:none;z-index:20;height:42px;line-height:42px;color:#aaa;text-align:left;border-radius:.5em 0 0 .5em;font-weight:300;white-space: nowrap;overflow: hidden}
.file-upload-ar:not([data-text="Select File"]):after {color: #333}
.file-upload-ar:before {content:'Browse';position:absolute;top:0;right:0;display:inline-block;height:42px;background:#195d50;color:#fff;font-weight:400;z-index:25;font-size:12px;line-height:42px;padding:0 15px;text-transform:uppercase;pointer-events:none;border-radius:0 .7em .7em 0;}
.file-upload-ar:hover:before {background:#5CB700}
.file-upload-ar input {opacity:0;position:absolute;top:0;right:0;bottom:0;left:0;z-index:99;height:34px;margin:0;padding:0;display:block;cursor:pointer;width:100%;}
.wr .tagator_element{padding: 6px 10px; line-height: 20px; border-radius: .5em;-webkit-border-radius: .5em;border-color: #aaa}
.wr .tagator_tag{background-color: #dedede;color: #606060;border-radius: 5em;-webkit-border-radius: 5em;padding: 5px 30px 5px 10px}
.wr .tagator_tag_remove{ top: 10px; background: #606060; color: #eee;top: 5px;right: 5px; bottom: auto; padding: 0; width: 20px; height: 20px; line-height: 20px; font-weight: 200; text-align: center;border-radius: 5em;-webkit-border-radius: 5em;}
.wr .tagator_tag_remove:hover{background: #c00;color: #fff}
/*main*/
.main-nav{position: relative;}
.main-nav>ul{display: flex;flex-flow: row wrap;margin: 0 -2px}
.main-nav>ul>li{padding: 0 2px; margin-bottom: 4px;}
.main-nav>ul>li.m-calendar{ flex: 1 1 0}

.main-nav>ul>li .btn{display: block; padding: 1em 1.5em; text-align: center;background: #195d51;color: #fff;border-radius: 1em;-webkit-border-radius: 1em}
.main-nav>ul>li .btn i{display: block;max-width: 100%}
.main-nav>ul>li .btn span{white-space: nowrap}
.main-nav>ul>li.m-calendar .btn *{vertical-align: middle}
.main-nav>ul>li.m-calendar .btn i{position: absolute;left: 1.5em; width: 64px;display: inline-block}
.main-nav>ul>li.m-calendar .btn span{padding-left: 70px; display: block;line-height: 64px; font-size:5.5vmin}
.main-nav>ul>li.m-switch{max-width: 25%}
.main-nav>ul>li.m-switch .btn{background: #3db996}
.main-nav>ul>li.m-switch .btn.off{background: #808080}
.main-nav>ul>li.m-switch .btn span{ font-size:80%}
.main-nav>ul>li.m-about{flex: 0 0 100%;max-width: 100%}
.main-nav>ul>li.m-about a>span{display: none}
.main-nav>ul>li.m-about a img{display: block;object-fit: cover;border-radius: 1em;-webkit-border-radius: 1em}
/*recall*/
.mt10{margin-top: 10px!important}
.mt20{margin-top: 20px!important}
.mb10{margin-bottom: 10px!important}
.mb15{margin-bottom: 15px!important}
.mb20{margin-bottom: 20px!important}
.form-keep{padding: 0; margin: 0}
.form-keep fieldset{border:none;padding:10px}
.form-keep .hid{display: none}
.user{display: flex;flex-flow: row nowrap}
.user.full{align-items:flex-start; border-bottom: 1px solid #dbdbdb;padding-bottom:20px}
.user>img{width: 25%;max-width:128px;object-fit:cover;border-radius: 100%;-webkit-border-radius: 100%}
.user>div{flex: 1 1 0; padding: 0 10px;display: flex; flex-flow: column wrap; justify-content: center}
.user>div *{margin: 0}
.user>div b{font-weight: 400; font-size: 16px; color: #000}
.user>div p{font-size: 16px; color: #787878}
.user>div p small{font-size: 11px;font-weight: 200}
.user.full p{font-weight: 200; color: #333}
.user.full p b{ font-weight: 400}
.form-keep div>em{color: #454545;font-style: normal}
.form-keep .ctrl-btn{margin-top: 20px;}
.form-keep .ctrl-btn>*{padding:10px 15px; font-size: 18px}
.form-keep .row{margin-bottom: 15px}
.js-select .select2-container--default .select2-selection--single{ padding:6px 7px;height:42px;border-radius:.5em;-webkit-border-radius:.5em}
.js-select .select2-container--default .select2-selection--single .select2-selection__arrow{top:8px;right:7px}
.js-select .select2-container--default .select2-selection--single .select2-selection__placeholder{color: #aaa;font-weight: 200; font-size: 16px}
.box-result ul>li{border-bottom: 1px solid #dbdbdb; padding: 10px;}
.box-result ul>li:hover{background: #fafafa}
.box-result ul>li>a{display: block;position: relative; line-height: 30px; font-weight: 200; font-size: 18px;color: #000}
.box-result ul>li>a>span:first-child{font-size: 18px;line-height: 30px;max-width: 70vw;overflow: hidden;text-overflow: ellipsis}
.box-result ul>li>a>i{position: absolute;top: 0;right: 0}
.box-result ul>li>a>i:before{width: 32px; height: 32px; background: 50% 50% no-repeat; background-size: 100% auto}
.box-result ul>li>a>i[class*="dl"]:before{background-image:url("../di/btn-download.png") }
.box-result ul>li>a>i[class*="del"]:before{ width: 20px; height: 20px;background-image:url("../di/btn-delete.png") }
.box-result ul>li>a>i[class*="del"]{top:5px;}
.box-result[class*="list-group"] ul>li{padding:10px 0}
.list-group-leave ul>li>a{display: flex;justify-content: space-between}
.list-group-leave ul>li>a>span:first-child{max-width:40vw}
.list-group-leave ul>li small{font-size: 12px; text-align: right; color: #999}
/*profile*/
.title-bar{position: relative;background:#195d51; color: #fff; margin: 30px 0 10px; padding: 10px 20px; line-height: 25px; font-size: 18px; border-radius: .1em;-webkit-border-radius: .1em}
.title-bar i[class*="ic-edit"]{position: absolute;top:50%; right: 15px; transform: translateY(-50%);-webkit-transform: translateY(-50%)}
.title-bar a:first-child{color: #fff; text-decoration: none;font-weight: 200}
.title-bar a:first-child>i{vertical-align:text-bottom}
.idTabs{display: flex;flex-flow: row nowrap; overflow: auto;justify-content: flex-start;margin: 15px 0 0}
.idTabs>li{padding: 0}
.idTabs>li>a{display: block; padding: 5px 10px; min-width: 100px; text-align: center; font-size: 18px; line-height: 25px; color: #878787;transition: .2s all ease;-webkit-transition: .2s all ease}
.idTabs>li>a.selected{box-shadow: 0 -3px 0 #dd1442 inset;color: #212121}
/*calendar*/
.mbsc-cal-cell-i.mbsc-cal-day-i div[style*="position:absolute!important"]{text-indent: -9999px}
.c-detail{ color: #333; margin-top:10px; margin-bottom:15px; padding:0 10px 15px; border-bottom: 1px solid #d1d1d1}
.c-detail *{font-size: 16px}
.c-user-join ul>li{position: relative;padding: 6px 10px; display: flex; flex-flow: row nowrap;justify-content: space-between;align-items: center}
.c-user-join .user>img{max-width: 64px}
.c-user-join .user>div{max-width: 65vw;padding-right: 0}
.c-user-join .user>div>p{color: #000;white-space: nowrap; overflow: hidden;text-overflow: ellipsis;max-width: 100%}
.c-user-join ul>li:hover{background: #f0f0f0}
.c-user-join ul>li .status img{display: block;max-width: 100%;width:32px}
/*lightbox*/
.fancybox-slide--video .fancybox-content {width  : 980px;
    height : 600px;
    max-width  : 80%;
    max-height : 50%;
    margin: 0;
}
.fancybox-slide--inline .move-to-app{max-width: 95%;width:600px;}
.fancybox-close-small{}
.fancybox-close-small:before,.fancybox-close-small:after{content: "";display: block;width:50%; height:1px; background: #fff;border-radius: 5em;-webkit-border-radius: 5em;transform-origin: center;position: absolute;top: 50%;}
.fancybox-close-small:before{transform: rotate(45deg);left: 24%}
.fancybox-close-small:after{transform: rotate(-45deg);right: 24%}
.popup{display: none;max-width: 95%;width:400px;}
.popup.thm-trans{ background: transparent; color: #fff; text-align: center;text-shadow: 0 1px 1px rgba(0,0,0,.5)}
.popup img,.popup video{max-width: 100%}
.box-middle{display: flex; flex-flow: column wrap; justify-content: center; min-height: 250px;}

/*loading*/
[id="skin-loading"]{position:absolute;top:0;left:0;bottom:0;right:0;display:flex;justify-content:center;align-items:center;background:rgba(0,0,0,0.5);z-index:9900}
[id="skin-loading"].bg-wh{background:rgba(245,245,245,0.75)}
@-webkit-keyframes lds-hourglass{0%{-webkit-transform:rotate(0);-webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19)}50%{-webkit-transform:rotate(900deg);-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1)}to{-webkit-transform:rotate(1800deg)}}
@keyframes lds-hourglass{0%{transform:rotate(0);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}50%{transform:rotate(900deg);animation-timing-function:cubic-bezier(.215,.61,.355,1)}to{transform:rotate(1800deg)}}
.lds-hourglass{display:inline-block;position:relative;width:64px;height:64px}
.lds-hourglass:after{content:" ";display:block;border-radius:50%;width:0;height:0;margin:6px;box-sizing:border-box;border:26px solid #fff;border-color:#fff transparent;animation:lds-hourglass 1.2s infinite;-webkit-animation:lds-hourglass 1.2s infinite}
[id="skin-loading"].bg-wh .lds-hourglass:after{border:26px solid #3DB996;border-color:#3DB996 transparent}
@media (min-width:1025px){
.head-bar{display: block;}
}
@media (max-width:1024px){
.fix-bottom{position: fixed;bottom: 0;left: 0;right: 0;z-index: 199}
.fix-bottom>[class*="ui-btn"]{border-radius: 0;-webkit-border-radius: 0;padding: 15px 10px;box-shadow: -2px 0 2px rgba(0,0,0,0.25)}
.box-result ul{max-height: 50vh; overflow: auto}
}
@media (max-width:991px){
body>.container{padding:8px}
.head-bar{margin: 0 0 10px;padding: 8px}
.head-bar img{max-height: 40px}
.h-text{font-size: 18px}
}

@media (max-width:767px){
.mbsc-ios .mbsc-cal-day-date,.mbsc-cal-txt-ph{margin: 0}
}
@media (max-width:480px){
.c-user-join .user > img{width: 40px}
}
