@charset "utf-8";@import url(animate.css);
@import url('https://fonts.googleapis.com/css?family=Prompt:200,400,700&display=swap');
body{font:14px "Prompt";background:#fff;color:#6d6e72}
body>.container{position:relative;padding:0}
*, ul, ol, * li{padding:0;margin:0;list-style-type:none}
h1, h2, h3, h4, h5, h6{font-family:"Prompt", tahoma, Arial, sans-serif;font-weight:300;margin:0;line-height:normal}.sw-nav
a{color:#6d6e72}
a:hover{color:#666;text-decoration:underline}
a:focus{text-decoration:none}
img{max-width:100%}
fieldset{border:none;margin:0;padding:0}
address{font-style:normal}
/*header*/
[id="gb-header"]{font:14px "Prompt"}
[id="gb-footer"],[id="gb-footer"] *:not([class*="fa"]){font-family:"Prompt"}
[id^="gb-"] .hid{display:none}
[id^="gb-"] .btn:active,[id^="gb-"] .btn.active,[id="gb-header"] .form-control{box-shadow:none;webkit-box-shadow:none}
/*header*/
[id="gb-header"]{position:relative;z-index:199}
[id="gb-header"] [class*="logo"]{padding:0;margin:0;position:relative;max-width:250px;max-height:100px}
[id="gb-header"] [class*="logo"] a,[id="gb-header"] [class*="logo"] a span{position:relative;display:block;width:100%;height:100%;text-indent:-9999px;z-index:2}
[id="gb-header"] [class*="logo"] a{position:absolute;top:0;left:0;right:0;bottom:0;z-index:2}
[id="gb-header"] [class*="logo"] img{position:relative;z-index:1;max-height:100px;max-width:100%}
.main-nav{position:relative;background:none;z-index:199}
.main-nav>ul{margin:0 auto;padding:0}
.main-nav>ul>li{position:relative;font-family:"Prompt","Prompt"}
.main-nav>ul>li>a{display:block;color:#6d6e70;padding:15px 20px;font-size:14px;font-weight:300;line-height:22px;text-decoration:none}
.main-nav>ul>li>a>i{color:#d23c44;vertical-align:bottom}
.main-nav>ul>li.icon>a>i img{border-radius:5em;-webkit-border-radius:5em}
.main-nav>ul>li>ul{display:none;visibility:hidden}
.main-nav>ul>li:hover>ul{display:block;visibility:visible}
.main-nav>ul>li ul>li{padding:5px 10px}
.main-nav>ul[id="secondary-nav"]>li,.main-nav>ul[id="secondary-nav"]>li>a{font-size:16px;color:#a0a0a0}
[id="gb-header"] [class*="btn-nv"]{position:absolute;top:0;right:0;display:none;width:50px;height:50px;text-align:center;line-height:50px;color:#555;font-size:30px}
[id="gb-header"] [class*="btn-nv"] a{display:block;height:100%;color:#555}
[id="gb-header"] [class*="btn-nv"] span{position:absolute;display:block;width:60%;height:2px;top:30%;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);background:rgba(132, 132, 132, 0.95);transition:.4s all ease;-webkit-transition:.4s all ease}
[id="gb-header"] [class*="btn-nv-m"] span:nth-child(2){top:50%}
[id="gb-header"] [class*="btn-nv-m"] span:nth-child(3){top:70%}
.expand [id="gb-header"] [class*="btn-nv-m"] a{background:rgba(255,255,255,0.3)}
.expand [id="gb-header"] [class*="btn-nv-m"] a span{background:rgba(200, 200, 200, 0.95)}
.expand [id="gb-header"] [class*="btn-nv-m"] span:nth-child(2){display:none}
.expand [id="gb-header"] [class*="btn-nv-m"] span:nth-child(1){top:50%;left:20%;transform:rotate(45deg);-webkit-transform:rotate(45deg)}
.expand [id="gb-header"] [class*="btn-nv-m"] span:nth-child(3){top:50%;left:20%;transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}
.sw-nav{position:relative;text-align:center}
.sw-nav>a{text-decoration:none;display:block;float:right}
.sw-nav>a.btn.active:before{content:"";display:block;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(255,255,255,0.5)}
/*.sw-nav>a>i{display:block;width:60px;height:60px;font-size:32px;line-height:60px;text-align:center;color:#434343}*/
[id="gb-header"] .sw-nav .form-control{display:none;position:absolute;top:100%;right:10px;width:400px;border:none;height:auto}
[role*="search"] .form-control form{position:relative;background:#58b499;border:10px solid #58b499;padding:0;border-radius:5em 0 5em 5em;-webkit-border-radius:5em 0 5em 5em}
[role*="search"] .form-control form #auto-search{display:block;width:100%;height:30px;border:none;padding:0 40px 0 10px;color:#434343;border-radius:5em;-webkit-border-radius:5em}
[role*="search"] .form-control form #btn-search{position:absolute;top:0;right:0;display:block;width:30px;height:30px;padding:0;text-align:center;background:#eaeaea;border:none;color:#636363;font-size:16px;line-height:30px;border-radius:5em;-webkit-border-radius:5em}
[id="gb-header"] .fix-r>a,[id="gb-header"] .fix-r .group>a{display:inline-block;padding:5px 20px;font-weight:300;line-height:30px;text-decoration:none}
[id="gb-header"] .fix-r>a>i,[id="gb-header"] .fix-r .group>a>i{display:inline-block;vertical-align:middle;margin-right:5px;width:30px;height:30px;background:url("../di/btn-login.png") 50% 50% no-repeat;background-size:100% auto}
[id="gb-header"] .fix-r>.line{display: inline-block; width: 1px; height: 40px; background: #d9d9d9;vertical-align: middle; margin-left: 15px}
[id="gb-header"] .fix-r>a.login,[id="gb-header"] .fix-r .group>a{color:#6d6e70}
[id="gb-header"] .fix-r>a.get-start{background:#00b2b2;color:#fff;box-shadow: 0 -20px 10px -10px rgba(0,0,0,0.15) inset; border-radius:2em;-webkit-border-radius:2em}
[id="gb-header"] .fix-r>a.get-start>i{background-image:url("../di/icon-getstart.png");background-size:70% auto;margin-right:0}
[id="gb-header"] .fix-r>a.ui-btn-border,[id="gb-header"] .fix-r>a[class*="ui-btn"][class*="border"]:hover{border-color:#00b2b2;color: #6d6e72;background: #fff}
[id="gb-header"] .fix-r .group{position:relative;display:inline-block;z-index: 999}
[id="gb-header"] .fix-r .group>a>i{background:none}
[id="gb-header"] .fix-r .group>a>i img{display:block;width:30px;height:30px;object-fit:cover}
[id="gb-header"] .fix-r .group>a.login>i{border-radius: 5em;-webkit-border-radius: 5em;overflow: hidden}
.drop-menu{display:none;visibility:hidden;position:absolute;top:100%;right:0;width:250px;background:#fff;box-shadow:0 3px 5px rgba(0,0,0,0.5)}
[id="gb-header"] .fix-r .group:hover .drop-menu,[id="gb-header"] .fix-r .group:active .drop-menu,[id="gb-header"] .fix-r .group:focus .drop-menu{display:block;visibility:visible;}
.drop-menu>li{position:relative;border-bottom:1px solid #e7e7e7}
.drop-menu>li:hover{background:rgba(0,0,0,0.02)}
.drop-menu>li>a{display:block;padding:5px 10px;text-decoration:none}
.drop-menu>li>a>i{display:inline-block;width:30px;height:30px;line-height:30px;font-size:24px;color:#285b52;margin-right:10px;vertical-align:middle}
.drop-menu>li>a>i[class*="fa"]{color: #028794;text-align: right}
.drop-menu>li>a>i img{height:30px;}
.drop-menu>li>a>span{display:inline-block;vertical-align:middle;color:#000;font-weight:300}
.drop-menu>li>a>span>small{display:none}
[id="gb-header"] .lang{position:absolute;top:-25px;right:13px;font-weight:200;color:#333}
[id="gb-header"] .lang>a{display:inline-block;width:20px;font-size:11px;line-height:20px;height:20px;text-align:center;border-radius:5em;-webkit-border-radius:5em;text-decoration:none;color:#666}
[id="gb-header"] .lang>a.active{background:#666;color:#fff}
@media (min-width:992px){body{padding-top:156px}
[id="gb-header"]{position:absolute;top:0;left:0;right:0;z-index:400;background:#fff}
[id="gb-header"].fixed{position:fixed;animation:sd-InDown .25s 1 linear!important;box-shadow:0 2px 3px rgba(0,0,0,0.3);z-index: 999}
[id="gb-header"].fixed .main-nav>ul[id="secondary-nav"]{display:none}
[id="gb-header"].fixed [class*="logo"] img{max-height:50px}
[id="gb-header"]>.container{display:flex;flex-flow:row wrap;justify-content:space-between;align-items:center;padding:18px 0 0}
[id="gb-header"]>.container{position:relative}
[id="gb-header"] [class*="logo"]{max-width:268px}
[id="gb-header"] [class*="logo"] img{display:block;margin:0 auto;max-height:110px;}
[id="gb-header"]>.container .fix-r{position: relative;z-index: 400}
[id="gb-header"]>.container>.main-navi{flex-basis: 100%; max-width: 100%;padding: 15px 10px; border-top: 1px solid #f2f2f2;border-bottom: 1px solid #f2f2f2}
[id="gb-header"].fixed>.container{padding: 0;flex-wrap: nowrap;min-height: 50px}
[id="gb-header"].fixed>.container [class*="logo"]{order: 1}
[id="gb-header"].fixed>.container .main-navi{order: 2;padding: 5px 10px 5px 20px;border:none}
[id="gb-header"].fixed>.container .fix-r{order: 3;white-space: nowrap}
[id="gb-header"].fixed>.container .fix-r>a{padding-top: 2px;padding-bottom: 2px}
[id="gb-header"].fixed .main-nav>ul>li>a{padding: 0 3px; background: none}
[id="gb-header"].fixed [class*="ui-btn"]{min-width:inherit}
.main-nav>ul{display:flex;flex-flow:row wrap;justify-content:flex-start;}
.main-nav>ul>li{position:relative;flex-basis:auto !important;flex-grow:0 !important;margin-right: 10px}
/*.main-nav>ul>li:after{content:"";display:block;position:absolute;top:50%;right:0;height:10px;border-right:1px solid #777;transform:translateY(-35%);-webkit-transform:translateY(-35%)}
.main-nav>ul>li:last-child:after{display:none}*/
/*.main-nav>ul>li.home{display:none}*/
.main-nav>ul>li>a{display: block;color:#6c6d71;font-size:14px;line-height:20px;background:#e6e6e6;padding:8px 20px;border-radius:2em;-webkit-border-radius:2em}
/*.main-nav>ul[id="nav-drop"]>li:first-child>a{padding-left:0}
.main-nav>ul[id="nav-drop"]>li:last-child>a{padding-right:0}*/
.main-nav>ul>li>a:hover,.main-nav>ul>li>a.selected{color:#00b2b2}
.main-nav>ul>li>ul{position:absolute;top:100%;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);width:200px;padding:0;background:#434a54;color:#fff}
.main-nav>ul>li>ul:after{content:"";display:block;position:absolute;top:-9px;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);border-bottom:10px solid #434a54;border-left:10px solid transparent;border-right:10px solid transparent}
.main-nav>ul>li>ul li{padding:10px 15px;border-bottom:1px solid #4a515b}
.main-nav>ul>li>ul li>a{display:block;color:#fff}
.main-nav>ul>li>ul li>a:hover{color:#00b2b2;text-decoration:none}
.main-nav>ul>li>ul ul{display:none;position:absolute;width:200px;padding:0;top:0;left:100%;background:#434a54;color:#fff;margin-left:0;z-index:9}
.main-nav>ul>li>ul li:hover>ul{display:block;margin:0}
.main-nav>ul[id="secondary-nav"]{position:relative;z-index:199}
.main-nav>ul[id="secondary-nav"]>li.lang>span{display:block;padding:15px 0 8px 10px;line-height:20px}
.main-nav>ul[id="secondary-nav"]>li.lang a{display:inline-block;margin:0 4px;font-size:16px;line-height:20px;color:#a0a0a0;}
.main-nav>ul[id="secondary-nav"]>li>a{font-weight:200;padding-bottom:8px}
.main-nav>ul[id="secondary-nav"]>li>ul{visibility:visible;padding:0;background:none;left:auto;right:0;transform:translateX(0);-webkit-transform:translateX(0)}
.main-nav>ul[id="secondary-nav"]>li>ul.form-control:after{display:none}
.main-nav>ul[id="secondary-nav"]>li>ul.form-control>li{padding:0;border:none}
[id="gb-header"].fixed .lang{right:-20px;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%)}
[id="gb-header"].fixed .lang>a{display:block}
[id="gb-header"].fixed .lang>span{display:none}
}
@media (max-width:1365px){
[id="gb-header"] [class*="logo"]{max-width:230px}
.main-nav>ul>li>a{padding:5px 20px}
[id="gb-header"] .fix-r>a{padding:3px 10px}
}
@media (max-width:991px){
body{padding-top:50px}
body.expand{overflow:hidden;max-height:100vh}
[id="gb-header"]{position:fixed;top:0;left:0;right:0;background:#fff;/*position:relative;background:#fff;*/z-index:201;height:50px}
[id="gb-header"] [class*="logo"]{margin-left:10px;width:140px;height:50px}
[id="gb-header"] [class*="logo"] img{max-height:50px}
/*[class*="logo"] img{display:none}
[id="gb-header"] [class*="logo"]>a{top:2px;height:48px;background:url(../di/logo-m.png) no-repeat;background-size:auto 100%}*/
[id="gb-header"]+[class*="head-vdo"],[id="gb-header"]+*>[class*="head-"]:first-child{padding-top:50px!important}
.main-nav{z-index:202}
.expand .main-nav{z-index:auto;display:block}
[id="gb-header"] [class*="btn-nv"]{display:block}
/*[id="gb-header"] [class*="btn-nv"] span{background:#fff}*/
.sw-nav>a.add-place,.sw-nav>a>i.gly-search:before{filter:brightness(0) invert(1);-webkit-filter:brightness(0) invert(1)}
.main-nav>ul{display:none!important;visibility:hidden;position:fixed;top:50px;right:0;bottom:0;width:100%;max-width:480px;overflow:auto;background:#fff;z-index:199}
.expand .main-nav>ul{display:block!important;visibility:visible!important}
/*.main-nav>ul>li:after{content:"\f054";display:block;position:absolute;top:8px;right:5px;width:40px;height:42px;color:#e1e1e1;font:900 32px/42px "Font Awesome 5 Free";text-align:center;z-index:-1}
.main-nav>ul>li.sub:after{content:"\f078"}
.main-nav>ul>li.sub:hover:after,.main-nav>ul>li.sub.active:after{transform:rotate(-180deg);-webkit-transform:rotate(-180deg)}*/
.main-nav>ul>li.home{margin-top:40px}
.main-nav>ul>li{padding:5px 10px;border-bottom:1px solid #58b499;text-align:center}
.main-nav>ul>li>a{padding-left:0;padding-right:0}
.main-nav>ul>li>ul{display:block!important;visibility:visible!important}
.main-nav>ul>li>ul>li{padding:10px;border-top:1px dotted #ddd}
.main-nav>ul>li.icon>a{padding:8px 0;margin-right:100px}
.main-nav>ul>li.sub>a{margin-right:45vw}
.main-nav>ul>li.icon>a>i,.main-nav>ul>li.icon>a>i img{height:36px;font-size:36px}
.main-nav>ul>li.icon>a>i{display:inline-block;margin-bottom:5px}
.main-nav>ul>li.icon>a>i.fa-user-circle-o:after{display:inline-block;margin-left:5px;vertical-align:middle;content:"เข้าสู่ระบบ";font:16px/22px "Prompt"}
.main-nav>ul>li.sub>ul{display:none!important}
.main-nav>ul>li.sub>ul{display:none!important}
.main-nav>ul>li.sub:hover>ul,.main-nav>ul>li.sub:active>ul,.main-nav>ul>li.sub:focus>ul{display:block!important}
.main-nav>ul>li.icon>ul>li,.main-nav>ul>li.sub>ul>li{border-left:3px solid #3b89de;margin-left:17px}
.main-nav>ul>li.sub>ul>li ul>li{position:relative}
.main-nav>ul>li.sub>ul>li ul>li:before{content:"";display:inline-block;width:7px;height:7px;background:#3b89de;vertical-align:middle;margin-right:10px}
.main-nav>ul>li ul>li>a{color:#434a54}
.sw-nav{height:50px;position:absolute;top:0;right:50px;z-index:699}
.sw-nav>a>i{width:50px;height:50px;font-size:24px;line-height:50px;color:#04728d}
.sw-nav>a.btn.active:after{content:"X";display:block;position:fixed;top:0;right:0;width:50px;height:50px;background:#fff;color:#979797;font-size:32px;font-weight:200;line-height:50px;text-align:center}
[id="gb-header"] .sw-nav .form-control{top:0;right:0;width:calc(100vw - 50px)}
[role*="search"] .form-control form{border-radius:0;-webkit-border-radius:0}
/*.main-nav>ul[id="secondary-nav"]{z-index:200;bottom:auto;height:70px;background:#fff;display:flex!important;flex-flow:row nowrap;}
.main-nav>ul[id="secondary-nav"]>li{flex:1 1 0;position:relative;right:auto;height:auto}
.main-nav>ul[id="secondary-nav"]>li.lang{flex-basis:66%;max-width:66%;text-align:center}
.main-nav>ul[id="secondary-nav"]>li:before{content:"";display:block;position:absolute;top:5%;right:0;bottom:10%;width:1px;background:#eaeaea}
.main-nav>ul[id="secondary-nav"]>li:after{display:none}
.main-nav>ul[id="secondary-nav"]>li:last-child:before{display:none}
.main-nav>ul[id="secondary-nav"]>li>a{float:none;;padding:0;font:11px/14px "Prompt";color:#aaa;white-space:nowrap}
.main-nav>ul[id="secondary-nav"]>li>*>i{display:block;width:32px;height:32px;font-size:28px;line-height:32px;text-align:center;margin:0 auto 5px;color:#3b89de}
.main-nav>ul[id="secondary-nav"]>li>.form-control{display:none!important;position:fixed;width:calc(100vw - 50px);left:0;right:0;}
.main-nav>ul[id="secondary-nav"]>li>.form-control[style*="block"]{display:block!important}
.main-nav>ul[id="secondary-nav"]>li>.form-control>li{padding:0}
.main-nav>ul[id="secondary-nav"]>li.lang>span{display:block;text-align:center;padding:0;line-height:20px;font:11px/14px "Prompt";white-space:nowrap}
.main-nav>ul[id="secondary-nav"]>li.lang a{display:inline-block;margin:0 4px;font-size:11px;line-height:14px;color:#aaa;}*/
[id="gb-header"] .fix-r{position: absolute;top: 0;right: 60px;visibility: visible;height: 50px;left: 120px; display: flex;flex-flow: row-reverse;align-items: center}
[id="gb-header"] .fix-r .ui-btn-border,[id="gb-header"] .fix-r .get-start,[id="gb-header"] .fix-r .line{display:none;visibility:hidden;position:absolute;top:55px;left:0;right:0;text-align:left;z-index:199}
.expand [id="gb-header"] .fix-r{visibility:visible}
[id="gb-header"] .fix-r>a{padding:0px 10px}
[id="gb-header"] .fix-r .lang{position: relative;top:auto;right:auto;}
[id="gb-header"] .fix-r #u-member .login{display: block;position: relative;width: 50px;height: 50px;text-indent: -9999px;padding: 0}
/*[id="gb-header"] .fix-r #u-member .login{pointer-events: none}*/
[id="gb-header"] .fix-r #u-member .login .avatar{display:flex; justify-content: center;align-items: center;position: absolute;/*top: 0;left: 0;width: 50px;height: 50px;*/ text-align: center;/*line-height: 50px;*/text-indent: 0;}
[id="gb-header"] .fix-r .group>a.login>i{position: absolute; top: 50%;left: 50%;margin: 0;transform: translate(-50%,-50%);border-radius: 5em;-webkit-border-radius: 5em;overflow: hidden}
[id="gb-header"] .fix-r #u-member:hover .login+.drop-menu,
[id="gb-header"] .fix-r #u-member:focus .login+.drop-menu,
[id="gb-header"] .fix-r #u-member:active .login+.drop-menu{display: block;width: 100vw;position: fixed;top: 50px;right: auto;left: 0}
.drop-menu{visibility: visible;width: 100vw; right: auto; left: 0; position: fixed;top: 50px}
}
@-webkit-keyframes sd-InDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:none;transform:none}}
@keyframes sd-InDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:none;transform:none}}
/*footer*/
[id="gb-footer"]{position:relative;z-index:2;padding:0;border:none;color:#6d6e70;background:#f6f6f6;font-size:14px;margin:0}
[id="gb-footer"]>.container{overflow:visible;padding:30px 0}
[id="gb-footer"] [class*="main-col"]{justify-content:space-between;}
[id="gb-footer"] [class*="main-col"]>[class^="c"]{font-weight:100;flex-basis:auto}
[id="gb-footer"] [class*="main-col"]>[class^="c"]>h3{font-size:18px;text-transform:uppercase;white-space:nowrap;margin-bottom:10px}
[id="gb-footer"] [class*="main-col"]>[class^="c"]>.inner,[id="gb-footer"] [class*="main-col"]>[class^="c"]>ul{}
[id="gb-footer"] [class*="main-col"]>[class^="c"]>.inner b{font-weight:400}
[id="gb-footer"] [class*="main-col"]>[class^="c"]>.inner p,[id="gb-footer"] [class*="main-col"]>[class^="c"]>.inner address{margin-bottom:10px}
[id="gb-footer"] a{color:#6d6e70}
[id="gb-footer"] .copyright{color:#6d6e70;font-size:12px;padding:10px;margin:0;text-align:center;border-bottom:1px solid #999}
[id="gb-footer"] .btn-back2top{position:fixed;bottom:-100px;right:0;transition:.2s all ease-in-out;-webkit-transition:.2s all ease-in-out}
[id="gb-footer"] .btn-back2top a{position:relative;display:block;width:48px;height:48px;padding:0;text-indent:-9999px;background:#aaa;box-shadow:0 1px 1px rgba(0,0,0,0.2);border-radius:5em 0 0 5em;-webkit-border-radius:5em 0 0 5em}
[id="gb-footer"] .btn-back2top a:before{content:"";display:block;position:absolute;top:50%;left:50%;margin:-5px 0 0 -10px;width:20px;height:20px;transform:rotate(135deg);-webkit-transform:rotate(135deg);border-left:2px solid #fff;border-bottom:2px solid #fff;text-indent:0;text-align:center}
.list-social{display:flex;flex-flow:row wrap}
.list-social>li{margin-right:10px}
.list-social>li>a{display:block;position:relative;text-decoration:none}
.list-social>li>a>i{display:block;width:32px;height:32px;font-size:24px;text-align:center;line-height:32px;margin:0 auto}
.list-social>li>a>span{display:block;font-size:11px;color:#ccc;}
.list-social>li>a>.pop{opacity:0;visibility:hidden;position:absolute;bottom:100%;left:50%;margin-bottom:10px;white-space:nowrap;padding:2px 5px;background:#fff;border-radius:.2em;-webkit-border-radius:.2em;color:#333;font-weight:300;transform:translateX(-50%);-webkit-transform:translateX(-50%);transition:.2s all ease-in-out;-webkit-transition:.2s all ease-in-out}
.list-social>li>a>.pop:after{content:"";display:block;position:absolute;bottom:-5px;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);border-top:5px solid #fff;border-left:5px solid transparent;border-right:5px solid transparent}
.list-social>li>a:hover>.pop{opacity:1;visibility:visible}
/*follow-social*/
[class*=social-sh]>ul>li{position:relative}
[class*=social-sh]>ul>li>a{text-decoration:none}
[class*=social-sh]>ul>li>a>i{display:block;width:40px;margin:0 auto;height:40px;color:#fff;font-size:20px;line-height:40px;border-radius:5em;-webkit-border-radius:5em;overflow:hidden}
[class*=social-sh]>ul>li>a.fb>i{background:#305d9e}
[class*=social-sh]>ul>li>a.line>i{background:#00B900}
[class*=social-sh]>ul>li>a.yt>i{background:#cf2726;text-indent:0}
[class*=social-sh]>ul>li>a.tw>i{background:#6ec9fe}
[class*=social-sh]>ul>li>a.ig>i{background:#a07f5b}
[class*=social-sh]>ul>li>a.gg>i{background:#e54315}

[class*=social-sh]>ul>li>a>small,[class*=social-sh]>ul>li>a>span{opacity:0;visibility:hidden;width:50px;height:40px;margin:0 auto;position:absolute;z-index:9;left:50%;right:auto;margin-left:-25px;bottom:48px;background:#fff;border:2px solid #eaeaea;font:10px/35px tahoma;color:#000;transition:.2s all ease-in-out;border-radius:3px;-webkit-border-radius:3px}
[class*=social-sh]>ul>li>a>span:after{content:"";display:block;position:absolute;bottom:-7px;left:50%;margin-left:-5px;border-top:5px solid #eaeaea;border-left:5px solid transparent;border-right:5px solid transparent}
[class*=social-sh]>ul>li>a:hover>span{opacity:1;visibility:visible}
[class*=social-sh]>ul>li>a>span{white-space:nowrap}
/*ui-btn*/
[id="toc"] [class^="sec-"]{padding:5vh 0}
[id="toc"] [class^="sec-"]:first-child{padding-top:0}
[id="toc"] [class^="sec-"][id="feature1"]:first-child{padding-top:5vh}
[id="toc"] [class^="z-"]{position:relative;clear:both;margin-bottom:20px}
[id="toc"] [class^="z-"].mb0{margin-bottom:0}
[id="toc"] [class^="z-"][class^="last"]{margin-bottom:0}
[id="toc"] [class^="z-"]:after{content:"";display:block;clear:both}
[class*="ui-btn"]{padding:7px 20px;font-size:13px;min-width:140px;text-align:center;border-radius:5em;-webkit-border-radius:5em;transition:.2s all ease-in-out;-webkit-transition:.2s all ease-in-out;box-shadow:none;background:url(../di/effect-button.png) 100% 60% no-repeat;background-size:100%;transition:.3s all ease-in-out;-webkit-transition:.3s all ease-in-out}
[class*="ui-btn"][class*="-min"]{min-width:50px;padding-left:0;padding-right:0}
[class*="ui-btn"][class*="-sq"]{border-radius:0;-webkit-border-radius:0}
[class*="ui-btn"][class*="green"]{background-color:#02657c}
[class*="ui-btn"][class*="green2"]{background-color:#00b2b2}
[class*="ui-btn"][class*="green3"]{background-color:#57b499;color:#fff}
[class*="ui-btn"][class*="blue"]{background-color:#1068b0}
[class*="ui-btn"][class*="blue2"]{background-color:#00b9c6}
[class*="ui-btn"][class*="orange"]{background-color:#FF5A33}
[class*="ui-btn"][class*="gray"]{background-color:#eaeaea;color:#6d6d6d}
[class*="ui-btn"][class*="darkgray"]{background-color:#333;color:#fff}
[class*="ui-btn"][class*="yellow"]{background-color:#f4c80f;color:#00214a}
[class*="ui-btn"][class*="pink"]{background-color:#c04b72;color:#fff}
[class*="ui-btn"][class*="gold"]{background-color:#81815f;color:#fff}
[class*="ui-btn"][class*="red"]{background-color:#d23b43;color:#fff}
[class*="ui-btn"][class*="border"]{background-color:transparent;color:#1d89e4;border:1px solid #1d89e4}
[class*="ui-btn"][class*="border"][class*="white"]{border:1px solid #fff;color:#fff}
[class*="ui-btn"][class*="fb"]{background-color:#3c5a96;color:#fff;font-size:18px;padding:8px;width:375px;text-align:center;max-width:90%}
[class*="ui-btn"][class*="fb"] i[class*="fa"]{font-size:24px;vertical-align:text-top;display:inline-block}
[class*="ui-btn"][class*="border"]:hover{background-color:#1d89e4;color:#fff}
[class*="ui-btn"]:hover{box-shadow:0 -4px 0 rgba(0,0,0,0.1) inset;background-position:100% 50%;border-color:transparent}
/*[class*="ui-btn"] [class*="fa"]{vertical-align:sub}*/
#toc .t-white,.t-white{color:#fff}
#toc .t-green,.t-green{color:#00b2b2}
#toc .t-blue,.t-blue{color:#1d89e4}
#toc .t-orange,.t-orange{color:#ee4d2d}
#toc .t-gray,.t-gray{color:#434343}
#toc .t-gray2,.t-gray2{color:#808080}
#toc .t-black,.t-black{color:#000}
#toc .t-pink,.t-pink{color:#f37988}
.txt-box,.select-box,.txt-area{display:inline-block;padding:5px 10px;line-height:25px;font-size:14px;border:1px solid #6b6b6b;border-radius:.5em;-webkit-border-radius:.5em;background:#fff}
.select-box option{padding:0 5px}
.block{display:block;width:100%}
.bg-gray{background:url("../di/bg-dot-gray.png") #e6e7e8}
.bg-gray2{background:#f7f7f7;padding:15px 0}
.bg-green{background:#00b2b2}
[class*="h-text"],[class*="h-text"]>a{font-weight:400;color:#6d6e72;text-decoration:none}
[class*="h-text"]{font-size:300%;margin-bottom:20px;line-height:120%}
[class*="h-text"]~[class*="title"]{font-size:20px;font-weight:300;line-height: 150%; color:#6d6e72}
/*home*/
.home [id="toc"] [class^="sec-"]{overflow:hidden}
.z-vdo .m-logo{display: block;margin: 0 auto}
.z-vdo .m-logo img{margin: 0 auto}
.z-vdo .h-text,.z-vdo .title{color: #929294}
.square .sq{text-align:center}
.square .sq i{position:relative;display:block;margin:0 auto 10px;background:url("../di/ic-set-whatis.png?v1") 50% 0% no-repeat;background-size:100% auto;transform:scale(1);-webkit-transform:scale(1);transition:.2s all ease-in-out;-webkit-transition:.2s all ease-in-out;border-radius:1.5em}
.square .sq i[class*="icon-wh02"]{background-position:50% 25%}
.square .sq i[class*="icon-wh03"]{background-position:50% 50%}
.square .sq i[class*="icon-wh04"]{background-position:50% 75%}
.square .sq i[class*="icon-wh05"]{background-position:50% 100%}
.square .sq i:before{content:"";display:block;padding:100% 0 0;height:auto}
.square .sq i:hover{transform:scale(1.1);-webkit-transform:scale(1.1);box-shadow:0 3px 15px rgba(0,0,0,0.2)}
.square .sq h2{font-weight:200;font-size:18px;white-space:nowrap;color:#2f2f2f}
/*[id*="feature"] [class*="h-text"]{font-size:220%;font-weight:700}*/
[id*="feature"] .title>p{margin-bottom:0}
/*[id*="feature"].bg-wh .square .sq i{box-shadow:0 3px 15px rgba(0,0,0,0.2)}*/
[id*="feature"] .square .sq{max-width:270px;}
[id*="feature"] .square .sq i{background-image: url("../di/ic-set-whatis-c.png");margin-bottom: 0}
[id*="feature"] .square .sq i:hover{transform:none;-webkit-transform:none}
[id*="feature"] .square .sq h2{font-size: 20px}
[id*="feature"].bg-green .square .sq h2{color: #fff}
/*progressbar*/
.progressbar {
      counter-reset: step;
	  position: relative;z-index: 10;display: flex;flex-flow: row nowrap;
  }
  .progressbar li {
      list-style-type: none;
      flex: 1 1 0;
      font-size: 12px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #6d6e72;
  }
  .progressbar li a{text-decoration: none}
  .progressbar li:before {
      width: 40px;
      height: 40px;
      content: counter(step);
      counter-increment: step;
      line-height: 40px;
	  font-size: 30px;
	  font-weight: 200;
	  background: #e6e6e6;
	  color: #fff;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
  }
  .progressbar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #e6e6e6;
      top: 20px;
      left: -50%;
      z-index: -1;
  }
  .progressbar li:first-child:after {
      content: none;
  }
  .progressbar li.active {
      color:#333;
  }
  .progressbar li.active:before {
      background-color: #f3c100;
  }
  .progressbar li.active + li:after {
      background-color: #f3c100;
  }
    .progressbar li span{display: block;line-height: 110%}
/*package*/
.page-package{}
.sec-package>[class*="bg-"]{margin-top:20px;padding-top: 20px; padding-bottom: 20px}
.table-price{position:relative}
.table-price .head-list{align-self:flex-end;margin-right:-5px;}
.table-price .head-list .bg{position: relative;padding:20px 20px 20px 2vw;background:#fff;border-radius:10em 0 0 10em;margin-bottom:60px/*box-shadow:0 3px 9px rgba(0,0,0,0.15);*/}
.table-price .head-list .bg:after{content: "";display: block;position: absolute; right:0; width: 40px;height:170%;top: 50%;transform: translateY(-50%);box-shadow: -23px 0px 19px -15px rgba(0,0,0,0.25) inset;border-radius: 100em 0 0 100em}
.table-price .head-list h2{font-size:15px;font-weight:400;color:#6d6e72;line-height:30px; text-align: right}
.table-price .head-list h2:after{ content:"\f061"; font-family: "Font Awesome 5 Free"; font-weight: 900; margin-left:5px; display: inline-block;vertical-align: middle;color: #00b2b2}
.table-price .head-list h2.t-red{color:#6d6e72!important}
.table-price .head-list .remark{position: absolute;height: 20px; line-height: 20px; font-weight: 200; font-size: 13px; bottom: -35px; right: 20px; color: #eaeaea; text-align: right;}
.table-price .head-list .remark b{font-weight: 400}
.free-trial{position:absolute;left:22.8%;top:0;bottom:0;width:9%;padding:10px 10px 25px;display:flex;flex-flow:column wrap;justify-content:space-between;align-items:center;background:#cfc5aa;box-shadow:0 3px 9px rgba(0,0,0,0.15);}
.free-trial .h{position:relative;width:100%}
.free-trial .h:before{content:"";width:100%;display:block;padding:100% 0 0;background:#fff;border-radius:100%;-webkit-border-radius:100%}
.free-trial .h:after{content:"*1 month";font-size:12px;line-height:20px;background:rgba(255,255,255,0.5);color:#000;text-align:center;display:block;font-weight:300;position:absolute;top:100%;left:50%;margin-top:10px;padding:0 10px;border-radius:5em;-webkit-border-radius:5em;white-space:nowrap;transform:translateX(-50%);-webkit-transform:translateX(-50%)}
.free-trial em{display:block;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);font-weight:100;font-style:normal;font-size:1.5vmax;color:#6d6e72;line-height:100%}
.free-trial em:before{}
.free-trial em>span{display:block;margin-top:-5px}
.free-trial [class*="ui-btn"]{width:100%}
.table-price>*>[class*="pk-"]{padding:35px 10px 35px;text-align:center;background:#fff;border-radius: .8em}
.table-price>*>[class*="pk-"]>.ic-head{display: none; width:124px;height:124px;margin:-80px auto 10px;align-items:center;align-content:center;justify-content:center;background:url("../di/bg-head-pk1.png") 50% 50% no-repeat;background-size:100% auto}
.table-price>*>[class*="pk-2"]>.ic-head{background-image:url("../di/bg-head-pk2.png")}
.table-price>*>[class*="pk-"]>.ic-head em{display:block;text-align:center;font-weight:100;font-size:36px;font-style:normal;color:#6d6e72}
.table-price>*>[class*="pk-"]>h2{position:relative;color:#6d6e72;font-weight:400;margin-bottom:25px;font-size:2vmax;white-space:nowrap}
.table-price>*>[class*="pk-"]>h2>small{display:block;margin-top:-3px;position:absolute;font-weight:200;font-size:13px;color:#6d6e72;left:0;right:0;text-align:center;}
.list-price>li{padding:0 8px}
.list-price p,.list-price>li>div{line-height:30px;margin-bottom:5px;text-align:center;white-space:nowrap;font-weight:300;font-size:16px;color:#6d6e72}
.list-price p.hd{font-size: 13px;}
.list-price * [class*="ui-btn"],.ft-contact .ui-btn-pink-sq,.free-trial [class*="ui-btn"]{text-align:center;font-size:16px;padding:3px;box-shadow:0 2px 0 rgba(0,0,0,0.15);}
.list-price * [class*="ui-btn"]{width:100%;}
.list-price>li>div{text-align:center;font-weight:400}
.list-price>li>div label{cursor:pointer;text-align:left;padding-left:5px;}
.table-price>*>[class*="pk-"] .remark{font-size:11px;color:#666;font-weight:200;position:absolute;padding:0 30px 0 5px;text-align:left;line-height:110%}
.table-feature{padding:5vh 0}
.table-feature .head-ft{border:2px solid #dfdede;text-align:left;margin-right:-7px;}
.table-feature .rw-table li.head{padding: 0}
.table-feature .rw-table li{line-height:30px}
.table-feature .rw-table li.head .col-chk{height: auto;line-height: 35px}
.rw-table>li{border-bottom:1px solid #dfdede;padding:2px 15px;font-size:16px;font-weight:300;color:#6d6e72}
.table-feature .rw-table>li{min-height:35px}
.rw-table>li.bg{background:#f7f7f7}
.rw-table>li .col-chk{display:flex;flex-flow:row nowrap;text-align:center;height:30px;align-items:center}
.rw-table>li .col-chk>*{flex:1 1 0;border-right:1px solid #dfdede}
.rw-table>li .col-chk>*:last-child{border-right:none}
.rw-table>li .col-chk>span img{max-height: 24px}
.table-feature [class*="ft-pk"]{border:2px solid #dfdede;transform:translateX(-10px);-webkit-transform:translateX(-10px)}
.table-feature [class*="ft-pk"] .rw-table>li {text-align:center}
/*checkout*/
[class*="box-san"]{width:800px;margin:0 auto 20px;max-width:100%}
[class*="box-san"] [class*="head-title"]{background:#00b2b2;color:#fff;padding:5px 1.5em;border-radius:.8em .8em 0 0}
[class*="box-san"] [class*="head-title"] .hd{font-size:18px;font-weight:300}
[class*="box-san"] [class*="head-title"].bg-wh{background:#fff;border-radius: 0}
[class*="box-san"] [class*="head-title"].bg-gray{background:#e6e6e6;border-radius: 0}
[class*="box-san"] [class*="body"]{background:#ebebeb;padding:15px 1.5em;border-radius:0 0 1.5em 1.5em;-webkit-border-radius:0 0 1.5em 1.5em;font-size: 14px}
.form-checkout{font-weight:300;font-size:16px;color:#0f0f0f}
form.form-checkout fieldset{color:#58595B;width:800px;margin:0 auto;max-width:95vw}
form.form-checkout .wr{/*margin:20px 0 0;*/border-radius:2em;-webkit-border-radius:2em}
form.form-checkout label,form.form-checkout .wr label{color:#0f0f0f;font-weight:200;font-size:14px}
form.form-checkout label a{color:#58595B}
form.form-checkout .wr .txt-box{border:2px solid #dfdede;border-radius:2em;-webkit-border-radius:2em}
.form-checkout .js-select .select2-container--default .select2-selection--single{border:2px solid #dfdede;}
form.form-checkout .wr .txt-box:focus ~ .line{display:none}
form.form-checkout .wr .txt-box:focus ~ label,form.form-checkout .wr .txt-box:valid ~ label, form.form-checkout .wr.valid .select2 ~ label,
.form-checkout .js-select .select2-container--default .select2-selection--single .select2-selection__rendered, .page-checkout ~ .select2-container .select2-results__option,.page-checkout ~ .select2-container .select2-container--default .select2-selection--single .select2-selection__rendered{color:#0f0f0f}
.form-checkout .enterprise{margin-bottom:20px}
.form-checkout .add-detail{margin-top:20px}
.form-checkout .js-select .select2-container--default .select2-selection--single .select2-selection__placeholder{opacity:1;color:#0f0f0f}
/*new theme profule*/
/*form.bx-keep.form-checkout fieldset,form.form-checkout fieldset.full,.full [class*="box-san"],*.bx-keep fieldset,*.bx-keep [class*="box-san"]{width: auto}*/
[class*="bx-keep"]{padding-top: 20px}
[class*="bx-keep"] .cover,.bg-cover{background:url("../di/cover-profile.png") 50% 0 no-repeat; background-size: cover;color: #fff;padding: 30px 30px 0;border-radius: 1.5em 1.5em 0 0}
[class*="bx-keep"] .cover.pd0{padding:0 5px}
[class*="bx-keep"] .cover .head{font-size: 16px;padding: 10px 0 10px 10px;line-height: 20px}
[class*="bx-keep"] .cover .head.txt-l{text-align: left}
#app .bg-cover{border-radius: 1.5em;-webkit-border-radius: 1.5em;padding: 0}
[class*="bx-keep"] .cover .user-avatar{display: flex;flex-flow: row nowrap;align-items:flex-end}
[class*="bx-keep"] .cover .user-avatar>.img{ flex-basis: 30%;max-width: 30%;padding-right: 3vw}
[class*="bx-keep"] .cover .user-avatar>.img img{display: block;width: 200px; max-width: 100%;float: right;border-radius: 100%;-webkit-border-radius: 100%}
[class*="bx-keep"] .cover .user-avatar>.pk-detail{flex: 1 1 0;max-width: 70%;padding-left:10px}
.user-avatar>.pk-detail>h2{font-size: 30px; font-weight: 300; margin: 0 0 20px; padding-bottom: 20px; border-bottom: 1px solid rgba(255,255,255,0.5)}
.user-avatar>.pk-detail>p{font-size: 18px; font-weight: 200;margin: 0}
.cover .idTabs{margin:15px 0 0;padding: 20px 20px 0; background: #fff; box-shadow: 0 -40px 30px -30px rgba(0,0,0,0.18) inset;border-radius: 1em 1em 0 0}
#app .bx-keep .idTabs > li > a {color: #939598;box-shadow: none;display: block;white-space: nowrap}
#app .bx-keep .idTabs > li > a.selected {box-shadow: 0 -4px 0 #03657C inset;color: #383838}
#app .bx-keep .user.full,.bx-keep .box-result ul > li,#app .bx-keep .c-detail{border-bottom-width: 2px}
#app .bx-keep .user > div b,.bx-keep .box-result ul > li{color:#58595B}
#app .bx-keep .user.full p{color:#939598}
[class*="box-san"] [class*="body"] { background: #F1F2F2}
.list-billing>li{flex-wrap: nowrap}
.list-billing>li>p{padding-right: 10px; line-height: 20px;}
.list-billing>li>a{white-space: nowrap;flex-basis: 100px; max-width: 100px; text-align: right}
/**/
[class*="box-san"] .lg-visa{padding-top:25px;background:url("../di/icon-payment.png") 96% 10px no-repeat #ebebeb;background-size:auto 25px}
.q-radio{display:inline-block;height:25px;vertical-align:middle;width:25px;cursor:pointer;padding:0;cursor:pointer}
.q-radio input{display:none!important }
.q-radio input+div{position:relative }
.q-radio input+div:after, .q-radio input+div:before{content:"";position:absolute;top:0;left:0;border-radius:50%;transition:.3s ease }
.q-radio input+div:before{width:20px;height:20px;border:2px solid #e0e0e0 }
.q-radio input+div:after{-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0);margin:6px;width:8px;height:8px }
.q-radio input:checked+div:before{border:2px solid #0057b8 }
.q-radio input:checked+div:after{background:#0057b8;-webkit-transform:scale(1.02);-ms-transform:scale(1.02);transform:scale(1.02) }
.q-radio.primary input:checked+div:before{border-color:#0057b8 }
.q-radio.primary input:checked+div:after{background:#0057b8 }
.q-radio.dark input:checked+div:before{border-color:#454545 }
.q-radio.dark input:checked+div:after{background:#454545 }
/*check*/
.mz-chk{position:relative;}
.mz-chk input[type=checkbox],.mz-chk input[type=radio]{position:absolute;width:100%;height:100%;opacity:0}
.mz-chk input+label{position:relative;height:30px;line-height:30px;padding-left:35px;}
.mz-chk input+label:before{content:"";display:block;width:25px;height:25px;position:absolute;top:0;left:0;background:#ebebeb;text-indent:-9999px;cursor:pointer;border-radius:.1em;-webkit-border-radius:.1em}
.mz-chk input:checked+label:before{background:#ebebeb url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='5 5 28 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%237fca47' fill-rule='nonzero'/%3E%3C/svg%3E ") 5px 5px no-repeat}
.mz-chk input[type=checkbox]:checked+label:before{background-color:#ebebeb}

.file-type{border:1px solid #a6a6a6;border-radius:1.5em;padding:10px;background:#fff;}
form.form-checkout .file-type>label{display:block;font-weight:400}
.file-type .mz-chk input + label:before,.file-type .mz-chk input:checked+label:before,.file-type .mz-chk input[type=checkbox]:checked+label:before{/*background-color:#fff!important;*/border-radius:.3em;-webkit-border-radius:.3em}
.btn [class*="ui-btn"]{padding:9px 10px;font-size:14px;border-radius:.1em;-webkit-border-radius:.1em}
.z-success{padding-bottom:30px;min-height:calc(100vh - 200px)}
.z-success small{font-weight:200;color:#000}
.z-success .big{font-weight:300;color:#0f0f0f}
.z-success .big big{font-size:200%;font-weight:200}
.z-success .bg-gray2{padding:7vh 10px;font-weight:300;color:#0f0f0f;}
.z-success .msg .fas{color:#32c671}
.z-success .msg h3{font-size:18px;margin-bottom:15px}
.z-success .ctrl-btn [class*="ui-btn"]{box-shadow:0 2px 2px rgba(0,0,0,0.15)}
.z-success .ctrl-btn [class*="ui-btn"][class*="trans"]{box-shadow:none;color:#000;font-weight:200}
.z-success .ctrl-btn [class*="ui-btn"][class*="gray"]{color:#000;font-weight:200}
.z-success .add-line a{color:#0f0f0f}
.z-success .g-connect .msg>.fas{font-size:5vmax;color:#32c671;margin-bottom:10px}
.z-success .g-connect .msg h2{font-size:18px;font-weight:200;}
.z-success .g-connect .msg h2 b{font-weight:200}
.z-success .g-connect .msg h3{font-size:30px;line-height:120%;margin-bottom:15px}
.z-success .g-connect .msg h3 small{color:#000;font-weight:300;}
.z-success .g-connect .msg hr{border-color:#ccc;width:600px;margin:20px auto 10px;max-width:85%}
.z-success .g-connect .msg .border{border:2px dashed #e0e0e0;border-radius:.5em;width:600px;margin:20px auto;max-width:95%}
.z-success .g-connect .msg p{font-weight:200;color:#333;font-size:16px;}
.z-success .g-connect .msg .btn-lg{color:#323232;border:2px solid #1976D2}
.z-success .g-connect .msg .btn-lg:hover i img{filter:drop-shadow(0 0 3px rgba(255,255,255,1))}
.z-success .g-connect .msg .btn-lg:hover{background-color:#1976D2;color:#fff}
.z-success .ctrl-btn .btn-google{/*background:#e0e0e0;color:#2b2b2b;*/padding:0 0 0 15px;font-weight:200;line-height:55px;font-size: 20px; border:none;border-radius:.2em;-webkit-border-radius:.2em;box-shadow:0 2px 2px rgba(0,0,0,0.45)}
.z-success .ctrl-btn .btn-google i[class*="ic-"]{display:block;float:right;margin-left:10px;background-color:#f4f4f4;padding:2px 10px;}
.z-success .ctrl-btn .btn-google i img{display:block;}
.z-success>.icon-congrat{display:block;margin:0 auto;max-width:30%;}
.z-success>.t-green2>small{display:block;font-size:13px;margin-bottom:10px}
.z-success .congrat{width:500px;margin:0 auto;max-width:100%;overflow:visible}
.z-success .congrat .bar{background:#e7e7e7;margin-left:-1rem;margin-right:-1rem;padding:7px 1rem;margin-bottom:5px;}
.z-success .list-checkout>li{flex-wrap:nowrap}
.z-success .list-checkout>li>span{text-align:left}
.z-success .t-red2{color:#d23b43}
.z-success .msg h2>span{font-weight:200}
/*register*/
.form-signin fieldset{position:relative;background:0 0;color:#fff;padding:20px}
.form-signin fieldset>legend{display:block;width:100%;border:0;margin:0 0 10px;padding:0;white-space:normal}
.form-signin fieldset>legend h2{margin:0;padding:0;font-weight:400;font-size:42px;color:#195d51;text-align:center}
.form-signin fieldset>legend h2>small{display:block;font-weight:100}
.form-signin .head{font-size:30px;font-weight:300;color:#fff;text-align:center;margin:0}
.form-signin .head span{position:relative;display:inline-block}
.form-signin .head span:after,form .wr{border-radius:5em;-webkit-border-radius:5em}
/*.form-signin .head span:after{content:"";display:block;position:absolute;left:0;right:0;bottom:-7px;height:3px;background:#D23B43}
*/.form-list{padding:0;margin:0}
.form-list li{list-style:none}
.form-list .mb20,form .wr{margin-bottom:20px}
.form-signin .wr label,.wr .line,.wr .txt-box{-moz-transition:all .25s cubic-bezier(.53,.01,.35,1.5);-o-transition:all .25s cubic-bezier(.53,.01,.35,1.5);-webkit-transition:all .25s cubic-bezier(.53,.01,.35,1.5);transition:all .25s cubic-bezier(.53,.01,.35,1.5)}
form .wr{position:relative;background:#fff}
form .wr .txt-box,form .wr label{box-sizing:border-box;background:0 0}
form .wr label{transform-origin:left center;z-index:2;pointer-events:none;position:absolute;top:0;bottom:0;left:15px;right:15px;font-size:16px;text-align:left;font-weight:200;padding:0;line-height:41px;color:#195d51}
form .wr label.bg-wh{background-color:#fff}
form .wr .txt-box{appearance:none;-webkit-appearance:none;display:block;width:100%;border:0;padding:8px 15px;position:relative;z-index:1;outline:0;color:#000;}
form .wr .txt-box[type=date]{outline:0}
form .wr .txt-box:focus~label{text-transform:uppercase;font-size:11px;color:#195d51;line-height:15px;top:-15px;bottom:auto;right:auto;padding:0;background:0 0}
form .wr .txt-box:valid~label,form .wr.valid .select2~label{text-transform:uppercase;font-size:11px;color:#fff;line-height:15px;top:-15px;bottom:auto;right:auto;padding:0;background:0 0}
form .wr .line{display:block;position:absolute;bottom:0;left:15px;right:15px;height:2px;background:linear-gradient(to right,#dd1741 0%,#195d51 49%,#56b798 82%);z-index:3;transform:scaleX(0);-webkit-transform:scaleX(0);border-radius:5em;-webkit-border-radius:5em}
form .wr .txt-box:focus~.line{transform:scaleX(1);-webkit-transform:scaleX(1)}
form .wr .hid{display:none}
form .fix-label .wr{margin-bottom:30px}
form .fix-label .wr.mb0{margin-bottom:0}
form .fix-label .wr.valid .select2~label,form .fix-label .wr .txt-box:valid ~ label{color:#0f0f0f}
form[class="form-signin"] .fix-label .wr label{top:-20px}
form.form-checkout .fix-label .wr{margin-bottom:0;margin-top:30px}
form .fix-label .wr label{text-transform:uppercase;font-size:13px!important;color:#0f0f0f;line-height:15px;top:-15px;bottom:auto;right:auto;padding:0;background:0 0}
form .select-ar:after{content:"";display:block;position:absolute;top:0;right:20px;transform:translateY(60%) rotate(45deg);-webkit-transform:translateY(60%) rotate(45deg);width:15px;height:15px;border-right:1px solid #aaa;border-bottom:1px solid #aaa;z-index:1}
form .select-ar .txt-box{z-index:2}
form .select-ar label{margin-right:30px}
.form-list li.quest{border-top:2px solid rgba(255,255,255,.5);padding-top:20px;margin-top:20px;}
.form-list li.quest label,.quest .wrap-range>div.label span{display:block;font-weight:300;font-size:16px;color:#fff;text-align:center}
.quest .wrap-range{display:flex;flex-flow:row nowrap}
.quest .wrap-range>div.bar{flex:0 0 64%;padding-top:0}
.quest .wrap-range>div.label{flex:0 0 18%;max-width:18%;text-align:center}
.quest .wrap-range>div.label span{font-weight:200;font-size:14px;color:#195d51}
.quest .wrap-range>div.label output{font-size:24px;font-weight:200;color:#fff;padding:0;margin-top:-5px;text-align:center}
.form-list li.ctrl-btn{margin-top:20px}
.corporate [id="check-staff"]{margin-bottom:12px;}
.corporate label{font-size:16px;font-weight:300;}
.inputGroup>div{margin-bottom:2px}
.inputGroup label{padding:5px 20px 5px 40px;width:100%;display:block;text-align:left;color:#fff;cursor:pointer;position:relative;margin:0;z-index:2;transition:color 200ms ease-in;border-radius:5em;-webkit-border-radius:5em;overflow:hidden}
.inputGroup label>span{display:inline-block}
.inputGroup label:after,.inputGroup label:before{content:"";border-radius:50%;position:absolute;top:50%}
.inputGroup label:before{-webkit-transform:translate(-50%,-50%) scale3d(1,1,1);transform:translate(-50%,-50%) scale3d(1,1,1);transition:all 300ms cubic-bezier(.4,0,.2,1);opacity:0;width:20px;height:10px;background-color:#195d51;left:50%;z-index:-1}
.inputGroup label:after{width:25px;height:25px;border:2px solid #195d51;background-color:transparent;background-repeat:no-repeat;background-position:-2px 0;z-index:2;left:10px;-webkit-transform:translateY(-50%);transform:translateY(-50%);cursor:pointer;transition:all 200ms ease-in}
.inputGroup input:checked~label{color:#fff}
.inputGroup input:checked~label:before{-webkit-transform:translate(-50%,-50%) scale3d(56,56,1);transform:translate(-50%,-50%) scale3d(56,56,1);opacity:1}
.inputGroup input:checked~label:after{background-color:#fff;border-color:#fff;background-image:url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23000' fill-rule='nonzero'/%3E%3C/svg%3E ")}
.inputGroup input[type=checkbox],.inputGroup input[type=radio]{width:32px;height:32px;order:1;z-index:2;position:absolute;right:30px;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);cursor:pointer;visibility:hidden}
/*range*/
input[type=range]{-webkit-appearance:none;margin:18px 0;width:100%;background:0 0}
input[type=range]:focus{outline:0}
input[type=range]::-webkit-slider-runnable-track{width:100%;height:8.4px;cursor:pointer;animate:.2s;box-shadow:1px 1px 1px #000,0 0 1px #0d0d0d;background:#195d51;border-radius:1.3px;border:.2px solid #010101}
input[type=range]::-webkit-slider-thumb{box-shadow:1px 1px 1px #000,0 0 1px #0d0d0d;border:1px solid #000;height:36px;width:16px;border-radius:3px;background:#fff;cursor:pointer;-webkit-appearance:none;margin-top:-14px}
input[type=range]:focus::-webkit-slider-runnable-track{background:#195d51}
input[type=range]::-moz-range-track{width:100%;height:8.4px;cursor:pointer;animate:.2s;box-shadow:1px 1px 1px #000,0 0 1px #0d0d0d;background:#195d51;border-radius:1.3px;border:.2px solid #010101}
input[type=range]::-moz-range-thumb{box-shadow:1px 1px 1px #000,0 0 1px #0d0d0d;border:1px solid #000;height:36px;width:16px;border-radius:3px;background:#fff;cursor:pointer}
input[type=range]::-ms-track{width:100%;height:8.4px;cursor:pointer;animate:.2s;background:0 0;border-color:transparent;border-width:16px 0;color:transparent}
input[type=range]::-ms-fill-lower{background:#2a6495;border:.2px solid #010101;border-radius:2.6px;box-shadow:1px 1px 1px #000,0 0 1px #0d0d0d}
input[type=range]::-ms-fill-upper{background:#195d51;border:.2px solid #010101;border-radius:2.6px;box-shadow:1px 1px 1px #000,0 0 1px #0d0d0d}
input[type=range]::-ms-thumb{box-shadow:1px 1px 1px #000,0 0 1px #0d0d0d;border:1px solid #000;height:36px;width:16px;border-radius:3px;background:#fff;cursor:pointer}
input[type=range]:focus::-ms-fill-lower{background:#195d51}
input[type=range]:focus::-ms-fill-upper{background:#195d51}
/*auto complete*/
.js-select .select2-container--default .select2-selection--single{padding:6px 7px;height:42px;border-radius:1.35em;-webkit-border-radius:1.35em;border-color:transparent}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single{border-color:#aaa}
.js-select .select2-container--default .select2-selection--single .select2-selection__arrow{top:8px;right:7px}
.js-select .select2-container--default .select2-selection--single .select2-selection__placeholder{color:#195d51;font-weight:100;font-size:16px;opacity:0}
.js-select .select2-container--default .select2-selection--single .select2-selection__rendered{color:#195d51}
.select2-results__option{color:#195d51}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,input:-webkit-autofill:focus,input:-webkit-autofill:hover,select:-webkit-autofill,select:-webkit-autofill:focus,select:-webkit-autofill:hover,textarea:-webkit-autofill,textarea:-webkit-autofill:focus,textarea:-webkit-autofill:hover{border:0;-webkit-text-fill-color:#195d51;-webkit-box-shadow:none;transition:background-color 5000s ease-in-out 0s}
/*popup signup*/
.popup{display:none;max-width:95%;width:480px;font-family:"Prompt";border-radius:.5em;-webkit-border-radius:.5em;box-shadow:0 0 0 8px rgba(255,255,255,.1)}
.popup[class*="thm-lite"]{width:600px;background:#F7F7F7;box-shadow:none;border-radius:.2em;-webkit-border-radius:.2em;}
.popup a{text-decoration:none}
.popup .box-middle{text-align:center}
.popup .head{font-size:21px;color:#656565;font-weight:200}
.popup .box-middle h2{font-size:24px}
.popup .box-middle h2 u{display:block;color:#000}
.popup .box-middle p{color:#454545}
.popup .t-red{color:#d23b43}
.popup .t-green{color:#00b2b2}
.popup .t-black{color:#000}
.popup [class*=ui-btn]{display:inline-block;padding:5px 20px;text-align:center;/*background:#56b798;color:#fff;*/border-radius:5em;-webkit-border-radius:5em;text-decoration:none}
.popup[class*="thm-lite"] .box-middle{min-height:150px}
.popup[class*="thm-lite"] .box-middle .icon-head{margin:0 auto}
.popup[class*="thm-lite"] .box-middle .icon-head img{max-width:100%;max-height:80px}
.popup[class*="thm-lite"] .box-middle h2{font-weight:200}
.popup[class*="thm-lite"] .box-middle p{font-weight:200;color:#212121}
.popup[class*="thm-lite"] [class*="ui-btn"]{min-width:inherit;}
@media (max-width:812px){
.form-signin fieldset{padding:15px}
form fieldset>legend{margin-bottom:5px}
form fieldset>legend h2{font-size:32px}
.jumbotron .btn[id=btnSignUp]{padding:7px 10px;font-size:18px;font-weight:200}
.form-signin .group.mb20 .head{margin-bottom:10px}
[class*="box-san"]{width:auto}
[class*="box-san"] [class*="body"]{padding:10px}
[class*="box-san"] .row{margin-left:-0.5rem;margin-right:-0.5rem}
.form-keep [class*="box-san"] .row{margin-left:0;margin-right:0}
[class*="box-san"] .row .js-select{margin-bottom:10px}
}
@media (max-width:480px){form fieldset>legend h2{font-size:29px;white-space:nowrap}}
/*login*/
[class*="page-"]{min-height:calc(100vh - 393px)}
[class*="page-login"]{background:#00b2b2;color:#fff;display:flex;justify-content:center;align-items:center}
[class*="page-login"]>.container{}
.form-keep .ui-btn-white-mini-cr{padding-left:10px;padding-right:10px}
.form-keep div>em{font-weight:100;font-style:normal}
/*terms*/
.main-terms{font-family: "Prompt"}
.main-terms p{margin-bottom:0}
.list-disc{position:relative;padding-left:30px;}
.list-disc>li{position:relative;list-style-type:none}
.list-disc>li:before{content:"";display:block;width:8px;height:8px;position:absolute;top:8px;left:-20px;border-radius:5em;-webkit-border-radius:5em;background:#333}
/*paging*/
.pagination,.ctrl-paging{position:relative;display:block;clear:both;margin-left:auto;margin-right:auto;margin-top:20px;margin-bottom:0;padding-bottom:10px}
.pagination ul{width:100%;text-align:center}
.pagination ul li{display:inline-block;margin-left:5px;vertical-align:top}
.pagination ul li a{display:inline-block;padding:0 5px;min-width:25px;height:25px;font:14px/23px "MyFont", tahoma;color:#999;background:#fff;text-align:center;border:1px solid #ccc;text-decoration:none;border-radius:5em;-webkit-border-radius:5em}
.pagination ul li a:hover{opacity:.75}
.pagination ul li a.active{background:#f1c03d;border-color:#f1c03d;color:#fff;box-shadow:0 0 0 1px rgba(255,255,255,0.1) inset}
.ctrl-paging>p{text-align:right;font-size:14px;min-height:25px}
.ctrl-paging>p>.result{display:block;float:left;color:#999}
.ctrl-paging>p>strong,.ctrl-paging>p>a{display:inline-block;padding:0 5px;min-width:25px;height:25px;font:14px/25px "MyFont", tahoma;color:#777;background:#fff;text-align:center;border:1px solid #ccc;text-decoration:none;border-radius:.2em;-webkit-border-radius:.2em}
.ctrl-paging>p>a:hover{opacity:.75}
.ctrl-paging>p>strong{background:#f1c03d;border-color:#f1c03d;color:#fff;box-shadow:0 0 0 1px rgba(255,255,255,0.1) inset}
/*loading*/
[id="skin-loading"]{position:absolute;top:0;left:0;bottom:0;right:0;display:flex;justify-content:center;align-items:center;background:rgba(0,0,0,0.5);z-index:9900}
[id="skin-loading"].bg-wh{background:rgba(245,245,245,0.75)}
@-webkit-keyframes lds-hourglass{0%{-webkit-transform:rotate(0);-webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19)}50%{-webkit-transform:rotate(900deg);-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1)}to{-webkit-transform:rotate(1800deg)}}
@keyframes lds-hourglass{0%{transform:rotate(0);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}50%{transform:rotate(900deg);animation-timing-function:cubic-bezier(.215,.61,.355,1)}to{transform:rotate(1800deg)}}
.lds-hourglass{display:inline-block;position:relative;width:64px;height:64px}
.lds-hourglass:after{content:" ";display:block;border-radius:50%;width:0;height:0;margin:6px;box-sizing:border-box;border:26px solid #fff;border-color:#fff transparent;animation:lds-hourglass 1.2s infinite;-webkit-animation:lds-hourglass 1.2s infinite}
[id="skin-loading"].bg-wh .lds-hourglass:after{border:26px solid #1AC0CC;border-color:#1AC0CC transparent}

/*===========app santakeep============*/
#app a:hover{text-decoration:none}
#app .head-bar{display:none;position:relative;padding:0 5px;text-align:center;background:#3db996;margin:0 0 15px}
[id="toc"]>.head-bar{margin:-15px -15px 15px}
#app .head-bar img{display:block;margin:0 auto;max-height:50px;padding-top:3px;}
#app .head-bar.title{padding:0}
#app .head-bar.title>[class*="btn"]{position:absolute;top:0;left:0;background:rgba(0,0,0,0);transition:.2s all ease}
#app .head-bar.title>[class*="btn"]:hover{background:rgba(0,0,0,0.3)}
#app .head-bar.title>[class*="btn"]>i{display:block;width:50px;height:50px;text-align:center;line-height:50px;}
#app .head-bar.title>[class*="btn"]>i[class*="ic-back"]:before{content:"";display:block;position:absolute;top:50%;left:50%;width:20px;height:20px;border-left:2px solid #fff;border-bottom:2px solid #fff;transform:rotate(45deg) translate(-60%,-20%);-webkit-transform:rotate(45deg) translate(-60%,-20%)}
#app .head-bar.title .head{font-size:18px;height:50px;display:flex;align-content:center;align-items:center;justify-content:center;font-weight:200;color:#fff;text-align:center;margin:0 60px}
#app .head-bar.title .head .logo{display:inline-block;vertical-align:middle;width:90px;height:45px;background:url("../di/logo.png") 50% 50% no-repeat;background-size:auto 100%;margin-right:10px;filter:invert(1) brightness(100);-webkit-filter:invert(1) brightness(100)}
[class*="ui-btn"]{padding:10px}
#app .close-page{position:absolute;top:10px;right:10px;width:30px;height:30px;z-index:99;display:none}
#app .close-page>a{display:block;height:30px;background:url("../di/btn-close.png") 50% 50% no-repeat;background-size:100% auto;text-indent:-9999px;}
#app [class*="ic-"]{display:inline-block;position:relative;vertical-align:middle}
#app [class*="ic-"]:before{content:"";display:block;width:64px;height:64px;text-align:center;background-position:50% 50%;background-repeat:no-repeat;background-size:100% auto}
#app [class*="ic-"][class*="-edit"]:before{width:32px;height:32px;background-image:url("../di/btn-edit.png");background-size:60% auto}
#app [class*="ic-"][class*="-edit-gray"]:before{width:32px;height:32px;background-image:url("../di/btn-edit-gray.png");background-size:75% auto}
#app [class*="ic-"][class*="-search"]:before{width:24px;height:24px;background-image:url("../di/btn-search.png")}
#app [class*="ic-"][class*="-add"]:before{width:32px;height:32px;background-image:url("../di/btn-add.png")}
#app [class*="ic-"][class*="-setting"]:before{width:32px;height:32px;background-image:url("../di/btn-setting.png");background-size:100% auto}
#app [class*="ic-"][class*="main"]{max-width:100%;background:url("../di/nav-main-icon.png") 50% 0 no-repeat;background-size:100% auto}
#app [class*="ic-"][class*="main"]:before{width:100%;height:100%;padding:100% 0 0}
#app [class*="ic-"][class*="main"][class*="-calendar"]{background-position:50% 0}
#app [class*="ic-"][class*="main"][class*="-switch"]{background-position:50% 100%}
#app .h-text{font-size:24px;line-height:120%;margin-bottom:15px;margin-top:0;text-align:center}
#app .c-red{color:#c00}
#app .c-green{color:#00b2b2}
#app .c-black{color:#000}
#app .c-white{color:#fff}
/*form*/
#app form{font-family:"Prompt";font-size:14px}
#app .form-keep .wr label,#app .wr .txt-box,#app .wr .line{-moz-transition:all .25s cubic-bezier(.53,.01,.35,1.5);-o-transition:all .25s cubic-bezier(.53,.01,.35,1.5);-webkit-transition:all .25s cubic-bezier(.53,.01,.35,1.5);transition:all .25s cubic-bezier(.53,.01,.35,1.5)}
#app form .wr{position:relative;margin-top:20px}
#app form .wr label{transform-origin:left center;box-sizing:border-box;z-index:2;pointer-events:none;position:absolute;top:1px;bottom:1px;left:15px;right:10px;font-size:16px;text-align:left;font-weight:200;padding:0;line-height:40px;color:#aaa;background:#fff;border-radius:2em;-webkit-border-radius:2em}
#app form.bx-keep .wr label{top: 2px;bottom: 2px}
#app form .wr .txt-box{appearance:none;-webkit-appearance:none;box-sizing:border-box;display:block;width:100%;border:1px solid #a6a6a6;background:transparent;padding:10px 15px;font-size:16px;font-weight:200;line-height:20px;position:relative;z-index:1;outline:none;border-radius:1.5em;-webkit-border-radius:1.5em}
#app form.bx-keep .wr .txt-box,.bx-keep .acc > ul > li.show .bx-setting .txt-box{border-width: 2px; border-color: #BCBEC0}
#app form .wr .txt-box::-webkit-input-placeholder{color:#aaa}
#app form .wr .txt-box:-ms-input-placeholder{color:#aaa}
#app form .wr .txt-box::placeholder {color:#aaa}
#app form .wr .txt-box[type="date"]{outline:none;}
#app form .wr .txt-box:focus~label{font-size:11px;color:#212121;font-weight:400;line-height:15px;left:5px;top:-15px;bottom:auto;right:auto;padding:0;background:none}
#app form .wr .txt-box:valid~label,form .wr.valid .txt-box~label{text-transform:uppercase;font-style:italic;font-size:11px;color:#aaa;line-height:15px;left:5px;top:-15px;bottom:auto;right:auto;padding:0;background:none}
#app form .wr .txt-box:focus~label i,form .wr .txt-box:valid~label i,form .wr.valid .txt-box~label i{display:none}
#app form .wr .line{display:block;position:absolute;bottom:-1px;left:.4em;right:.4em;height:2px;background:#999;z-index:3;transform:scaleX(0);-webkit-transform:scaleX(0)}
#app form .wr .txt-box:focus~.line{transform:scaleX(1);-webkit-transform:scaleX(1)}
#app form .wr .hid{display:none}
/*upload AR photo*/
#app .file-upload-ar {position:relative;width:100%;height:42px;}
#app .file-upload-ar .hid{display:none}
#app .file-upload-ar:after {content:attr(data-text);font-size:14px;position:absolute;top:0;left:0;background:#fff;border:1px solid #a6a6a6;padding:0 15px;display:block;width:calc(100% - 40px);pointer-events:none;z-index:20;height:42px;line-height:42px;color:#aaa;text-align:left;border-radius:1.5em 0 0 1.5em;font-weight:300;white-space:nowrap;overflow:hidden}
#app .file-upload-ar:not([data-text="Select File"]):after {color:#333}
#app .file-upload-ar:before {content:'Browse';position:absolute;top:0;right:0;display:inline-block;height:42px;background:#02657C;color:#fff;font-weight:400;z-index:25;font-size:12px;line-height:42px;padding:0 15px;text-transform:uppercase;pointer-events:none;border-radius:0 1.7em 1.7em 0;}
#app .file-upload-ar:hover:before {background:#00B2B2}
#app .bx-keep .file-upload-ar:after{border-color:#BCBEC0;border-width: 2px;line-height: 38px}
#app .file-upload-ar input {opacity:0;position:absolute;top:0;right:0;bottom:0;left:0;z-index:99;height:34px;margin:0;padding:0;display:block;cursor:pointer;width:100%;}
#app .wr .tagator_element{padding:6px 10px;line-height:20px;border-radius:2em;-webkit-border-radius:2em;border-color:#aaa}
#app .wr .tagator_tag{background-color:#dedede;color:#606060;border-radius:5em;-webkit-border-radius:5em;padding:5px 30px 5px 10px}
#app .wr .tagator_tag_remove{top:10px;background:#606060;color:#eee;top:5px;right:5px;bottom:auto;padding:0;width:20px;height:20px;line-height:20px;font-weight:200;text-align:center;border-radius:5em;-webkit-border-radius:5em;}
#app .wr .tagator_tag_remove:hover{background:#c00;color:#fff}
/*main*/
/*#app .fix-h{min-height:calc(100vh - 110px)}*/
#app .box-san .panel:before{content: "";display: block;position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin-left:calc(-100vw / 2 + 800px / 2 );margin-right:calc(-100vw / 2 + 800px / 2 + 10px); background:#6C6D71;z-index: -1}
#app .box-san .panel{position: relative;display:flex;flex-flow:row nowrap;justify-content:space-between;align-items:center;padding:8px; background:#6C6D71;color: #fff; margin-bottom:10px;margin-top: 15px}
#app .box-san .panel [class*="ui-btn"]{padding:5px 10px;min-width: 70px}
#app .box-san .panel em{font-style:normal;font-weight: 300}
#app .bulatin-nav{position:relative;padding:0;border-radius:0;background:url("../di/cover-profile.png") 50% 0 no-repeat; background-size: cover;}
#app .bulatin-nav>ul{display:flex;flex-flow:row wrap;margin:0 -2px}
#app .bulatin-nav>ul>li{padding:0;margin-bottom:0;}
#app .bulatin-nav>ul>li>a{display:block;height:100%;background:transparent;color:#fff;border:1px solid #fff}
#app .bulatin-nav>ul>li[class*="_self"]>a{display:flex;flex-flow: column;justify-content: center;background: #fff;color: #6D6E71}
#app .bulatin-nav>ul>li>a i{display:block;margin:0 auto;filter: brightness(0) invert(1);-webkit-filter: brightness(0) invert(1)}
#app .bulatin-nav>ul>li[class*="_self"]>a i{filter: none;-webkit-filter:none;}
#app .bulatin-nav>ul>li>a i img{display:block;margin:0 auto -10px;max-width:80%;}
#app .bulatin-nav>ul>li[class*="_self"]>a i img{margin-bottom:0}
#app .bulatin-nav>ul>li>a span{font-size:1.25vmax}
#app .bulatin-nav>ul>li>a span small{display:block;font-weight:200;height:20px;line-height:20px;font-size:70%;color:#fff;margin:-5px 0 20px}
#app .bulatin-nav>ul>li[class*="_self"]>a span small{color: #6D6E71;font-size: 100%;margin-top: 2px;font-weight: 300}
/*#app .bulatin-nav>ul>li.m-calendar{flex:1 1 0}
#app .bulatin-nav>ul>li .btn{display:block;padding:1em 1.5em;height:100%;text-align:center;background:#195d51;color:#fff;border-radius:1em;-webkit-border-radius:1em}
#app .bulatin-nav>ul>li .btn i{display:block;max-width:100%}
#app .bulatin-nav>ul>li .btn span{white-space:nowrap}
#app .bulatin-nav>ul>li.m-calendar .btn *{vertical-align:middle}
#app .bulatin-nav>ul>li.m-calendar .btn i{position:absolute;left:1.5em;width:64px;display:inline-block}
#app .bulatin-nav>ul>li.m-calendar .btn span{padding-left:70px;display:block;line-height:64px;font-size:5.5vmin}
#app .bulatin-nav>ul>li.m-switch{max-width:25%}
#app .bulatin-nav>ul>li.m-switch .btn{background:#3db996}
#app .bulatin-nav>ul>li.m-switch .btn.off{background:#808080}
#app .bulatin-nav>ul>li.m-switch .btn span{font-size:80%}
#app .bulatin-nav>ul>li.m-about{flex:0 0 100%;max-width:100%}
#app .bulatin-nav>ul>li.m-about a>span{display:none}
#app .bulatin-nav>ul>li.m-about a img{display:block;object-fit:cover;border-radius:1em;-webkit-border-radius:1em}*/
/*recall*/
.mt10{margin-top:10px!important}
.mt20{margin-top:20px!important}
.mb10{margin-bottom:10px!important}
.mb15{margin-bottom:15px!important}
.mb20{margin-bottom:20px!important}
.form-keep{padding:0;margin:0}
.form-keep fieldset{border:none;padding:10px}
.form-keep .hid{display:none}
#app .user{display:flex;flex-flow:row nowrap;align-items:center}
#app .user.full{align-items:center;border-bottom:1px solid #dbdbdb;padding-bottom:20px}
#app .user>img{width:25%;max-width:128px;max-height:128px;object-fit:cover;border-radius:100%;-webkit-border-radius:100%}
#app .user>div{flex:1 1 0;padding:0 10px;display:flex;flex-flow:column wrap;justify-content:center}
#app .user>div *{margin:0}
#app .user>div b{font-weight:400;font-size:16px;color:#000}
#app .user>div p{font-size:16px;color:#787878}
#app .user>div p small{font-size:11px;font-weight:200}
#app .user.full p{font-weight:200;color:#333}
#app .user.full p b{font-weight:400}
.form-keep div>em{color:#454545;font-style:normal}
.form-keep .ctrl-btn{margin-top:20px;}
.form-keep .ctrl-btn>*{padding:10px 15px;font-size:18px}
#app .form-keep .row{margin-bottom:5px}
#app .form-keep .row.mb0{margin-bottom:0}
#app .js-select .select2-container{width:100%!important}
#app .js-select .select2-container--default .select2-selection--single{padding:6px 7px;height:42px;/*border-radius:2em;-webkit-border-radius:2em;*/border:1px solid #aaa}
#app .js-select .select2-container--default .select2-selection--single .select2-selection__arrow{top:8px;right:7px}
#app .js-select .select2-container--default .select2-selection--single .select2-selection__placeholder{color:#aaa;font-weight:200;font-size:16px}
#app .bx-keep .js-select .select2-container--default .select2-selection--single {border: 2px solid #BCBEC0}
.box-result ul>li{border-bottom:1px solid #dbdbdb;padding:10px;}
.box-result ul>li:last-child{border-bottom:none}
/*.box-result ul>li:hover{background:#fafafa}*/
.box-result ul>li>a{display:block;position:relative;line-height:30px;font-weight:300;font-size:18px;color:#58595B}
.box-result ul>li>a>span:first-child{font-size:14px;line-height:30px;max-width:70vw;overflow:hidden;text-overflow:ellipsis}
#app .box-result ul>li>a>i{position:absolute;top:0;right:0}
#app .box-result ul>li i:before{width:32px;height:32px;background:50% 50% no-repeat;background-size:100% auto}
#app .box-result ul>li i[class*="dl"]:before{background-image:url("../di/btn-download.png") }
#app .box-result ul>li>a>i[class*="del"]:before{width:20px;height:20px;background-image:url("../di/btn-delete.png") }
#app .box-result ul>li>a>i[class*="del"]{top:5px;}
#app .box-result ul>li>a>i[class*="edit"]{transform:translateY(0);-webkit-transform:translateY(0)}
#app .box-result ul>li>a>i[class="ic-edit"]:before{width:32px;height:32px;background-image:url("../di/btn-edit.png");filter:invert(1)}
#app .box-result ul.image{display:flex;flex-flow:row wrap;margin-left:-10px;margin-right:-10px}
#app .box-result ul.image>li{position:relative;flex-basis:33.33%;max-width:33.33%}
#app .box-result ul.image>li i[class*="dl"]{position:absolute;top:50%;left:50%;padding:10px;z-index:9;transform:translate(-50%,-50%);background:rgba(255,255,255,0.75);border-radius:5em}
#app .box-result ul.image>li i[class*="dl"]{}
.box-result[class*="list-group"] ul>li{padding:10px 0}
.box-result[class*="list-group"] ul>li  a[class*="del"]{display:none;color:#aaa;text-decoration:none}
.box-result[class*="list-group"] ul>li.show  a[class*="del"]{display:inline-block}
.box-result[class*="list-group"] ul>li  a[class*="del"]:hover{color:#D23B43}
#app .box-result .g-menu{display:none;flex-flow:row nowrap;align-items:center;margin:0;padding:2px;background:#fff;border-radius:5em;-webkit-border-radius:5em}
#app .box-result .show .g-menu{display:inline-flex;}
.g-menu>a{padding:0 5px;width:35px;height:35px;line-height:35px;text-align:center}
.g-menu>a.m{color:#aaa;border-radius:5em;-webkit-border-radius:5em}
.g-menu>a.m i{font-size:16px;}
.g-menu>a.selected{color:#fff;background:#00b2b2}
.u-allow>span{display:block;font-weight:400;font-weight:14px}
.u-allow>ol{max-height:200px;overflow:auto}
.u-allow>ol>li{display:inline-block;position:relative;white-space:nowrap;margin:0 5px 7px 0}
.u-allow>ol>li .user{background:#fff;border: 1px solid #f3f3f3;padding:1px 3px 1px 30px!important;color:#454545;font-size:12px;font-weight:200;line-height:14px;border-radius:5em;-webkit-border-radius:5em}
.u-allow>ol>li .user img{display:block;position:absolute;left:0;top:50%;transform:translateY(-50%);width:25px!important;height:25px;object-fit:contain}
.u-allow>ol>li .user p{margin:0}
.list-group-leave ul>li>a{display:flex;justify-content:space-between}
.list-group-leave ul>li>a>span:first-child{max-width:40vw}
.list-group-leave ul>li small{font-size:12px;text-align:right;color:#999}
.acc>ul>li,#app .c-user-join ul>li{position:relative;flex-flow:row wrap}
.acc>ul>li .grp-r>.expand{display:inline-block;vertical-align:middle;color:#323232;margin-left:5px;}
.acc>ul>li .grp-r>.expand.active{color:#a0a0a0}
.acc>ul>li .bx-setting{display:none;flex-basis:100%;max-width:100%}
.acc>ul>li.show .bx-setting{display:block}
.form-keep .bx-setting [class*="ui-btn"]{padding:2px 10px;font-weight:300;font-size:12px;min-width:80px}
.acc>ul>li.show .bx-setting .txt-box{width:100%;height:42px;border:1px solid #aaa;border-radius:2em;-webkit-border-radius:2em}
/*profile*/
#app .box-san .hd{position:relative}
#app .title-bar{position:relative;background:#195d51;color:#fff;margin:30px 0 10px;padding:5px 20px;line-height:25px;font-size:18px;border-radius:.1em;-webkit-border-radius:.1em}
#app  i[class*="ic-edit"]{position:absolute;top:50%;right:0;transform:translateY(-50%);-webkit-transform:translateY(-50%)}
#app .title-bar a:first-child{color:#fff;text-decoration:none;font-weight:200}
#app .title-bar a:first-child>i{vertical-align:middle}
#app .idTabs{display:flex;flex-flow:row nowrap;overflow:auto;justify-content:flex-start;margin-top:15px}
#app .idTabs>li{padding:0;margin-right:8px}
#app .idTabs>li>a{display:block;padding:5px 10px;min-width:100px;text-align:center;font-size:18px;line-height:25px;color:#878787;box-shadow:0 -3px 0 #cdcdcd inset;transition:.2s all ease;-webkit-transition:.2s all ease}
#app .idTabs>li>a.selected{box-shadow:0 -3px 0 #dd1442 inset;color:#212121}
#app .toggle {cursor:pointer;display:inline-block}
#app .toggle-switch {display:inline-block;background:#ccc;border-radius:16px;width:58px;height:32px;position:relative;vertical-align:middle;transition:background 0.25s}
#app .toggle-switch:before, #app .toggle-switch:after {content:""}
#app .toggle-switch:before {display:block;background:linear-gradient(to bottom, #fff 0%, #eee 100%);border-radius:50%;width:24px;height:24px;position:absolute;top:4px;left:4px;transition:left 0.25s;}
#app .toggle:hover .toggle-switch:before {background:linear-gradient(to bottom, #fff 0%, #fff 100%);box-shadow:0 0 0 1px rgba(0, 0, 0, 0.2);}
#app .toggle-checkbox:checked + .toggle-switch {background:#56c080}
#app .toggle-checkbox:checked + .toggle-switch:before {left:30px;}
#app .toggle-checkbox{position:absolute;visibility:hidden}
#app .toggle-label{margin-left:5px;position:relative;top:2px;font-weight:200;color:#787878;font-size:11px}
/*calendar*/
.mbsc-cal-cell-i.mbsc-cal-day-i div[style*="position:absolute!important"]{text-indent:-9999px}
#app .c-detail{color:#58595B;margin-top:10px;margin-bottom:15px;padding:0 10px 15px;border-bottom:1px solid #d1d1d1}
#app .c-detail *{font-size:16px}
#app .c-detail ul>li{font-weight: 200;color: #808285}
#app .c-detail ul>li>b{font-weight: 400;color: #58595B}
#app .c-detail ul>li>*{color: #58595B}
#app .c-user-join ul>li{position:relative;padding:6px 10px;display:flex;flex-flow:row wrap;justify-content:space-between;align-items:center}
#app .c-user-join .user>img{max-width:64px;width:40px;height:40px!important;}
#app .c-user-join .user>div{max-width:65vw;padding-right:0}
#app .c-user-join .user>div>p{color:#58595B;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:100%}
#app .c-user-join ul>li:hover{background:#f0f0f0}
#app .c-user-join ul>li .status img{display:block;max-width:100%;width:32px}
/*membership*/
.z-survey .bg-gray2{padding:20px 10px}
.z-survey .congrat .bar{border-radius: 2em;-webkit-border-radius: 2em;margin: 0 auto}
.z-survey form .sv{position: relative;padding: 20px 5px; border-bottom: 2px solid #E6E6E6}
.z-survey form .sv.none{border-bottom: none}
.z-survey form .sv .quest{font-size: 18px;color: #454545;font-weight:500;margin-bottom: 10px}
/*star*/
.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 311px;
  height: 46px;
  overflow: hidden;
  position: relative;
  background: url("../di/icon-rating-number.png") 0 0 no-repeat;
  background-size: 100% auto
}
.star-rating label {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  /* width: 20%; remove this */
  z-index: 1;
  background: url("../di/icon-rating-number.png") 0 100% no-repeat;
  background-size: auto 200.1%;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.star-rating.star-5{position: relative;height:46px;overflow: visible}
.star-rating.star-5 label{}
.star-rating.star-5:before,.star-rating.star-5:after{content: "ไม่พึงพอใจ";display: block;position: absolute;top: 0; left: -75px; width: 75px; height: 46px; line-height: 46px; font-size: 13px; font-weight: 200; text-align: center;color: #333}
.star-rating.star-5:after{content: "พึงพอใจมาก";left: auto;right: -75px;text-align: right}
.star-rating.star-5.en:before{content: "disappointed";width: 100px; left: -100px; text-align: left}
.star-rating.star-5.en:after{content: "I loved it!"}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 1;
  display: inline-block;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.star-rating input:checked + label {
  opacity: 1;
}
.star-rating label{ width: 20%;cursor: pointer}
.star-rating label ~ label {
  width: 40%;
}
.star-rating label ~ label ~ label {
  width: 60%;
}
.star-rating label ~ label ~ label ~ label {
  width: 80%;
}
.star-rating label ~ label ~ label ~ label ~ label {
  width: 100%;
}

.star-rating.star-5 input,
.star-rating.star-5 label {width: 20%;}
.star-rating.star-5 label ~ label {width: 40%;}
.star-rating.star-5 label ~ label ~ label {width: 60%;}
.star-rating.star-5 label ~ label ~ label ~ label {width: 80%;}
.star-rating.star-5 label ~ label ~ label ~ label ~ label {width: 100%;}
/*howto get strated*/
.z-howto *{font-family:"Prompt"}
.z-howto .z-or{position:absolute;bottom:0 ;right:40px;margin:0;transform:translateY(60%);display:block;width:100px;height:100px;text-align:center;line-height:100px;color:#d23b43;font-weight:600;font-style:italic;font-size:32px;background:#fff;border-radius:5em;-webkit-border-radius:5em}
.z-howto [class*="zone"]{padding:5vh 0}
.z-howto [class*="zone"] .bar{color:#555;font-size:21px;font-weight:200;margin-bottom:10px}
.z-howto [class*="zone"] .bar em{display:inline-block;width:48px;height:48px;text-align:center;line-height:48px;font-weight:700;font-style:italic;font-size:36px;font-family:"Prompt";background:#fff;border-radius:5em;-webkit-border-radius:5em}
.z-howto [class*="zone2"] .bar em{background:#555;color:#fff}
.z-howto .box{position:relative;background:#00b2b2;color:#fff;border-radius:.8em;-webkit-border-radius:.8em;padding:20px 20px 20px 40px;font-size:18px}
.z-howto .zone1 .row:not(:last-child) .box{margin-bottom:20px;z-index:2}
.z-howto .row figure{text-align:center}
.z-howto [class*="zone2"] .box{background:#e3868b;padding-top:40px}
.z-howto .box>b{display:block;font-size:36px;font-style:italic;font-weight:400;margin-bottom:10px;line-height:normal}
.z-howto .box>ul>li{position:relative;margin-bottom:20px}
.z-howto .box>ul>li:before{content:"";display:block;position:absolute;top:10px;left:-20px;width:8px;height:8px;background:#fff;border-radius:5em;-webkit-border-radius:5em}
.z-howto .box>ul>li.mid:before{top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);}
.z-howto .box>ul>li>span{display:inline-block;vertical-align:middle}
.z-howto .box>ul>li>div{margin-top:20px;}
.z-howto .box>ul>li>div.zoom img{cursor:zoom-in}
/*lightbox*/
.fancybox-slide--video .fancybox-content {width  :980px;
    height :600px;
    max-width  :80%;
    max-height :50%;
    margin:0;
}
.fancybox-slide--inline .move-to-app{max-width:95%;width:600px;}
.fancybox-close-small{}
.fancybox-close-small:before,.fancybox-close-small:after{content:"";display:block;width:50%;height:1px;background:#fff;border-radius:5em;-webkit-border-radius:5em;transform-origin:center;position:absolute;top:50%;}
.fancybox-close-small:before{transform:rotate(45deg);left:24%}
.fancybox-close-small:after{transform:rotate(-45deg);right:24%}
.popup{display:none;max-width:95%;width:400px;}
/*.popup.thm-trans{background:transparent;color:#fff;text-align:center;text-shadow:0 1px 1px rgba(0,0,0,.5)}*/
.popup img,.popup video{max-width:100%}
.box-middle{display:flex;flex-flow:column wrap;justify-content:center;min-height:250px;}


/*Responsive*/
@media (min-width:768px){}
@media (min-width:1024px){
.full-width{margin-left:calc(-100vw / 2 + 980px / 2 + 10px);margin-right:calc(-100vw / 2 + 980px / 2 + 10px)}
}
@media (min-width:1240px){
.full-width{margin-left:calc(-100vw / 2 + 1240px / 2 + 10px);margin-right:calc(-100vw / 2 + 1240px / 2 + 10px)}
}
@media (min-width:1025px){

}
@media (min-width:1200px) and (max-width:1439px){}
@media (min-width:1024px) and (max-width:1199px){
.main-nav>ul{padding:0 8px}
/*[id="gb-header"] .fix-r>a{padding:10px}*/
.square .sq h2{font-size:16px}
[class*="h-text"] ~ [class*="title"],.list-price p [class*="ui-btn"], .ft-contact .ui-btn-pink-sq{font-size:16px}
.table-price>*>[class*="pk-"]>h2{font-size:18px;font-weight:400}
.table-price .head-list h2,.list-price p,.rw-table>li{font-size:14px}
.z-howto .box{font-size:14px;padding-left:25px;padding-right:0px}
.z-howto .box>b{font-size:24px}
.z-howto .box>ul>li:before{left:-15px}
.z-howto .box>ul>li{margin-bottom:10px}
.z-howto .box>ul>li span>img{max-height:32px}
.z-howto .box>ul>li div{margin-top:10px}
.z-howto .z-or{width:75px;height:75px;line-height:75px;font-size:24px}
}
/*mobile*/
@media (min-width:801px) and (max-width:1199px){}
@media (min-width:768px) and (max-width:1024px){
.table-price > * > [class*="pk-"] .remark{font-size: 10px}
.table-price .head-list h2, .rw-table > li{padding-right: 10px}
}
@media (max-width:1240px){
.table-price .head-list h2{font-size:13px;}
}
@media (max-width:1024px){
body.app{padding-top:0}
.home #app{margin-top: 0!important}
.app #gb-header{display:none}
#app .bulatin-nav{}
#app .bulatin-nav>ul{align-items:stretch}
#app .bulatin-nav>ul>li{/*max-height: 130px*/}
#app .bulatin-nav>ul>li>a{height: auto}
#app .bulatin-nav>ul>li>a span{font-size:1.7vmax;white-space:nowrap}
#app .bulatin-nav>ul>li>a span small{font-size:13px;margin:-5px 0 10px}
#app .bulatin-nav > ul > li[class*="_self"]{background: #fff;display: flex;align-items: center}
/*#app .bulatin-nav > ul > li[class*="_self"] > a{max-height: 130px}*/
/*#app .bulatin-nav > ul > li[class*="_self"] > a{justify-content: flex-start}*/
}
@media (max-width:1023px){
/*scroll apps*/
/*#toc .scroll-hr{margin-left:1rem!important;display:block;max-width:100%;white-space:nowrap;overflow-x:auto!important;overflow-y:hidden}
#toc .scroll-hr>*{display:inline-block;width:65%;max-width:250px;margin-right:0.75rem;padding:0;white-space:normal}
#toc .scroll-hr:hover>*:last-child:after,#toc .scroll-hr:focus>*:last-child:after,#toc .scroll-hr:active>*:last-child:after{display:none}
#toc .scroll-hr>*:last-child:after{box-shadow:-60px 0 20px -20px rgba(255, 255, 255,0.65) inset;bottom:0;color:#464646;font-family:'FontAwesome';content:"\f054";display:inline-block;font-size:21px;line-height:40px;max-height:40px;position:absolute;width:60px;padding-left:30px;right:0;text-align:center;top:50%;transform:translate(0px, -50%);-webkit-transform:translate(0px, -50%)}*/
.square{justify-content:center}
.square .sq{margin-bottom:20px}
.square .sq h2{font-size:16px}
.list-price * [class*="ui-btn"], .ft-contact .ui-btn-pink-sq{font-size:16px}
.table-price>*>[class*="pk-"]>h2{font-size:18px;font-weight:400}
.table-price .head-list h2,.rw-table>li{font-size:13px}
.list-price p,.list-price>li>div{font-size:12px;white-space:nowrap}
.table-price .head-list .bg{padding-right:0;padding-left:30px}
.list-price>li{padding:0 3px!important}
.sec-package>.bg-gray2>.container{overflow:visible}
#app .fix-h{min-height:calc(100vh - 120px);background: url("../di/cover-profile.png") 50% 0 no-repeat; background-size: 120% 100%}
#app .bulatin-nav{background: none;border: 1px solid #fff}
.free-trial{width:32%;bottom:auto;left:8px;flex-flow:row nowrap;padding:10px;max-height:100px}
.free-trial .h{width:30%}
.free-trial .h:after{top:50%;left:110%;transform:translate(0,-50%);-webkit-transform:translate(0,-50%);margin-top:0}
.free-trial .h em span{margin-top:-2px}
.free-trial [class*="ui-btn"]{max-width:80px}
#app .box-san .panel{display:flex;flex-flow:row nowrap;justify-content:space-between;align-items:center;margin-bottom:0;margin-top: 0; background:#6C6D71;padding:6px;position:fixed;top:0;left:0;right:0;z-index: 99}
#app .box-san .panel>em{text-align:left;line-height:120%}
#app .box-san .panel>em{position: relative;display: block;padding-left:25px}
#app .box-san .panel>em i[class*="fa"]{position: absolute;top: 50%; left: -4px; width: 25px;font-size:16px; display: block;text-align: center;transform: translateY(-50%);-webkit-transform: translateY(-50%)}
#app .box-san .panel>[class*="ui-btn"]{flex-basis:70px;max-width:100%;display:inline-flex;justify-content:center;align-items:center}
[id="feature1"]{margin-top:60px}
[id="go-pricing"]{position:fixed;top:0;left:0;right:0;z-index:10;padding:5px 10px!important;background:#fff;box-shadow:0 2px 3px rgba(0,0,0,0.5)}
[id="go-pricing"] .panel{padding:0}
[id="go-pricing"] .panel .h-text{font-size:15px}
[id="go-pricing"] .button-go p{margin:0;font-size:13px;text-align:right;font-weight:200}
[id="go-pricing"] .button-go p [class*="ui-btn"]{font-size:13px;padding:3px 10px;font-weight:200;border-radius:.3em;-webkit-border-radius:.3em}
[id="go-pricing"] .button-go p big{font-weight:400}
form.form-checkout fieldset{width:auto}
.z-howto .box{position:inherit;font-size:15px;padding-left:25px;padding-right:0px}
.z-howto [class*="zone"]{padding:20px 0}
.z-howto [class*="zone"] .bar{padding-left:10px;font-size:18px;}
.z-howto [class*="zone"] .bar em{width:32px;height:32px;line-height:32px;font-size:21px}
.z-howto .zone1 .row:not(:last-child){position:relative;padding-bottom:50px;border-bottom:2px solid #eaeaea;margin-bottom:50px;}
.z-howto [class*="zone"] .box{margin-bottom:20px}
.z-howto .box>b{font-size:24px}
.z-howto .box>ul>li:before{left:-15px}
.z-howto .box>ul>li{margin-bottom:10px}
.z-howto .box>ul>li span>img{max-height:32px}
.z-howto .box>ul>li div{margin-top:10px}
.z-howto .z-or{right:auto;left:50%;transform:translate(-50%,50%);width:75px;height:75px;line-height:75px;font-size:24px}
}
@media (min-width:480px) and (max-width:736px){}
@-webkit-keyframes move{
0%{-webkit-transform:translateX(-10px);
transform:translateX(-10px)}
50%{-webkit-transform:translateX(10px);
transform:translateX(10px)}
100%{-webkit-transform:translateX(-10px);
transform:translateX(-10px)}
}
@keyframes move{
0%{-webkit-transform:translateX(-10px);
transform:translateX(-10px)}
50%{-webkit-transform:translateX(10px);
transform:translateX(10px)}
100%{-webkit-transform:translateX(-10px);
transform:translateX(-10px)}
}
@media (max-width:767px){
body.lb{overflow-x:hidden}
[id="gb-footer"] [class*="main-col"]>[class^="c"]{margin-bottom:20px;text-align:center}
[id="gb-footer"] [class*="main-col"]>[class^="c4"] h3~h3{text-align:center}
.home [class*="sec-"] figure{text-align: center!important}
.home [class*="sec-"] figure img{margin: 0 auto}
.sec-package>.bg-gray2{margin-top:0}
.table-price .head-list{padding-right:.5rem!important;margin:0}
.table-price .head-list .bg{margin-bottom:0;padding: 0; border-radius:.8em;-webkit-border-radius:.8em}
.table-price .head-list h2{font-size:15px; text-align: center}
.table-price .head-list h2:after{display: none}
.table-price>*>[class*="pk-"]{margin-top:20px}
.table-feature:after{content:"";display:block;width:48px;height:48px;background:url(../di/icon-drag.png) 50% 50% no-repeat #58b499;background-size:85% auto;border-radius:100%;-webkit-border-radius:100%;position:absolute;left:75%;top:50%;margin:-20px 0 0 -24px;opacity:.85;}
.table-feature:after{animation:move 1s infinite;-webkit-animation:move 1s infinite}
.table-feature.off:after{display:none!important}
.table-feature[class*="_chd"][class*="cl-"]{position:relative;flex-wrap:nowrap;overflow:auto}
.table-feature[class*="_chd"][class*="cl-"]>*{max-width:300px}
.table-feature[class*="_chd"][class*="cl-"]>.wrap:first-child{position:sticky;left:0;background:#fff;z-index:99;max-width:200px}
.table-feature .rw-table li{font-size:12px;padding:2px 8px;white-space:nowrap}
.list-price p.hd small{display: block;line-height: 12px; margin-top: -5px}
.list-price p.hd .visible-xs{color: #6d6e72}
.ft-contact .txt-l{text-align:center;margin-bottom:10px}
.list-price * .visible-xs{display:inline-block!important;color:#999}
.free-trial{position:relative;width:100%;left:0;margin:0}
.free-trial .h{width:24%}
.free-trial em{font-size:5vmin}
[class*="box-san"] [class*="body"]{padding: 5px}
form.fix-tabs fieldset{padding:0}
[class*="bx-keep"]{padding-top:0}
.form-keep[class*="bx-keep"] fieldset{padding: 0}
[class*="bx-keep"] .cover{padding: 10px 5px 0}
.user-avatar > .pk-detail > h2{font-size: 21px; padding-bottom: 5px;margin-bottom: 10px; white-space: nowrap;overflow: hidden}
.user-avatar > .pk-detail > p{font-size: 14px}
.cover .idTabs{padding: 0 0 0 10px;max-width: calc(100vw - 10px)}
#app .idTabs>li{margin:0;padding:0 10px 0 0}
#app .idTabs>li:first-child{padding-left:0}
#app .idTabs>li:last-child{padding-right:0}
#app .idTabs>li>a{min-width:inherit;padding:10px 0;font-size: 13px}
#app #profile-tabs .contentTabs .wrap-tab{padding:10px}
#app .bx-keep #profile-tabs .contentTabs .wrap-tab{padding: 0}
#app #profile-tabs>.idTabs{padding:10px 2.5vw 0;max-width:100vw;margin:0 -2.5vw 0 0;background:#195d51}
#app #profile-tabs>.idTabs>li{flex:0 0 auto}
#app #profile-tabs>.idTabs>li>a{font-size:16px;white-space:nowrap;color:#fff;box-shadow:none;border-radius:.5em .5em 0 0;-webkit-border-radius:.5em .5em 0 0}
#app #profile-tabs>.idTabs>li>a.selected{background:#fff;color:#000;}
#app .bulatin-nav>ul>li>a i img{max-width:70%}
#app .bulatin-nav>ul>li>a span{font-size:1.5vmax;white-space:nowrap}
#app .bulatin-nav>ul>li>a span small{font-size:11px;margin:-5px 0 5px}
[id="add-card"] .form-list .cvv{position:absolute;right:10px;width:25px;padding:0;margin-top:-35px}
.table-price .head-list .bg:after{display: none}
.list-billing>li{padding: 5px}
.list-billing>li:not(:last-child){border-bottom: 1px solid #eaeaea}
[class*="box-san"] [class*="body"]{font-size: 13px}
}
@media (max-width:480px){
[class*="h-text"]{font-size:200%}
.square .sq h2{font-size:12px}
.z-howitwork.txt-r,.z-howitwork .txt-r,[id*="feature"] .z-howitwork,[id*="feature"] .title .txt-r,[id*="feature"] .title .txt-l{text-align:center}
[class*="h-text"] ~ [class*="title"]{font-size:16px;line-height:normal;padding-left:10px;padding-right:10px}
[class*="h-text"] ~ [class*="title"] br{display:none}
.ft-contact .txt-l{width: 100%}
.list-checkout>li{margin-bottom:10px}
.list-checkout>li>*{flex-basis:100%;max-width:100%}
.list-checkout>li>span{color:#656565;font-weight:200;margin-bottom:-10px}
.list-checkout>li>div{text-align:right}
#app .user:not(.full){flex-wrap:wrap;justify-content:center;text-align:center;padding-top:10px}
#app .user:not(.full)>div{flex-basis:100%;max-width:100%;text-align:center;padding-top:8px;line-height:120%}
#app .c-user-join .user:not(.full){flex-wrap: nowrap;justify-content: flex-start}
#app .c-user-join .user>div{padding: 0 0 0 5px;}
#app .c-user-join .user>div>p{font-size: 14px;max-width: 50vw;overflow: hidden;white-space: nowrap;text-overflow:ellipsis}
#app .bulatin-nav > ul > li > a._chd-cl-xs-06 i{flex-basis: 35%;max-width: 35%;margin: 0;padding: 0}
.z-survey h2.t-black{font-size: 18px}
.z-survey form .sv .quest{text-align: left}
.star-rating.star-5:before,.star-rating.star-5:after{display: none}
.star-rating,.star-rating label{background-image: url("../di/icon-rating-smile.png")}
[class*="bx-keep"] .cover .user-avatar > .pk-detail{padding-left: 0}
[id="profile-tabs"] .user-avatar > .pk-detail > h2{white-space: nowrap;line-height: 120%;font-size: 18px}
.progress-title h3{font-size: 16px}
.progressbar li span{font-size: 8px}
}
@media (max-width:414px){
}
@media (max-width:360px){
[class*="box-san"] [class*="head-title"] .hd{font-size:16px}
}
@media (max-width:320px){
}
