
<div class="pdpa-bar">
	<div class="title">This website uses cookies to ensure you get the best experience on our website. <a href="#">Learn more</a></div> 
	<div class="ctrl-btn"><button class="ui-btn-blue" onClick="$(this).parents('.pdpa-bar').hide();">Got it!</button></div>
</div>

<footer id="gb-footer">
<div id="contact" class="container">
	<div class="main-col row _chd-cl-xs-12-sm-03">
        <div class="c1 wow fadeInUp" data-wow-delay="0.15s">
            <h3>Contact-info</h3>
            <div class="inner">
                <b> บริษัท อินโน ฮับ จำกัด </b>
                <address>99/10 หมู่ 4 อาคารซอฟต์แวร์ปารค์ ชั้น 26
                ถนนแจ้งวัฒนะ ตำบลคลองเกลือ
                อำเภอปากเกร็ด จังหวัดนนทบุรี 11120</address>
                <p><a href="tel:025026000" title="email">(662)-502-6000</a><br><a href="mailto:contactus@oto.samartcorp.com" title="email">contactus@oto.samartcorp.com</a></p>
            </div>
        </div>
                
        <div class="c2 _self-cl-xs-12-sm-06 txt-c wow fadeInUp" data-wow-delay="0.45s">
            <h3><a href="//innohub.me#about" title="About US">About Us</a></h3>
            <div class="inner">
                <p>ปัจจุบัน “บริษัท อินโน ฮับ จำกัด” ดำเนินการวิจัยและพัฒนาซอฟต์แวร์ และนวัตกรรมใหม่ๆ รองรับการเปลี่ยนแปลงของเทคโนโลยี และพฤติกรรมผู้บริโภค เพื่อต่อยอดธุรกิจ Contact Center ในส่วนของ non-voice เช่น Social monitoring, Chatbot </p>
            </div>
            
            <h3>Stay in Touch</h3>
			<ul class="list-social center-xs">
                <li>
                <a class="fb" href="//www.facebook.com/Inno-Hub-180299032490311/?eid=ARAh56Qnc3QHDQC6GsLgZfktt8_7NwfbEFRfq4tO77hUVDeEPXmb5sK0YPsqcRylgKbiRuamL57sjcZ5" title="Facebook">
                    <i class="fab fa-facebook-f" title="Facebook"></i>
                    <span class="pop">Facebook</span>
                </a>
                </li>
				<li>
                <a class="web" href="//www.innohub.me/" title="Website">
                    <i class="fas fa-globe" title="Website"></i>
                    <span class="pop">Website</span>
                </a>
                </li>
                <li>
                <a class="mail" href="mailto:contact@innohub.me" title="E-mail">
                    <i class="far fa-envelope" title="E-mail"></i>
                    <span class="pop">E-mail</span>
                </a>
                </li>
            </ul>
        </div>
        
        <div class="c3 _self-cl-xs-12 wow fadeInUp txt-r" data-wow-delay="0.25s">

            <h3>inno hub company limited</h3>
			<ul>
                <li><a href="//innohub.me#about" title="ข้อมูลบริษัท">ข้อมูลบริษัท</a></li>
                <li><a href="//www.onetoonecontacts.com/pages/36/Outsourced-Contact-Center-Services.html" title="บริการของเรา">บริการของเรา</a></li>
                <li><a href="//www.onetoonecontacts.com/pages/78/Financial-Statement.html" title="นักลงทุนสัมพันธ์">นักลงทุนสัมพันธ์</a></li>
                <li><a href="//www.onetoonecontacts.com/pages/21/Corporate-Governance.html" title="กำกับดูแลกิจการ">กำกับดูแลกิจการ</a></li>
                <li><a href="//www.onetoonecontacts.com/responsibility" title="กิจกรรมเพื่อสังคม">กิจกรรมเพื่อสังคม</a></li>
                <li><a href="//www.onetoonecontacts.com/jobs/position" title="ร่วมงานกับเรา">ร่วมงานกับเรา</a></li>
            </ul>

    </div>    
    </div>
		
 </div>
 <p class="copyright">© 2019 Keep a line. ALL RIGHTS RESERVED.</p>
</footer>