<header id="gb-header">
<div class="navbar container">
	<div class="fix-l">
		<a href="#" class="menu-button d-none d-md-block">
                <img src="di/ic-menu.png">
				<!--<svg class="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 17">
                    <rect x="0.48" y="0.5" width="7" height="1"></rect>
                    <rect x="0.48" y="7.5" width="7" height="1"></rect>
                    <rect x="0.48" y="15.5" width="7" height="1"></rect>
                </svg>
                <svg class="sub" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17">
                    <rect x="1.56" y="0.5" width="16" height="1"></rect>
                    <rect x="1.56" y="7.5" width="16" height="1"></rect>
                    <rect x="1.56" y="15.5" width="16" height="1"></rect>
                </svg>-->
            </a>
			<a href="#" class="menu-button-mobile d-xs-block d-sm-block d-md-none">
                <img src="di/ic-menu.png">
			</a>
			
	</div>
	
    <h1 itemscope="" itemtype="//schema.org/Organization" class="logo">
        <a href="/" itemprop="url">Inno Hub Company Limited</a>
        <img src="di/logo.png" itemprop="logo">
    </h1>
	
    
    <div id="main-nav" class="fix-r d-flex middle-xs flex-nowrap">

		<div class="sv-type d-inline">
			<div class="cv-select">
				<select style="width: auto" class="txt-box">
				   <option value="Department1">Department Sale</option>
				   <option value="Department2">Department Marketing</option>
				   <option value="Department3">Department IT</option>
				   <option value="Department4">Department HR</option>
				</select>
			</div>
		</div>
		<div class="line"></div>
		<a class="login" href="javascript:;" onclick="$(this).hide(); $('#u-member').show();">Login</a>
		<div id="u-member" class="group" style="display: none;">
			<a class="login" href="javascript:;" onclick="$(this).next().slideToggle(100);"><i class="avatar"><img src="di/avatar-new.png" alt="Avatar"></i> Username</a>
			<ul class="drop-menu" style="display: none;">

					<li class="m-profile">
					<a href="profile.php" title="Profile">
						<i class="icon-r-text fas fa-user"></i>
					 	<span>My Profile <small>บัญชีของฉัน</small></span>
					</a>
					</li>
					
					<li class="m-membership">
					<a href="member-account.php" title="User management ">
						<i class="icon-r-text fas fa-user-shield"></i>
					 	<span>User management <small>จัดการสมาชิก</small></span>
					</a>
					</li>
					
					<!--<li class="m-membership">
					<a href="admin-user.php" title="User management ">
						<i class="icon-r-text fas fa-users-cog"></i>
					 	<span>User Config <small>[Super Admin]</small></span>
					</a>
					</li>-->
					
					
					
					<li class="m-membership">
					<a href="company.php" title="Company">
						<i class="icon-r-text fas fa-archway"></i>
					 	<span>Company <small>[Super Admin]</small></span>
					</a>
					</li>
					
					<li class="m-membership">
					<a href="department.php" title="Project">
						<i class="icon-r-text fas fa-boxes"></i>
					 	<span>Department <small>[Super Admin]</small></span>
					</a>
					</li>
					
					<!--<li class="m-broadcasts">
					<a href="broadcasts.php" title="OA BroadCasts">
						<i class="icon-r-text"><img src="di/menu-b1.png"></i>
					 	<span>LNS <small>LINE NOTIFICATION MESSAGE</small></span>
					</a>
					</li>
					
					<li class="m-broadcasts">
					<a href="broadcasts.php" title="OA BroadCasts">
						<i class="icon-r-text"><img src="di/menu-b4.png"></i>
					 	<span>Call to LINE</span>
					</a>
					</li>
					
					<li class="m-broadcasts">
					<a href="broadcasts.php" title="OA BroadCasts">
						<i class="icon-r-text"><img src="di/menu-b6.png"></i>
					 	<span>OA Broadcasts <small>ส่งข้อความกลุ่มสมาชิก</small></span>
					</a>
					</li>-->
					
					<li>
						<a href="#" title="Sign out"><i class="fas fa-sign-out-alt"></i>
						<span>Log out</span></a>
					</li>
				</ul>
		</div>
	</div>
		
</div>
</header>

<div class="menu">
        <div class="main-menu">
            <div class="scroll">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">
                            <i class="fab fa-dashcube"></i>
                            <span>Dashboards</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#LNS">
                            <i class="fas fa-comment-alt"></i> Line Noti
                        </a>
                    </li>
                    <li>
                        <a href="#C2L">
                            <i class="nav-icon fas fa-headset"></i> Line Smart Chat
                        </a>
                    </li>
                    <li>
                        <a href="#BC">
                            <i class="fas fa-broadcast-tower"></i> Broadcasts
                        </a>
                    </li>
                    <li>
                        <a href="member-account.php">
                            <i class="fas fa-user-shield"></i> User management
                        </a>
                    </li>
                    <li>
                        <a href="#Company">
                            <i class="fas fa-file-signature"></i> Company
                        </a>
                    </li>
                    <li>
                        <a href="lns-report.php" target="_blank">
                            <i class="fas fa-chart-pie"></i> Report
                        </a>
                    </li>
					<!--<li>
                        <a href="#menu" target="_blank">
                            <i class="fas fa-bars"></i> Menu
                        </a>
                    </li>-->
                </ul>
            </div>
        </div>
		<div class="sub-menu">
            <div class="scroll">
               				
				<ul class="list-unstyled" data-link="LNS" id="menuLNS">
                    <li>
                        <a href="#" class="rotate-arrow-icon collapsed active" data-toggle="collapse">
                            <i class="fas fa-angle-down"></i> <span class="d-inline-block">Send Message</span>
                        </a>
                        <div id="collapseLNS" class="collapse active" data-parent="#menuLNS">
                            <ul class="list-unstyled inner-level-menu">
                                <li>
                                    <a href="lns.php">
                                        <i class="fas fa-bullhorn"></i> <span
                                            class="d-inline-block">Push</span>
                                    </a>
                                </li>
								<li>
                                    <a href="lns-array.php">
                                        <i class="fab fa-stack-exchange"></i> <span
                                            class="d-inline-block">Push Message Array</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="lns-create.php">
                                        <i class="fas fa-comment-medical"></i> <span
                                            class="d-inline-block">Create</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="template-list.php">
                                        <i class="fas fa-layer-group"></i> <span
                                            class="d-inline-block">My Templates</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </li>
					<li>
                        <a href="lns-setting.php">
                            <i class="fas fa-sliders-h"></i> Message Setting
                        </a>
                    </li>
					<li>
                        <a href="lns-report.php">
                            <i class="fas fa-file-medical-alt"></i> Report
                        </a>
                    </li>
				</ul>
				
				<ul class="list-unstyled" data-link="C2L" id="menuC2L">
                    <li>
                        <a href="#" class="rotate-arrow-icon collapsed active" data-toggle="collapse">
                            <i class="fas fa-angle-down"></i> <span class="d-inline-block">Send Message</span>
                        </a>
                        <div id="collapseC2L" class="collapse active" data-parent="#menuC2L">
                            <ul class="list-unstyled inner-level-menu">
                                <li>
                                    <a href="call2line.php">
                                        <i class="fas fa-bullhorn"></i> Call Message
                                    </a>
                                </li>
                                <li>
                                    <a href="call2line-create.php">
                                        <i class="fas fa-comment-medical"></i> Create
                                    </a>
                                </li>
                                <li>
                                    <a href="template-list.php">
                                        <i class="fas fa-layer-group"></i>My Templates
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </li>
					<li>
                        <a href="call2line-setting.php">
                            <i class="fas fa-sliders-h"></i> Message Setting
                        </a>
                    </li>
					<li>
                        <a href="call2line-report.php">
                            <i class="fas fa-file-medical-alt"></i> Report
                        </a>
                    </li>
				</ul>
				
				<ul class="list-unstyled" data-link="BC" id="menuBC">
                    <li>
                        <a href="#" class="rotate-arrow-icon collapsed active" data-toggle="collapse">
                            <i class="fas fa-angle-down"></i> <span class="d-inline-block">Send Message</span>
                        </a>
                        <div id="collapseBC" class="collapse active" data-parent="#menuBC">
                            <ul class="list-unstyled inner-level-menu">
                                <li>
                                    <a href="broadcasts.php">
                                        <i class="fas fa-bullhorn"></i> Push
                                    </a>
                                </li>
                                <li>
                                    <a href="broadcasts-create.php">
                                        <i class="fas fa-comment-medical"></i> Create
                                    </a>
                                </li>
                                <li>
                                    <a href="template-list.php">
                                        <i class="fas fa-layer-group"></i>My Templates
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </li>
					<li>
						<a href="#" class="rotate-arrow-icon collapsed active" data-toggle="collapse">
                            <i class="fas fa-angle-down"></i> <span class="d-inline-block">Setting</span>
                        </a>
						<div id="collapseBC2" class="collapse active" data-parent="#menuBC2">
                            <ul class="list-unstyled inner-level-menu">
							<li>
								<a href="broadcasts-acc.php">
									<i class="fas fa-users"></i> Groups Detail
								</a>
							</li>
							<li>
								<a href="broadcasts-acc-user.php">
									<i class="fas fa-user"></i> User Detail
								</a>
							</li>
							<li>
								<a href="broadcasts-setting.php">
									<i class="fas fa-sliders-h"></i> Message Setting
								</a>
							</li>
							</ul>
						</div>
                    </li>
					<li>
                        <a href="broadcasts-survey.php">
                            <i class="fas fa-tasks"></i> Survey
                        </a>
                    </li>
					<li>
						<a href="#" class="rotate-arrow-icon collapsed" data-toggle="collapse">
                            <i class="fas fa-angle-down"></i> <span class="d-inline-block">E-HR</span>
                        </a>
						<div id="collapseBC3" class="collapse" data-parent="#menuBC3" style="display: none">
                            <ul class="list-unstyled inner-level-menu">
							<li>
								<a href="e-hr-dashboard.php">
									<i class="fas fa-house-user"></i> E-HR
								</a>
							</li>
							<li>
								<a href="e-hr.php">
									<i class="fas fa-user-tie"></i> Employee
								</a>
							</li>
							<li>
								<a href="e-hr-employee.php">
									<i class="fas fa-users-cog"></i> Import User
								</a>
							</li>
							<!--<li>
								<a href="e-hr-dashboard.php">
									<i class="fas fa-house-user"></i> Message Setting
								</a>
							</li>
							<li>
								<a href="e-hr-dashboard.php">
									<i class="fas fa-house-user"></i> Report
								</a>
							</li>-->
							
							</ul>
						</div>
                    </li>
					
					<li>
                        <a href="call2line-report.php">
                            <i class="fas fa-file-medical-alt"></i> Report
                        </a>
                    </li>
				</ul>
				
				<!--<ul class="list-unstyled" data-link="User" id="menuUser">
					<li>
                        <a href="member-account.php">
                            <i class="fas fa-user-shield"></i> Message Setting
                        </a>
                    </li>
				</ul>-->
				
				<ul class="list-unstyled" data-link="Company" id="menuCompany">
					<li>
                        <a href="company.php">
                            <i class="fas fa-archway"></i> Company
                        </a>
                    </li>
					<li>
                        <a href="department.php">
                            <i class="fas fa-boxes"></i> Department (LINE OA)
                        </a>
                    </li>
					<li>
                        <a href="department.php">
                            <i class="fas fa-project-diagram"></i> Division
                        </a>
                    </li>
				</ul>


                <ul class="list-unstyled" data-link="menu" id="menuTypes">
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#collapseMenuTypes" aria-expanded="true"
                            aria-controls="collapseMenuTypes" class="rotate-arrow-icon collapsed active">
                            <i class="fas fa-angle-down"></i> <span class="d-inline-block">Menu Types</span>
                        </a>
                        <div id="collapseMenuTypes" class="collapse active" data-parent="#menuTypes">
                            <ul class="list-unstyled inner-level-menu">
                                <li>
                                    <a href="Menu.Default.html">
                                        <i class="simple-icon-control-pause"></i> <span
                                            class="d-inline-block">Default</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="Menu.Subhidden.html">
                                        <i class="simple-icon-arrow-left mi-subhidden"></i> <span
                                            class="d-inline-block">Subhidden</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="Menu.Hidden.html">
                                        <i class="simple-icon-control-start mi-hidden"></i> <span
                                            class="d-inline-block">Hidden</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="Menu.Mainhidden.html">
                                        <i class="simple-icon-control-rewind mi-hidden"></i> <span
                                            class="d-inline-block">Mainhidden</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#collapseMenuLevel" aria-expanded="true"
                            aria-controls="collapseMenuLevel" class="rotate-arrow-icon collapsed">
                            <i class="fas fa-angle-down"></i> <span class="d-inline-block">Menu Levels</span>
                        </a>
                        <div id="collapseMenuLevel" class="collapse" data-parent="#menuTypes" style="display: none">
                            <ul class="list-unstyled inner-level-menu">
                                <li>
                                    <a href="#">
                                        <i class="simple-icon-layers"></i> <span class="d-inline-block">Sub
                                            Level</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="collapse" data-target="#collapseMenuLevel2"
                                        aria-expanded="true" aria-controls="collapseMenuLevel2"
                                        class="rotate-arrow-icon collapsed active">
                                        <i class="fas fa-angle-down"></i> <span class="d-inline-block">Another
                                            Level</span>
                                    </a>
                                    <div id="collapseMenuLevel2" class="collapse active">
                                        <ul class="list-unstyled inner-level-menu">
                                            <li>
                                                <a href="#">
                                                    <i class="simple-icon-layers"></i> <span class="d-inline-block">Sub
                                                        Level</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#collapseMenuDetached" aria-expanded="true"
                            aria-controls="collapseMenuDetached" class="rotate-arrow-icon collapsed">
                            <i class="fas fa-angle-down"></i> <span class="d-inline-block">Detached</span>
                        </a>
                        <div id="collapseMenuDetached" class="collapse" style="display: none">
                            <ul class="list-unstyled inner-level-menu">
                                <li>
                                    <a href="#">
                                        <i class="simple-icon-layers"></i> <span class="d-inline-block">Sub
                                            Level</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                
            </div>
        </div>
</div>