<header id="gb-header">
<div class="container">
    <h1 itemscope="" itemtype="//schema.org/Organization" class="logo">
        <a href="/" itemprop="url">Inno Hub Company Limited</a>
        <img src="di/logo-sq.png" itemprop="logo">
    </h1>
    
    <div id="main-nav" class="fix-r">
		<!--<div class="lang">
			<a href="index-en.php">EN</a> <span>|</span> <a class="active" href="index.php">TH</a>
		</div>-->
		<ul class="nav-service">
		<li>
		<a class="ui-btn-border _self-mr10" href="lns.php">LNS</a>
		  <ul class="submenu">
				  <li><a href="lns.php" title="Send Message"><i class="fas fa-bullhorn"></i> <span>Send Message</span></a></li>
				  <li><a href="lns-create.php" title="Create Message"><i class="fas fa-layer-group"></i> <span>Create Template</span></a></li>
				  <li><a href="template-list.php" title="My Templates"><i class="fas fa-layer-group"></i> <span>My Templates</span></a></li>
				  <li><a href="lns-setting.php" title="Message Setting"><i class="fas fa-sliders-h"></i> <span>Message Setting</span></a></li>
				  <li><a href="lns-report.php" title="Report"><i class="fas fa-file-medical-alt"></i> <span>Report</span></a></li>
		  </ul>
		</li>
		<li>
		<a class="ui-btn-border _self-mr10" href="call2line.php">Call 2 line</a>
		  <ul class="submenu">
				  <li><a href="call2line.php" title="Send Message"><i class="fas fa-bullhorn"></i> <span>Send Message</span></a></li>
				  <li><a href="call2line-create.php" title="Create Message"><i class="fas fa-layer-group"></i> <span>Create Template</span></a></li>
				  <li><a href="template-list.php" title="My Templates"><i class="fas fa-layer-group"></i> <span>My Templates</span></a></li>
				  <li><a href="call2line-setting.php" title="Message Setting"><i class="fas fa-sliders-h"></i> <span>Message Setting</span></a></li>
				  <li><a href="call2line-report.php" title="Report"><i class="fas fa-file-medical-alt"></i> <span>Report</span></a></li>
		  </ul>
		</li>
		<li>
		<a class="ui-btn-border _self-mr10" href="broadcasts.php">Broadcasts</a>
		  <ul class="submenu">
				  <li><a href="broadcasts.php" title="Send Message" class="selected"><i class="fas fa-bullhorn"></i> <span>Send Message</span></a></li>
				  <li><a href="broadcasts-create.php" title="Create Message"><i class="fas fa-layer-group"></i> <span>Create Template</span></a></li>
				  <li><a href="template-list.php" title="My Templates"><i class="fas fa-layer-group"></i> <span>My Templates</span></a></li>
				  <li><a href="broadcasts-acc.php" title="User Detail"><i class="fas fa-users-cog"></i> <span>User Detail</span></a></li>
				  <li><a href="broadcasts-setting.php" title="Message Setting"><i class="fas fa-sliders-h"></i> <span>Message Setting</span></a></li>
				  <li><a href="broadcasts-report.php" title="Report"><i class="fas fa-file-medical-alt"></i> <span>Report</span></a></li>
				  <li><a href="e-hr.php" title="E-HR"><i class="fas fa-house-user"></i> <span>E-HR</span></a></li>
				  <li><a href="broadcasts-survey.php" title="Survey"><i class="fas fa-tasks"></i> <span>Survey</span></a></li>
		  </ul>
		</li>
		</ul>
		
		<div class="line"></div>
		<a class="login" href="javascript:;" onClick="$(this).hide(); $('#u-member').show();">Login</a>
		<div id="u-member" class="group" style="display: none">
			<a class="login" href="javascript:;" onClick="$(this).next().slideToggle(100);"><i class="avatar"><img src="di/avatar-new.png" alt="Avatar"></i> Username</a>
			<ul class="drop-menu">

					<li class="m-profile">
					<a href="profile.php" title="Profile">
						<i class="icon-r-text fas fa-user"></i>
					 	<span>My Profile <small>บัญชีของฉัน</small></span>
					</a>
					</li>
					
					<li class="m-membership">
					<a href="member-account.php" title="User management ">
						<i class="icon-r-text fas fa-user-shield"></i>
					 	<span>User management <small>จัดการสมาชิก</small></span>
					</a>
					</li>
					
					<!--<li class="m-membership">
					<a href="admin-user.php" title="User management ">
						<i class="icon-r-text fas fa-users-cog"></i>
					 	<span>User Config <small>[Super Admin]</small></span>
					</a>
					</li>-->
					
					
					
					<li class="m-membership">
					<a href="company.php" title="Company">
						<i class="icon-r-text fas fa-archway"></i>
					 	<span>Company <small>[Super Admin]</small></span>
					</a>
					</li>
					
					<li class="m-membership">
					<a href="department.php" title="Project">
						<i class="icon-r-text fas fa-boxes"></i>
					 	<span>Department <small>[Super Admin]</small></span>
					</a>
					</li>
					
					<!--<li class="m-broadcasts">
					<a href="broadcasts.php" title="OA BroadCasts">
						<i class="icon-r-text"><img src="di/menu-b1.png"></i>
					 	<span>LNS <small>LINE NOTIFICATION MESSAGE</small></span>
					</a>
					</li>
					
					<li class="m-broadcasts">
					<a href="broadcasts.php" title="OA BroadCasts">
						<i class="icon-r-text"><img src="di/menu-b4.png"></i>
					 	<span>Call to LINE</span>
					</a>
					</li>
					
					<li class="m-broadcasts">
					<a href="broadcasts.php" title="OA BroadCasts">
						<i class="icon-r-text"><img src="di/menu-b6.png"></i>
					 	<span>OA Broadcasts <small>ส่งข้อความกลุ่มสมาชิก</small></span>
					</a>
					</li>-->
					
					<li>
						<a href="#" title="Sign out"><i class="fas fa-sign-out-alt"></i>
						<span>Log out</span></a>
					</li>
				</ul>
		</div>
	</div>
	
<!--	<div class="main-navi">
	<div class="btn-nv-m" role="navigation">
    	<a class="b-ex" href="javascript:;" title="Expand">
            	<span>&nbsp;</span>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
            </a>
    </div>
    <nav id="navigation" class="main-nav" role="navigation">
      <ul id="nav-drop">    
		<li class="home pg"><a href="index.php" title="HOME" class="active">หน้าหลัก</a></li>
		<li class="pg"><a href="features.php" title="Features">ฟีเจอร์เด่น</a></li>
		<li class="pg"><a href="package.php" title="Pricing">ราคา</a></li>
		<li class="pg"><a href="terms.html" title="Privacy & Terms">นโยบายความเป็นส่วนตัว</a></li>
		<li class="pg"><a href="javascript:;" title="FAQ">คำถามที่พบบ่อย</a></li>
		<li class="link visible-xs visible-sm"><a href="contact.php">Contact Us</a></li>
		<li class="link visible-xs visible-sm"><a class="ui-btn-green" href="getstarted.php"><i class="icon-on-start"></i> Get Started</a></li>
        </ul>
    </nav>
	</div>-->
	
</div>
</header>