<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="Keywords" content="LINE Notification Message">
<meta name="description" content="LINE Notification Message, Inno Hub Company Limited, ทำการวิจัยและพัฒนาซอฟต์แวร์ และนวัตกรรมใหม่ๆ รองรับการเปลี่ยนแปลงของเทคโนโลยี และพฤติกรรมผู้บริโภค เพื่อต่อยอดธุรกิจ Contact Center ในส่วนของ non-voice เช่น Social monitoring, Chatbot">
<meta name="author" content="Inno Hub Company Limited">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

<link href="di/favicon.png" rel="shortcut icon" />
<title>:: LINE Notification Message ::</title>
<!-- Custom styles for this template -->
<!-- https://storage.googleapis.com/statics.santakeep.com/ -->
<!--<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/609faac2d5.js" crossorigin="anonymous"></script>-->
<link href="//fonts.googleapis.com/css?family=Mitr:200,300,400&display=swap&subset=thai" rel="stylesheet"> 
<link href="fonts/webfonts/awesome.css" rel="stylesheet" type="text/css">
<link href="cs/flexgrid.css" rel="stylesheet" type="text/css">
<link href="cs/flexslider.css" rel="stylesheet" type="text/css">
<link href="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<link href="cs/theme-landing.css" rel="stylesheet">
<link href="cs/broadcast.css" rel="stylesheet">
<link href="cs/ehr.css" rel="stylesheet">

<link rel="contents" href="#toc" title="Table Of Contents" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<!--<script src="js/jquery-1.11.3.min.js"></script> -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>